.container {
	padding: 80px 0 180px;
}

.container.progress {
	display: none;
}

.column-2 p {
	font-size: 18px;
}

.column-2 p span {
	font-weight: bold;
	color: #040a07;
}

.column-2 ul {
	margin-top: 60px;
}

.column-2 ul li {
	display: block;
	margin-bottom: 50px;
	padding-left: 104px;
	position: relative;
}

.column-2 ul li span.description {
	display: inline-block;
	vertical-align: top;
}

.column-2 ul li .title {
	font-size: 24px;
	font-weight: 900;
	color: #040a07;
	margin-bottom: 8px;
	display: block;
}

.column-2 ul li .icon {
	width: 80px;
	height: 80px;
	background-color: #ffcc39;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	padding: 16px 0;
	margin-right: 10px;
	vertical-align: top;
	position: absolute;
	left: 0;
	top: 0;
}

@media screen and (max-width: 1024px)
{
	.container {
		padding: 120px 0;
	}

	.column-2 p {
		font-size: 16px;
	}

	.column-2 ul li .icon {
		width: 64px;
		height: 64px;
		padding: 12px 0;
	}

	.column-2 ul li .icon img {
		width: 39px;
		height: 38px;
	}
}

@media screen and (max-width: 768px)
{
	.column-2 {
		width: 60%;
	}
}

@media screen and (max-width: 550px)
{
	.column-2 {
		width: 100%;
	}

	.column-offset-2 {
		margin-left: 0;
	}
	.container {
		padding: 120px 32px 120px;
	}
	h1 {
		font-size: 34px;
	}
	.column-2 p {
		font-size: 16px;
		line-height: 24px;
	}

	.column-2 ul li {
		padding-left: 84px;
	}
}

@media screen and (max-width: 320px)
{
	.container {
		padding: 120px 15px;
	}
}