.---Funnel-form h2 {
	color: #040a07;
}
.---Funnel-form p {
	font-size: 14px;
}

.switch-box p {
  font-size: 10px;
}
.slider.round {
  margin: 0;
}

.---Funnel-form .right {
  width: 360px;
}

.---Funnel-form .right .output {
  word-break: break-all;
}

.---Funnel-form .left {
	margin-top: 0;
	width: 520px;
  float: left;
}

.---Funnel-form .btn-final-step {
  background-color: #fceab3;
}

.---Funnel-form .group-wrapper .left {
  width: auto;
  margin: 0;
} 

.---Funnel-form .left .intro {
	color: #040a07;
	font-size: 18px;
	margin-bottom: 50px;
}

.---Funnel-form .left > a {
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
}

.---Funnel-form .left .intro a {
	font-weight: bold;
	text-decoration: underline;
}

.---Funnel-form select {
  -webkit-appearance: auto !important;
}

.item-section {
  height: 0px;
  visibility: hidden;
  opacity: 0;
}

.item-section .form-group {
  height: 0;
}

.item-section.active .form-group {
  height: auto;
}

/*.item-section.hidden,*/
.item-section.final {
  display: none;
}

.item-section .read-more {
  font-weight: 900;
  text-decoration: underline;
  font-size: 14px;
}

.item-section.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.form-group.first {
	margin-top: 30px;
}

.label-container {
  display: inline-block;
  float: left;
  position: relative;
  background-color: #fff;
  max-width: 120px;
  width: 120px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.label-container.leftOne {
	border-right: none;
}

/* Hide the browser's default radio button */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
}

/* Create a custom radio button */
.---Funnel-form label span.checkmark {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  bottom: 0;
  right: 0;
  height: 58px;
  width: 100%;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: #51b989;
}

/* When the radio button is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: #51b989;
}

/* Show the indicator (dot/circle) when checked */
.label-container:hover input ~ .checkmark span {
  color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}
/* Show the indicator (dot/circle) when checked */
.label-container input:checked ~ .checkmark span {
  color: #fff;
}

.label-container span.text {
	display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.label-container span.text span {
	color: #040a07;
	font-weight: 200;
	margin: 0;
	font-size: 11px;
}

.---Funnel-buttons {
	max-width: none;
}

.---Funnel-buttons .btn {
  width: 173px;
}

.btn.disabled {
	background-color: #CCC;
}

.group-wrapper .right,
.group-wrapper .left {
	width: 50%;
	margin-right: 0;
}

.form-group {
	margin-bottom: 30px;
}

.form-group.lastOne {
  visibility: hidden;
}

.form-group.lastOne.active {
  visibility: visible;
}

.form-group > label {
	font-weight: 900;
	color: #040a07;
	font-size: 13px;
	margin-bottom: 10px;
	display: block;
  position: relative;
}

.form-group > label > a {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
}

.form-group > .under-label {
  margin-bottom: 4px;
}

.form-group > .label-container {
	display: inline-block;
}

.form-group a.small {
	font-size: 12px;
	display: block;
	color: #aaa;
	text-decoration: underline;
	margin-bottom: 10px;
}

.form-group.lastOne {
	padding-top: 14px;
}

.form-group .small-info {
  font-size: 11px;
  display: block;
  margin-bottom: 20px;
}

.form-group .large-info {
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
  color: #040a07;
}

.---Funnel-form .select-label select {
  display: inline-block;
  max-width: 140px;
  margin: 0 30px;
  font-size: 12px;
}
.---Funnel-form .select-label span {
  display: inline-block;
  font-size: 11px;
  margin-left: 0;
  margin-bottom: 0;
  font-weight: normal;
  color: #6e706f;
  vertical-align: middle;
}

.---Funnel-form .select-label .price {
  font-weight: 900;
  font-size: 16px;
  color: #040a07;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
}

.---Funnel-form .select-label .info-label span {
  font-weight: 900;
  margin-bottom: 2px;
}

.---Funnel-form .select-label .info-label {
  max-width: 357px;
}


.collapse {
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 16px;
}

.collapse:last-child {
  margin-bottom: 0;
}

.collapse .title {    
  font-weight: 600;
  color: #040a07;
  font-size: 14px;
  display: block;
  text-align: left;
  position: relative;
  padding-left: 20px;
}

.collapse.active .title {
  margin-bottom: 16px;
}

.collapse .title img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);  
  transform: rotate(180deg);
}

.collapse.active .title img {
  transform: rotate(0deg);
}

.collapse .title .pull-right {
  float: right;
}

.collapse > div,
.collapse ul {
  display: none;
}

.collapse ul li {
  display: block;
  padding-bottom: 8px;
  margin-left: -1.5px;
}

.collapse ul li:last-child {
  padding-bottom: 0;
}

.collapse.active > div,
.collapse.active ul {
    display: block;
}

.collapse .description {
  font-size: 12px;
  
}

.collapse .prices div:not(.clearfix, .show) {
  display: none;
  margin-bottom: 8px;
}

.collapse .prices div.show {
  margin-bottom: 8px;
}

.collapse .prices span {
  font-size: 13px;
}
.collapse .prices span.label-left {
  float: left;
}

.collapse .prices span.label-left span {
  font-size: 11px;
  margin-left: 6px;
}

.collapse .prices span.label-center {
  float: right;
}

.collapse .prices span.label-right {
  float: right;
  min-width: 40px;
  text-align: right;
}

.right .result-box .total {
  margin: 20px 0 40px;
  font-size: 18px;
  font-weight: 900;
  color: #51B989;
}

.right .result-box .totalLabel {
  float: left;
}

.right .result-box .totalPrice {
  float: right;
}

.right .outro {
  color: #7f8c86;
  font-size: 12px;
  margin-top: 40px;
}

.blink_me {
  animation: blinker 2.5s linear infinite;
}

.switch-box {
  overflow: hidden;
}

@keyframes blinker {
  0% { opacity: 0; }  
  /*50% {     text-shadow: 0 0 6px rgb(202 228 225 / 92%), 0 0 30px rgb(202 228 225 / 34%), 0 0 12px #78bc9d, 0 0 21px #51b989, 0 0 34px #51b989, 0 0 54px #51b989; }*/
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (min-width: 1200px) {
  .---Funnel-form .left {
    width: 680px;
    margin-left: 30px;
  }
}

@media (min-width: 1023px) and (max-width: 1200px) {
  .---Funnel-form .left {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .---Funnel-form .left {
    width: 480px;
    margin-left: 30px;
  }
  .group-wrapper .right {
    float: left;
  }
  .group-wrapper .left {
    float: right;
  }

  .group-wrapper .right, .group-wrapper .left {
      width: 50%;
      margin-right: 0;
  }
}

@media screen and (max-width: 989px) {
  .---Funnel-form .result-box {
    margin-bottom: 20px;
  }
  
  .---Funnel-form:nth-child(1) .right {
    display: block;
  }
  .---Funnel-form .left {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .---Funnel-form .result-box {
    margin-top: 0;
  }
  .collapse.active .title {
    max-height: 12px;
  }
  .---Funnel-form .right {
    display: block !important;
    margin: 0 auto;
  }

  .collapse .title .pull-left {
    position: absolute;
    left: 0;
    padding-left: 20px;
    float: none;
  }

  .collapse .title .pull-right {
    position: absolute;
    right: 0;
    float: none;

  }

  .---Funnel-form .group-wrapper .right {
    display: inline-block !important;
  }
  .item-section.active {
    height: 100%;
  }
  .---Funnel-buttons .button-right .btn {
    margin-right: 0;
  }
  .switch-box {
    margin-top: -50px;
  }
}

@media screen and (max-width: 768px) {
 /* .---Funnel-form {
    margin-top: 170px !important;
  }*/
  
}

@media screen and (max-width: 550px) {
  footer {
    margin-top: 140px;
  }
  .group-wrapper .right, .group-wrapper .left {
    width: 100%;
    float: none;
  }
  .---Funnel-form .right {
    width: auto;
  }
  .---Funnel-form .select-label .info-label {
    margin-top: 10px;
  }
  body > .container {
    margin: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  body > .container {
    margin: 0 15px;
  }
  .---Funnel-form .right {
    margin-right: 0;
  }
  .---Funnel-form .select-label select {
    max-width: 130px;
    margin: 0 15px;
  }
  .form-group > label > a {
    left: auto;
    right: 0;
  }
}