body {
	background-color: #f9f9f9;
}
.container.cart {
	padding-top: 40px;
}

h3 {
	color: #040a07;
}

footer h3 {
	color: #fff;
}

.custom-column-9 {
	display: inline-block;
	float: left;
	width: 720px;
	max-width: 720px;
	margin-right: 70px;
}


.custom-column-3 {
	max-width: 260px;
	width: 260px;
	display: inline-block;
	float: left;
}

.container.cart.woocommerce-cart {
	padding: 0;
	max-width: none;
}

.product-box {
	background-color: #fff;
	padding: 28px 34px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	margin-bottom: 20px;
}

.product-box .picture {
	display: inline-block;
	float: left;
	margin-right: 37px;
	vertical-align: top;
}

.product-box .details {
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 558px;
	max-width: 558px;
	position: relative;
}

.product-box .details .name a {
	font-size: 20px;
	font-weight: 800;
	color: #040a07;
	display: inline-block;
	float: left;
	vertical-align: top;
	max-width: 300px;
}

.product-box .picture img {
	/*height: 100px;*/
	max-height: 100px;
	width: 56px;
}

.product-box .price {
	float: right;
	width: 90px;
	max-width: 90px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.product-box .price .product-price span {
	font-size: 18px;
	font-weight: 800;
	color: #040a07;
}

.woocommerce a.remove {
	position: absolute;
	right: 4px;
	top: 4px;
	color: #51b989 !important;
}

.woocommerce a.remove:active,
.woocommerce a.remove:hover {
	color: #040a07 !important;
	background-color: transparent !important;
}
/*
.product-box .price .product-price span:not(.woocommerce-Price-currencySymbol) {
	font-size: 12px;
	font-weight: normal;
	color: #9faba5;
	text-align: right;
	display: block;
}
*/
.specs {
	margin-top: 8px;
}

.specs li {
	display: block;
	font-size: 14px;
	color: #6e706f;
	vertical-align: middle;
	margin-bottom: 4px;
}

.specs li .label {
	width: 105px;
	max-width: 105px;
	display: inline-block;
	margin-right: 16px;
	vertical-align: top;
}

.specs li .value {
	width: 140px;
	max-width: 140px;
	display: inline-block;
	margin-right: 16px;
	vertical-align: top;
}


.specs li .price {
	font-size: 14px;
  	font-weight: bold;
  	color: #040a07;
}

.specs li .price.free {
  	color: #9faba5;
  	font-weight: normal;
}

.specs li a {
	vertical-align: middle;
}

.amount-box {
	position: absolute;
	background-color: #fff;
	top: 4px;
	right: 120px;
}

.amount-box > a,
.amount-box > div:not(.clearfix) {
	float: left;
	display: inline-block;
	width: 27px;
	max-width: 27px;
	text-align: center;
	border: solid 1px #d6dcd9;
	font-size: 12px;
	color: #040a07;
	font-weight: bold;
	padding: 6px 0;
}

.amount-box > div:not(.clearfix) {
	padding: 0;
}

.amount-box a.minus {
	border-right: none;
}


.totalPrice {
	max-width: 350px;
	float: right;
	margin-top: 40px;
}

.totalPrice ul {
}

.totalPrice ul li {
	display: block;
	padding-top: 16px;
	padding-bottom: 8px;
	font-size: 14px;
	color: #040a07;
	padding-right: 34px;
}

.totalPrice ul li.line {
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 16px;
	padding-top: 12px;
}

.totalPrice ul li .label {
	text-align: right;
	display: inline-block;
	vertical-align: top;
	width: 90px;
	max-width: 90px;
}

.totalPrice ul li .price {
	display: inline-block;
	text-align: right;
	width: 160px;
	max-width: 160px;
	color: #040a07;
}

.totalPrice ul li.total .label {
	font-size: 16px;
  	font-weight: 800;
}
.totalPrice ul li.total .price {
	font-size: 16px;
  	font-weight: 800;
}

.wc-proceed-to-checkout a.checkout-button {
	height: 52px;
	line-height: 52px;
	width: auto;
	padding: 0 25px !important;
	float: right !important;
	margin-top: 40px;
	font-size: 16px !important; 
	font-weight: 900 !important;
	color: #14192e !important; 
	background-color: #ffd866 !important;
	text-align: center;
	display: inline-block;
}
.tax_label {
	display: block;
}
.btn.wc-backward {
	width: auto;
	line-height: 52px;
	display: inline-block;
	margin-top: 40px;
	text-align: center;
	padding:  0 20px;
}

.woocommerce .quantity .qty {
	width: 27px;
	text-align: center;
	border: none;
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
.woocommerce .quantity .qty::-webkit-outer-spin-button,
.woocommerce .quantity .qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.woocommerce .quantity .qty[type=number] {
  -moz-appearance: textfield;
}
nav .top-menu li a.btn {
	margin-top: 0;
	float: none;
}

.woocommerce ul.products li.product a img {
	max-height: 112px;
	width: auto;
}

@media screen and (max-width: 1024px)
{
	.container.cart {
		margin: 100px auto;
	}

	.custom-column-3 {
		float: none;
		display: block;
		margin-top: 40px;
		max-width: none;
	}
	.custom-column-9 {
		float: none;
		width: 100%;
		display: block;
		max-width: none;
	}
}

@media screen and (max-width: 768px)
{
	.container.cart {
		margin-top: 0;
	}

	.product-box .details .name {
		padding-bottom: 120px;

	}
	.product-box {
		position: relative;
	}

	.product-box .details {
		width: 100%;
		max-width: 100%;
	}

	.product-box .picture {
		position: absolute;
		top: 70px;
		left: 40px;
	}
	.product-box .picture img {
		height: 80px;
		max-height: 80px;
	}
	.amount-box {
		right: 0;
		top: 60px;
	}

	.product-box .details .name a {
		max-width: none;
	}

	.custom-column-3 { 
		margin: 40px auto;
	}
	.product-box .details .name a {
		font-size: 18px;
	}
}


@media screen and (max-width: 550px)
{
	.container.cart {
		margin-top: 0;
	}
	h1{
		font-size: 24px;
		margin-bottom: 24px;
	}
	.product-box .details .name {
		font-size: 16px;
		max-width: 200px;
		padding-bottom: 100px;
	}
	.specs li .label {
		display: none;
	}
	.product-box {
		padding: 24px;
	}
	a.btn {
		float: none;
		margin: 40px auto 0;
		display: block;
		max-width: 250px;
	}
	.product-box .price {
		width: 85px;
		max-width: 85px;
	}
	.specs li .price {
		font-size: 12px;
	}
	.totalPrice {
		width: 100%;
		padding: 0 24px;
	}
	.totalPrice ul li {
		padding-right: 0;
	}
	.totalPrice ul li.line {
		padding-bottom: 28px;
	}
	.totalPrice ul li .label {
		text-align: left;
		float: left;
	}
	.totalPrice ul li .price {
		float: right;
	}

	.woocommerce-message .button {
		float: none !important;
		margin-bottom: 20px !important;
	}

	.specs li .value {
		max-width: 130px;
		width: 130px;
	}
}

@media screen and (max-width: 320px)
{
	.container.cart {
		padding: 0 32px;
	}
	h1 {
		font-size: 20px;
	}
	.product-box .details .name a {
		font-size: 14px;
	}
	.product-box .details .name {
	    font-size: 13px;
	    max-width: 150px;
	    padding-bottom: 100px;
	}
	.product-box .price .product-price{
		font-size: 13px;
	}
	.product-box .price .product-price span {
		font-size: 13px;
	}
	.product-box .picture {
		top: 70px;
	}
	.specs li .value {
		font-size: 11px;
		max-width: 100px;
		width: 100px;
	}
	.specs li .price {
		width: 50px;
		max-width: 50px;
	}
	.totalPrice ul li .price {
		width: 100px;
		max-width: 100px;
	}
	.totalPrice ul li .label {
		width: 50px;
		max-width: 50px;
	}
	a.btn {
		font-size: 14px;
	}
}