body {
	background-color: #f9f9f9;
}

.container.progress {
	padding: 40px 50px;
}

.progress-wrapper {
	position: relative;
	background-color: #d3d3d3;
	height: 3px;
	max-width: 250px;
	margin: 0 auto;
}

.progress ul li {
	display: inline-block;
	position: relative;
	top: -8px;
	width: 25%;
	padding-top: 28px;
}


#order_review {
	margin: 30px auto 0;
	max-width: 550px;
}

#order_review [name=mollie-payments-for-woocommerce_issuer_mollie_wc_gateway_ideal] {
	-webkit-appearance: auto;
	-moz-appearance: auto;
}

#order_review table.shop_table th {
	color: #040a07;
	font-weight: bold;
}

#order_review .order_item .wc-item-meta-label {
	/*float: none;*/
	/*clear: none;*/
	vertical-align: top;
}

#order_review .payment_box {
	display: none !important;
}

#order_review .order_item ul li::after {
	display: block;
	clear: both;
	height: 0px;
	content: "";
}

#order_review .order_item ul li p {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	transform: translateY(6px);
	color: #040a07;
	float: right;
}

#order_review table.shop_table td {
	color: #040a07;
}

#order_review table.shop_table td.product-name {
	font-size: 22px;
	color: #040a07;
	font-weight: 900;
}

#order_review .wc-item-meta {
	margin-top: 30px;
}

.progress ul li:nth-child(1) {
	position: absolute;
	left: 0;
}

label.checkbox.black {
	margin-top: 20px;
}

label > span.custom-label {
	color: #040a07;
}

.progress ul li:nth-child(1) .title {
	position: absolute;
	left: -50px;

}

.progress ul li:nth-child(2) {
	position: absolute;
	left: 25%;
	transform: translateX(-25%);
	text-align: center;
}
.progress ul li:nth-child(2) .title {
	position: absolute;
	left: 15%;
}
.progress ul li:nth-child(3) {
	position: absolute;
	left: 50%;
	text-align: center;
}
.progress ul li:nth-child(3) .title {
	position: absolute;
	left: 25%;
}
.progress ul li:nth-child(4) {
	position: absolute;
	right: 0;
	text-align: right;
}
.progress ul li:nth-child(4) .title {
	position: absolute;
	right: -34px;
}

.progress ul li .bullet{
	width: 19px;
	height: 19px;
	top: 0;
	background-color: #f9f9f9;
	border: 2px solid #d3d3d3;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	z-index: 99;
}

input[type=email],
input[type=phone],
select:focus,
input[type=text]:focus {
	border: 1px solid #d3d3d3;
}


.progress ul li.active .bullet{
	background-color: #51b989;
	border: none;
}

.progress ul li .bullet_active{
	width: 19px;
	height: 19px;
	background-color: #FFF;
	border: 2px solid #51b989;
	position: absolute;
	top: 0;
	display: inline-block;
	border-radius: 50%;
}

.progress ul li .bullet_active .bullet_inner {
	width: 10px;
	height: 10px;
	background-color: #51b989;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
}

.progress ul li:last-child .bullet_active .bullet_inner {
	left: 2.75px;
}

.progress .line {
	display: block;
	height: 3px;
	background-color: #51b989;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	z-index: 9;
}


.progress .line.line1 {
	width: 32%;
}

.progress .line.line2 {
	width: 32%;
	left: 31%;
}

.progress ul li .title{
	display: block;
	color: #d3d3d3;
	font-weight: 900;
	font-size: 12px;
	cursor: pointer;
}

.progress ul li.active .title{
	color: #51b989;
}

.container.checkout {
	margin-top: 40px; 
	padding: 0 0 180px;
}

.checkout .result-box {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 24px;
}

.custom-column-6 {
	width: 50%;
	display: inline-block;
	padding: 0 15px;
	float: left;
	margin-left: 8.33333333%;
}

.custom-column-4 {
	width: 33.33333367%;
	display: inline-block;
	padding: 0 15px;
	float: left;
	margin-left: 8.33333333%;
}

.result-box {
	width: 300px;
	float: right;
}

.result-box h3 {
	color: #040a07;
	margin-bottom: 16px;
}

.column-5 {
	float: left;
}

.form-group {
	margin-bottom: 16px;
}

.form-group select[name=gender] {
	max-width: 180px;
}

.suggestion span {
	color: #9faba5;
	font-size: 14px;
	margin-top: 8px;
	display: inline-block;
}
.suggestion a {
	color: #51b989;
	text-decoration: underline;
	font-size: 14px;
	display: inline-block;
	margin-left: 8px;
}

label > span {
	color: #9faba5;
	font-size: 14px;
	font-weight: normal;
	margin-left: 8px;	
}

label > a {
	vertical-align: middle;
	margin-left: 8px;
	display: inline-block;
}

form input[type=submit] {
	width: 250px;
	margin-top: 30px;
}

.conditions {
	margin-top: 16px;
	max-width: 250px;
}
.woocommerce-terms-and-conditions-checkbox-text {
	color: #7f8c86;
	font-size: 12px;
	line-height: normal;
}

.woocommerce-terms-and-conditions-checkbox-text a {
	color: #51b989;
	text-decoration: underline;
}

.woocommerce form .form-row .input-checkbox {
	margin-top: -7px;
}

.product {
	border-bottom: 1px solid #efefef;
	padding-bottom: 20px;
	margin-bottom: 20px !important;
}

.product:last-child {
	border-bottom: none;
}

.product .picture {
	display: inline-block;
	max-width: 45px;
	vertical-align: top;
}

.product .picture img {
	max-height: 80px;
}

.product .details {
	vertical-align: top;
	display: inline-block;
	width: 178px;
	max-width: 178px;
	margin-left: 24px;
	font-weight: 800;
	color: #040a07;
}

.product .details .amount-parent {
	position: relative;
}

.product .details .amount {
	font-size: 14px;
	float: left;
}

.product .details .price {
	font-size: 14px;
	float: right;
}
.product .details .tax_label {
	font-size: 10px;
	display: block;
	color: #9faba5;
	font-weight: normal;
	text-align: right;
	margin-top: 2px;
}

.product .details .name {
	margin-bottom: 4px;
}

.product .specs {
	margin-top: 20px;
	color: #6e706f;
	font-size: 14px;
	font-weight: normal;
}

form .btn {
	margin-top: 30px;
	padding: 14px 20px;
	display: inline-block;
	width: 250px;
	text-align: center;
}

.product .specs ul li {
	display: block;
	margin-bottom: 4px;
}

.product .specs ul li .item {
	display: inline-block;
	max-width: 178px;
	width: 178px;
	margin-right: 20px;	
}

.product .specs ul li .price {
	display: inline-block;
	text-align: right;
	width: 50px;
	max-width: 50px;
	font-size: 12px;
	font-weight: bold;
	color: #040a07;
}

.product .specs ul li .price.free {
	color: #9faba5;
	font-weight: normal;
}

.checkoutLink {
	display: block;
	margin-top: 20px;
	color: #51b989;
	text-decoration: underline;
	font-weight: 900;
	font-size: 14px;
	padding-left: 16px;
	position: relative;
}

.checkoutLink img {
	vertical-align: middle;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 11px;
}

.changeAddress {
	display: none;
	margin-top: 16px;
	margin-bottom: 8px;
}


.totalPrice {
	display: none;
	width: 300px;
	float: right;
	margin-top: 12px;
}

.totalPrice.active {
	display: block;
}

.totalPrice ul {
	max-width: 270px;
	margin: 0 16px;
}

.totalPrice ul li {
	display: block;
	padding-top: 16px;
	padding-bottom: 8px;
	font-size: 14px;
	color: #040a07;
}

.totalPrice ul li.line {
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 16px;
	padding-top: 12px;
}

.totalPrice ul li .label {
	width: 170px;
	max-width: 170px;
	display: inline-block;
	vertical-align: top;
}

.totalPrice ul li .price {
	display: inline-block;
	text-align: right;
	width: 90px;
	max-width: 90px;
	color: #040a07;
}

.totalPrice ul li .price .tax_label {
	display: block;
}

.totalPrice ul li.total .label {
	font-size: 20px;
  	font-weight: 800;
  	vertical-align: middle;
}
.totalPrice ul li.total .price {
	font-size: 16px;
  	font-weight: 800;
  	vertical-align: middle;
}

#block_payment,
#block_review {
	display: none;
}


@media screen and (max-width: 1200px)
{
	.container.checkout {
		margin-top: 40px; 
		padding: 0 30px 180px;
	}
}

@media screen and (max-width: 1024px)
{
	.container.progress {
		margin-top: 50px;
	}
}

@media screen and (max-width: 768px)
{
	.custom-column-4 {
		display: none;
	}
	.custom-column-6 {
		width: 100%;
		float: none;
		display: block;
		margin-left: 0;
	}
	
	.column-6 {
		margin: 8px 0;
		width: 30%;
	}

	.zip-row .column-6:nth-child(1) {
		display: block;
		float: none;
	}

	.changeAddress .column-5 {
		margin-bottom: 16px;
	}

	.container.checkout {
		padding-bottom: 120px;
	}

	h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.column-2 {
		width: 100%;
		display: block;
		float: none;
	}

	.checkbox.black {
		max-width: 250px;
	}

	form input[type=submit] {
		width: 270px;
		margin-top: 14px;
	}

	.totalPrice {
		float: none;
	}
	.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
		float: none !important;
	}
}

@media screen and (max-width: 320px)
{
	.column-6 {
		width: 50%;
	}
}