
section.company-usps {
	background-color: #FFF;
	padding: 120px 0;
	padding-bottom: 160px;
}

section.company-usps h2 {
	margin-bottom: 36px;
	font-size: 24px;
	color: #060f0b;
	display: block;
	text-align: center;
	font-weight: 900;
}

section.company-usps .title {
	font-size: 18px;
	font-weight: 900;
	color: #51b989;
	margin-bottom: 8px;
}

section.company-usps p {
	font-size: 14px;
	color: #6e706f;
	max-width: 260px;
}

section.company-usps .item {
	padding-left: 30px;
	position: relative;
}

section.company-usps .item h3 > img {
	position: absolute;
	left: 0;
	top: 3px;
}

section.company-usps .reviewStars {
	position: relative;
}

section.company-usps .reviewStars img {
	width: 32px;
	height: 32px;
}

section.company-usps .rating {
	display: inline-block;
	max-width: 180px;
}

section.company-usps .kiyoh {
	display: inline-block;
	max-width: 80px;
}

