.companyUsps {
	  background-color: #f9f9f9;
}

.companyUsps h2 {
	text-align: center;
	color: #060f0b;
	margin-bottom: 40px;
	font-family: Muli;
	font-size: 40px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
}

.companyUsps .uspContainerLeft {
	float: left;
	width: 50%;
}

.companyUsps .uspContainerRight {
	float: right;
	width: 50%;
}

.companyUsps .uspContainerLeft .usp:first-child,
.companyUsps .uspContainerRight .usp:first-child {
	margin-bottom: 40px;
}

.companyUsps .usp .usp-icon {
	width: 100px;
	text-align: center;
	float: left;
	padding-right: 30px;
	padding-top: 5px;
}

.companyUsps .usp .usp-content {
	float: left;
    width: 70%;
}

.companyUsps .usp .usp-content h3 {
	margin-bottom: 8px;
}

.companyUsps .usp .usp-content p {
	margin-bottom: 0;
}

.companyUsps .usp .usp-content span {
	font-weight: bold;
	color: #000;
}

.companyUsps .usp h3 {
	color: #51b989;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.companyUsps h2 {
		font-size: 34px;
		line-height: 1.18;
	}

	.companyUsps .uspContainerLeft,
	.companyUsps .uspContainerRight,
	.companyUsps .usp .usp-icon,
	.companyUsps .usp .usp-content
	 {
		float: none;
		width: 100%;
		text-align: center;
	}

	.companyUsps .uspContainerLeft .usp,
	.companyUsps .uspContainerRight .usp {
		margin-bottom: 55px;
	}

	.companyUsps .uspContainerRight .usp:last-child {
		margin-bottom: 0px;
	}

	.companyUsps .usp .usp-icon {
		padding: 0;
		margin-bottom: 10px;
	}

	.companyUsps .usp .usp-content h3 {
		font-size: 18px;
		margin-bottom: 4px;
	}

	.companyUsps .usp .usp-content p {
		font-size: 14px;
	}
}



