body {
	background-color: #fff;
}

.title {
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.title h1 {
	font-size: 48px;
	line-height: 52px;
}

.title h2 {
	font-size: 20px;
	color: #6e706f;
}

.boxes {
	max-width: 700px;
	margin: 0 auto 40px;
}

.boxes .title {
	color: #51b989;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 10px;
}

.boxes .column-3 {
	padding-left: 32px;
	position: relative;
}

.boxes .column-3 .icon {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.boxes .column-3 a {
	color: #6e706f;
}

form {
	max-width: 496px;
	margin: 0 auto 80px;
}

form .column-12 {
	margin: 0 15px 10px;
}

form .btn {
	padding: 8px 20px;
	width: auto;
	float: right;
	display: inline-block;
}

.form-group {
	height: 36px;
}

select {
	font-weight: normal;
}

.map-wrapper {
	max-width: 958px;
	margin: 0 auto;
}
#map_block {
    min-height: 430px;
    width: 100%;
}


@media screen and (max-width: 550px)
{
	.container {
		padding: 90px 40px;
	}
	.column-2 {
		float: none;
		width: 100%;
		display: block;
	}

	.boxes .column-3 {
		margin-top: 20px;
		display: block;
	}

	.button_bar {
		text-align: center;
	}

	.button_bar .btn {
		float: none;
	}
	.boxes .row {
		margin: 0;
	}
}

@media screen and (max-width: 320px)
{
	.container {
		padding: 90px 20px;
	}

}