.customerReviews .header-wrapper {
	margin: 0 auto;
}

.customerReviews .container {
	padding-top: 0;
}

.customerReviews .header-wrapper .customerReviewsHeader-left {
	margin-right: 35px;
	margin-bottom: 50px;
}

.customerReviews .header-wrapper .customerReviewsHeader-left,
.customerReviews .header-wrapper .customerReviewsHeader-right {
	float: left;
}

.customerReviews .header-wrapper .kiyohImage {
	width: 140px;
}

.customerReviews .swiper-container {
    width: 820px;
    height: 230px;
}

.customerReviews .customerReview {
	padding: 0 60px;
}

.customerReviews .customerReview .customerReview-image {
	width: 320px;
	height: 190px;
	background-size: cover;
	float: left;
	text-align: center;
}

.customerReviews .customerReview .customerReview-content {
	float: left;
	padding: 0 24px 0 0;
	max-width: 380px;
}

.customerReviews .customerReview .reviewStars {
	margin-bottom: 10px;
}

.customerReviews .customerReview h3 {
	color: #060f0b;
	margin-bottom: 8px;
} 

.customerReviews .customerReview p {
	font-family: Muli;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	margin-bottom: 16px;
}

.customerReviews .customerReview .reviewer {
	color: #999c9b;
	font-family: Muli;
  	font-size: 12px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	width: 100%;
}

.customerReviews .customerReview .reviewer .reviewDate {
	float: right;
}


.customerReviews .swiper-button-prev:after,
.customerReviews .swiper-container-rtl .swiper-button-next:after {
	content: url(../images/previous.svg); 
}

.customerReviews .swiper-button-next:after,
.customerReviews .swiper-container-rtl .swiper-button-prev:after {
	content: url(../images/next.svg); 
}

.page-id-78 .customerReviews .swiper-pagination {
	position: static;
    display: none;
}
.customerReviews .swiper-pagination {
	position: static;
}

.customerReviews .swiper-pagination-bullet {
	margin-right: 7px;
}

.customerReviews .swiper-pagination-bullet:last-child {
	margin-right: 0;
}

.customerReviews .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #ffd866;
}

.customerReviews .moreCustomerReviews {
	text-align: center;
	margin-top: 50px;
}

.customerReviews .moreCustomerReviews a {
	padding: 16px 20px;
}

@media only screen and (max-width : 880px) {
	.customerReviews {
		display: none;
	}
}

@media only screen and (max-width: 550px)
{
	.customerReviews .moreCustomerReviews a {
		font-size: 14px;
	}
}

@media only screen and (max-width: 320px)
{
	.customerReviews .moreCustomerReviews a {
		font-size: 13px;
	}
}