.title h1 {
    font-size: 48px;
    margin-bottom: 16px;
    display: block;
}

.title p {
    font-size: 20px;
}

.title {
    text-align: center;
    max-width: 400px;
    margin: 0 auto 68px;
}

.choices {
    max-width: 440px;
    margin: 0 auto;
}

.options li {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

.options.singleDouble {
	text-align: center;
}

.options.singleDouble li {
	float: none;
}

.options li a {
	background-color: #fff;
	  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
	width: 200px;
	height: 180px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding: 35px 0 0 0;
}

.options a.active,
.options a:hover {
	  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22);
	  background-color: #51b989;
	  color: #fff;
}

input[type="radio"]:checked+label{ 

	  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22) !important;
	  background-color: #51b989 !important;
}


input[type="radio"]:checked+label span,
.options a.active span,
.options a:hover span {
	color: #fff !important;
}

.options a:hover polygon, 
.options a:hover svg g, 
.options a:hover path {
	fill: #fff !important;
} 

.options li a span {
	font-size: 16px;
  	font-weight: 800;
  	color: #45a378;
}

.options li a svg {
	text-align: center;
	display: block;
	margin: 0 auto 8px;
	width: 160px;
	height: 85px;
}

.options li input {
	visibility: hidden;
	width: 0px;
	height: 0px;
} 

@media screen and (max-width: 550px) {
.options li {
		margin-bottom: 8px;
		margin-right: 0;
		display: block;
		float: none;
	}

	.options li a{
		width: 100%;
		height: 96px;
		padding-top: 14px;
		text-align: left;
	}
	.options li a svg {
		width: 120px;
		height: 64px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-left: 20px;
	}
	.options li a span {
		display: inline-block;
		vertical-align: middle;
		width: 150px;
		text-align: center;
		font-size: 15px;
	}
	.title {
		margin-bottom: 40px;
	}

	.title h1 {
		font-size: 34px;
		line-height: 40px;
	}

	.title p {
		font-size: 16px;
		color: #040a07;
	}
}

@media screen and (max-width: 420px) {
	.options li a svg {
		width: 70px;
	}
}