.page-container {
	max-width: 1300px;
}

.page-container.back-link {
	padding: 32px 30px 0;
}

.right.first {
	margin-left: 330px;
}

.back-link a {
	display: inline-block;
	color: #51b989;
	font-weight: 900;
	font-size: 14px;
}

.back-link a span {
	text-decoration: underline;
}

.back-link a img {
	width: 8px;
	height: 11px;
	vertical-align: middle;
	margin-right: 5px;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	max-width: 640px;
}

.title h1 {
	font-size: 48px;
	margin-bottom: 14px;
}

.title h2 {
	color: #6e706f;
	font-size: 20px;
	line-height: 24px;
	margin: 0 auto;
}

.page-content .left {
	display: inline-block;
	float: left;
	max-width: 230px;
	width: 230px;
	margin-right: 100px;
}
.page-content .right {
	display: inline-block;
	float: left;
	max-width: 630px;
	width: 630px;
}

.collapse {
	margin-bottom: 40px;
}

.collapse:last-child {
	margin-bottom: 0;
}

.collapse .title {
	font-size: 20px;
	color: #51b989;
	font-weight: 900;
	display: block;
	margin-bottom: 16px;
	text-align: left;
	position: relative;
}

.collapse .title img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);	
	transform: rotate(180deg);
}

.collapse.active .title img {
	transform: rotate(0deg);
}

.left .collapse ul {
	border-left: 2px solid #e8e8e8;
	display: none;
}

.left .collapse ul li {
	display: block;
	padding-bottom: 8px;
	margin-left: -1.5px;
}

.left .collapse ul li:last-child {
	padding-bottom: 0;
}

.left .collapse ul li a{
	font-size: 15px;
	line-height: 25px;
	height: 25px;
	display: block;
	color: #060f0b;
	font-weight: 900;
	padding-left: 10px;
	border-left: 2px solid #e8e8e8;
}

.collapse.active ul {
	display: block;
}

.right .collapse ul {
	margin-left: 20px;
}

.right .collapse ul li {
	margin-bottom: 16px;
	list-style-type: disc;
}

.right .collapse p {
	line-height: 23px;
}

.collapse ul li a:hover,
.collapse ul li.current-menu-item a{
	border-left: 2px solid #51b989;
}

.faq_title {
	font-size: 24px;
	font-weight: 900;
	color: #51b989;
	margin-bottom: 40px;
	display: block;
	text-align: center;
	width: 100%;
}

.content-items .collapse {
	border-bottom: solid 1px rgba(211, 211, 211, 0.5);
	padding-bottom: 24px;
	margin-bottom: 24px;
}


.content-items .collapse ul li a,
.content-items .collapse p a {
	color: #51b989;
}

.content-items .txt_title {
	font-weight: 900;
	color: #060f0b;
	font-size: 16px;
	line-height: 26px;
	position: relative;
	display: block;
}

.content-items .txt_title img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(180deg);
}

.content-items .collapse.active img {
	transform: rotate(0deg);
}

.content-items .collapse p {
	margin-top: 8px;
	color: #797c7a;
	display: none;
}

.content-items .collapse.active p {
	display: block;
}

@media screen and (max-width: 1024px)
{
	.page-container.back-link {
		margin-top: 60px;
	}
}


@media screen and (min-width: 769px) and (max-width: 1024px)
{
	.page-content .left {
		margin-right: 60px;
	}
}

@media screen and (min-width: 870px) and (max-width: 990px)
{
	.page-content .right {
		max-width: 520px;
		width: 520px;
	}
}

@media screen and (min-width: 769px) and (max-width: 869px)
{
	.page-content .right {
		max-width: 420px;
		width: 420px;
	}
}

@media screen and (max-width: 768px)
{
	.page-container:not(.back-link) {
		padding-top: 40px;
		padding-bottom: 180px;
	}
	.right.first {
		margin-left: auto;
	}
	.page-content .left {
		display: none;
	}
	.page-content .right {
		max-width: none;
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 550px)
{
	.page-container {
		padding-left: 24px;
		padding-right: 24px;
	}
	.title h1 {
		font-size: 34px;
		line-height: 40px;
	}

	.title h2 {
		font-size: 16px;
		color: #040a07;
	}
	.content-items .txt_title {
		padding-right: 40px;
	}
	.content-items .txt_title img {
		top: 10px;
	}
}