.filter-products {
	max-width: 960px;
	margin: 0 auto 180px;
}
body.quote-template-default.single.single-quote.postid-7487.theme-laadkompas.woocommerce-js .filter-products {
	max-width: 960px;
	margin: 0 auto 180px;
    display:none;
}

.filter-products h3 {
	color: #51b989;
	margin-bottom: 16px;
}

.filter-products .filter-fields .form-group {
	margin-right: 16px;
	display: inline-block;
	float: left;
	margin-bottom: 50px;
}

.filter-products .filter-fields .form-group:nth-child(2) {
	width: 240px;
	max-width: 240px;
}
.filter-products .filter-fields .form-group:nth-child(3),
.filter-products .filter-fields .form-group:nth-child(4), 
.filter-products .filter-fields .form-group:nth-child(5) {
	width: 218px;
	max-width: 218px;
} 

.single_quote {
	position: relative;
}

.timer_overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(255,255,255,.5) !important;
	z-index: 997;
	display: none;
}

.no_result {
	min-height: 0 !important;
	background-color: transparent !important;
	text-align: center;
	box-shadow: none !important;
}

.sort-fields a {
	display: inline-block;
	max-width: 100px;
	width: 100px;
	margin-right: 32px;
	font-size: 14px;
	color: #9faba5;
}

.sort-fields {
	text-align: center;
	margin-bottom: 8px;
	margin-left: 50px;
}

.sort-fields a {
	position: relative;
}

.sort-fields a.active {
	font-weight: 900;
}

.sort-fields a span {
	position: absolute;
	top: 50%;
	margin-left: 5px;
    transform: translateY(-50%);
		display: none;
}

.sort-fields a.active span {
	display: inline-block;
}

.sort-fields a span.up {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #9faba5 transparent;
}
.sort-fields a span.down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #9faba5 transparent transparent transparent;
}

.filter-products .products-boxes li {
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 16px;
	display: block;
	min-height: 148px;
	padding: 24px 32px;
}

.filter-products .products-boxes li div {
	vertical-align: top;
}

.filter-products .products-boxes li .picture {
	width: 80px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
}

.filter-products .products-boxes li .picture img {
	max-height: 100px;
}

.filter-products .products-boxes li .title {
	width: 180px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 24px;
}


.filter-products .products-boxes li .price {
	width: 90px;
	display: inline-block;
	margin-right: 40px;
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 40px;
	vertical-align: bottom;
	color: #51b989;
}

.filter-products .products-boxes li .price.month {
	width: 94px;
}

.filter-products .products-boxes li .price span:not(.price_digit) {
	font-size: 12px;
	color: #9faba5;
	font-weight: normal;
	margin-top: 8px;
	height: 16px;
	display: block;
}

.filter-products .products-boxes li .power {
	display: inline-block;
	width: 120px;
	vertical-align: bottom;
	margin-bottom: 44px;
	font-size: 14px;
	color: #6e706f;
}

.filter-products .products-boxes li .power span {
	font-size: 12px;
	color: #9faba5;
	display: block;
	margin-top: 8px;
}

.filter-products .products-boxes li .button {
	width: 180px;
	display: inline-block;
	margin-left: 30px;
	vertical-align: bottom;
}

.filter-products .products-boxes li .button .btn {
	width: 100%	;
	display: inline-block;
	padding: 15px 0;
	text-align: center;
}

.filter-products .products-boxes li .button .compare {
	text-align: right;
	margin-top: 8px;
}

.filter-products .products-boxes li .button .compare label {
	font-weight: normal;
}

.filter-products .products-boxes li .title h3 {
  font-size: 16px;
  font-weight: 800;
  color: #040a07;
  margin-right: 20px;
  margin-bottom: 8px;
}

.btn-filter {
	display: none;
	color: #fff;
	text-align: center;
	background-color: #51b989;
	padding: 16px 0;
	width: 186px;
	font-weight: 800;
	height: 52px;
}

.btn-filter img {
	margin-left: 8px;
	vertical-align: middle;
}

select {
    color: #9faba5 !important;
    border-color: #d6dcd9;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

@media screen and (max-width: 989px) {
	.filter-products h3 {
		margin: 0 20px 16px;
	}
	.filter-products .filter-fields .form-group {
		margin-right: 2px;
	}
	.filter-products .filter-fields .form-group:nth-child(1) {
		width: 20%;
	}
	.filter-products .filter-fields .form-group:nth-child(2) {
		width: 20%;
	}
	.filter-products .filter-fields .form-group:nth-child(3) {
		width: 20%;
	}
	.filter-products .filter-fields .form-group:nth-child(4) {
		width: 20%;
	}
	.filter-products .filter-fields .form-group:nth-child(5) {
		width: 20%;
	}

	.filter-products .sort-fields,
	.filter-products .filter-fields .form-group {
		display: block;
	}
}


@media screen and (max-width: 768px) {
	.filter-products h3 {
		display: none;
	}
	.filter-products .sort-fields,
	.filter-products .filter-fields .form-group {
		display: none;
	}
	.btn-filter {
		cursor: pointer;
		display: inline-block;
		width: 49.5%;
	}
	.btn-filter:nth-child(1) {
		margin-right: 0;
	}

	.filter-products .filter-fields {
		position: absolute;
		left: 0;
		right: 0;
		background-color: #fff;
		z-index: 98;
	}
	.filter-products .filter-fields .form-group {
		margin-right: 0;
		width: 100% !important;
		max-width: none !important;
		margin-bottom: -1px;
	}

	.sort-fields {
		background-color: #fff;
		position: absolute;
		left: 0;
		margin-left: 0;
		right: 0;
		z-index: 98;
	}

	.sort-fields a {
		display: block;
		border: solid 1px #b5d4c6;
		font-family: Muli;
		font-size: 14px;
		line-height: 20px;
		color: #060f0b;
		width: 100%;
		padding: 8px 12px;
		font-weight: bold;
		text-align: left;
		color: #45a378;
		border-radius: 0;
		background-color: #fff;
		max-width: none;
	}

	.filter-products .products-boxes li {
		position: relative;
		padding-left: 114px;
	}

	.filter-products .products-boxes li .picture {
		position: absolute;
		left: 28px;
		top: 24px;
	}

	.filter-products .products-boxes li .title {
		display: block;
		width: auto;
	}
	.filter-products .products-boxes li .title h3 {
		display: block;
		margin-left: 0;
		max-width: 150px;
	}

	.filter-products .products-boxes li .price {
		display: block;
		margin-bottom: 0;
		width: auto !important;
	}
	.filter-products .products-boxes li .price.month {
		margin-bottom: 16px;
	}
	.filter-products .products-boxes li .price span:not(.price_digit) {
		display: none;
	}

	.filter-products .products-boxes li .price.month span {
		height: auto;
		display: inline-block;
		max-width: 120px;
		vertical-align: top;
		margin-top: 4px;
		margin-left: 4px;
	}

	.filter-products .products-boxes li .power {
		display: block;
		width: auto;
		margin-bottom: 24px;
	}
	.filter-products .products-boxes li .button .compare {
		position: absolute;
		right: 34px;
		top: 14px;
	}

	.filter-products .products-boxes li .button {
		display: block;
		margin-left: 0;
	}
}

@media screen and (max-width: 375px) {
	.filter-products {
		margin-bottom: 100px;
	}
	section.company-usps {
		padding-bottom: 100px;
	}
	.btn-filter {
		width: 49.25%;
	}
	.filter-products .products-boxes li .button .compare {
		right: 20px;
	}
	.filter-products .products-boxes li .title h3 {
		max-width: 110px;
	}

	.filter-products .products-boxes li .picture {
		left: 8px;
	}
	.filter-products .products-boxes li {
		padding-left: 90px;
	}
}