
nav.funnel .top-menu li a img {
	vertical-align: middle;
}

.---Funnel-buttons,
section.---Funnel {
	height: 0px;
	visibility: hidden;
	opacity: 0;
}

section.---Funnel .info,
section.---Funnel .options {
	display: none;
}

section.---Funnel.view {
	display: block !important;
	height: auto;
	opacity: 1;
	visibility: visible;
	max-width: 660px;
	margin: 140px auto 0;
	border-bottom: dashed 1px #d3d3d3;
}

nav .header_menu {
	display: none !important;
}

section.---Funnel.first {
	display: block;
	height: auto;
	opacity: 1;
	visibility: visible;
}

section.---Funnel.active {
	display: block;
	max-width: 660px;
	margin: 140px auto 0;
	border-bottom: dashed 1px #d3d3d3;

	height: 100%;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
section.---Funnel.view .info,
section.---Funnel.view .options,
section.---Funnel.active .info,
section.---Funnel.active .options {
	display: block;
}

section.---Funnel-buttons.view .container {
	padding-top: 0;
}

.---Funnel-buttons.view {
	height: 100%;
	visibility: visible;
	opacity: 1;
}
.---Funnel-buttons.active {
	height: 100%;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

section.---Funnel.first {
	max-width: 560px;
	margin: 77px auto 0;
	border-bottom: none;
}
section.---Funnel.last {
	border-bottom: none;
	margin-bottom: 160px;
}

section.---Funnel.last.active {
	margin-bottom: 0;
}

section.---Funnel h1 {  
	font-size: 24px;
 	font-weight: 900;
 	display: block;
 	text-align: center;
 	margin-bottom: 40px;
 	display: none;
}

section.---Funnel.view h1,
section.---Funnel.active h1 {
	display: block;
}

p.intro {  
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  color: #040a07;
  margin-bottom: 90px;
    display: none;
}

section.---Funnel .options li {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

section.---Funnel .options.singleDouble {
	text-align: center;
}

section.---Funnel .options.singleDouble li {
	float: none;
}

section.---Funnel .options li label {
	background-color: #fff;
	  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
	width: 200px;
	height: 180px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding: 35px 0 0 0;
}

section.---Funnel .options label.active,
section.---Funnel .options label:hover {
	  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22);
	  background-color: #51b989;
	  color: #fff;
}

input[type="radio"]:checked+label{ 

	  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22) !important;
	  background-color: #51b989 !important;
}


input[type="radio"]:checked+label polygon, 
input[type="radio"]:checked+label svg g,
input[type="radio"]:checked+label path{
	fill: #fff !important;
} 

input[type="radio"]:checked+label span,
section.---Funnel .options label.active span,
section.---Funnel .options label:hover span {
	color: #fff !important;
}

section.---Funnel .options label:hover polygon, 
section.---Funnel .options label:hover svg g, 
section.---Funnel .options label:hover path {
	fill: #fff !important;
} 

section.---Funnel .options li label span {
	font-size: 16px;
  	font-weight: 800;
  	color: #45a378;
}

section.---Funnel .options li label svg {
	text-align: center;
	display: block;
	margin: 0 auto 8px;
	width: 160px;
	height: 85px;
}

section.---Funnel .options li input {
	visibility: hidden;
	width: 0px;
	height: 0px;
} 

section.---Funnel .info {
	color: #9faba5;
	max-width: 420px;
	margin: 80px auto 180px;
}

section.---Funnel .info h2 {
	font-size: 16px;
	font-weight: bold;
	color: #9faba5;
	margin-bottom: 10px;
}

section.---Funnel .info p {
	font-size: 15px;
	color: #9faba5;
}

/** Checkboxes */
section.---Funnel .checkbox li {
	margin-bottom: 16px;
}
section.---Funnel .checkbox li label {
	width: auto;
	height: auto;
	padding: 16px 32px;
	font-weight: bold;
	color: #14192e;
	min-width: 170px;
	font-size: 16px;
	height: 52px;
}

section.---Funnel .checkbox li label img {
	display: none;
	vertical-align: middle;
}

section.---Funnel .checkbox li label span {
	color: #14192e;
	margin-right: 8px;
	font-weight: 900;
	vertical-align: middle;
}

.---Funnel input[type="checkbox"]:checked+label{ 

	  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.22) !important;
	  background-color: #51b989 !important;
	  color: #fff !important;
}
.---Funnel input[type="checkbox"]:checked+label span {
	display: none;
} 
.---Funnel input[type="checkbox"]:checked+label img {
	display: inline-block !important;
	margin-right: 5px;
	width: 13px;
	height: 12px;
}

section.---Funnel .checkbox li.fullWidth {
	display: block;
	float: none;
	text-align: center;
}

footer {
	height: auto;
}

.scrollDown {
	background-color: #51b989;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	display: block;
	position: fixed;
	top: 170px;
	right: 250px;
	text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.scrollDown i {
	color: #fff;
	font-size: 32px;
	padding: 10px 0;
}

.bounce-4 {
    animation-name: bounce-4;
    animation-timing-function: ease;
}
@keyframes bounce-4 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-70px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

@media screen and (max-width: 1100px) {
	nav.funnel .top-menu li.slogan {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	nav.funnel .top-menu li.slogan {
		display: block;
	}

	section.---Funnel.first {
		margin: 220px auto 0;
		max-width: 550px;
	}
	p.intro {
		margin-left: 20px;
		margin-right: 20px;
	}


	nav.funnel .container {
		height: 70px; 
	}
	nav.funnel .logo,
	nav.funnel .top-menu li.cart a {
		line-height: 70px;
	}

	nav .progress-bar {
		top: 60px;
	}

	.scrollDown {
		top: 225px;
		right: 120px;
	}
}

@media screen and (max-width: 768px)
{
	section.---Funnel.active {
		margin-top: 180px;
	}

	section.---Funnel.step1.active {
		margin-top: 60px;
	}

	.scrollDown {
		right: 60px;
	}
}

@media screen and (max-width: 550px) {


	p.intro {
		margin: 0 56px 0px;
	}
	section.---Funnel {
		margin-top: 120px;
		margin-left: 56px;
		margin-right: 56px;
	}
	section.---Funnel h1 {
		font-size: 20px;
		margin-bottom: 32px;
	}
	section.---Funnel .options li {
		margin-bottom: 8px;
		margin-right: 0;
		display: block;
		float: none;
	}

	section.---Funnel .options li label{
		width: 100%;
		height: 96px;
		padding-top: 14px;
		text-align: left;
	}
	section.---Funnel .options li label svg {
		width: 120px;
		height: 64px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-left: 20px;
	}
	section.---Funnel .options li label span {
		display: inline-block;
		vertical-align: middle;
		width: 150px;
		text-align: center;
		font-size: 15px;
	}
	section.---Funnel .info {
		padding: 0 20px;
	}
	section.---Funnel .info h2 {
		font-size: 13px;
	}
	section.---Funnel .info p {
		font-size: 12px;
	}
	section.---Funnel .info {
		margin: 80px auto 120px;
	}

	section.---Funnel .checkbox li label {
		width: auto;
		height: auto;
	}
	section.---Funnel .checkbox li label span {

		vertical-align: top;
	}
	section.---Funnel .checkbox li label span {
		width: auto;
	}
	input[type="checkbox"]:checked+label span {
		display: none !important;
	}
	section.---Funnel .options li {
		text-align: center;
	}
	section.---Funnel.last {
		margin-bottom: 140px;
	}
	input[type="checkbox"]:checked+label img {
		margin-right: 4px;
	}

	.scrollDown {
		right: 50%;
	    left: 50%;
	    margin-left: -20px;
	    top: 160px;
	    width: 40px;
	    height: 40px;
	}

	.scrollDown i {
		font-size: 24px;
	}
}

@media screen and (max-width: 420px) {
	section.---Funnel.active {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (max-width: 320px) {
	section.---Funnel .options li label span {
		width: 120px;
	}
}

@-moz-document url-prefix() {
    section.---Funnel .options li {
    	margin-right: 3px;
    }
}