body {
	background-color: #f9f9f9;
}
.container {
	padding: 0;
	max-width: 1200px;
}

.form-group {
	margin-bottom: 8px;
}

.form-group.last_agreement {
	margin: 20px 0 30px;
}

select[name=name_title] {
	-webkit-appearance: auto;
	-moz-appearance: auto;
}

.---Funnel-form {
	margin: 40px auto 40px;
}

.---Funnel-form:nth-child(1) {
	margin-top: 80px;
}

.---Funnel-buttons {
	max-width: 560px;
    padding-top:25px;
}

nav .header_menu {
	display: none !important;
}

.---Funnel-buttons .button-right .btn {
	margin-top: 0;
    margin-right:-15px;
}

.row.large-row {
	margin: 0 -30px;
}


.usp-bar {
	background-color: #f1faf6;
	height: 64px;
	line-height: 64px;  
	font-size: 15px;
  	font-weight: 900;
  	color: #51b989;
}


.usp-bar .container {
	padding: 0 30px;
}

.usp-bar ul li {
	display: inline-block;
	/*margin-right: 40px;*/
	text-align: center;
	float: left;
	width: 33.3333334%;
}

.usp-bar ul::after {
	display: block;
	content: "";
	clear: both;
	height: 0px;
}

.usp-bar ul li img {
	margin-right: 6px;
}

.form-group.label-secure {
	text-align: right;
	font-size: 12px;
	margin-bottom: 40px;
	font-weight: bold;
	color: #51b989;
}

.help-block.form-error {
	font-size: 13px;
	color: rgb(185, 74, 72);
	margin-top: 4px;
	display: block;
}

.customerReviews .swiper-container {
	margin-top: 30px;
	max-width: 286px;
	width: 286px;
	height: 220px;
}

.customerReviews .swiper-container .swiper-button-next {
	opacity: 0;
	visibility: hidden;
}

.customerReviews .customerReview .customerReview-image {
	margin-left: -60px;
}

.---Funnel-form h2,
.---Funnel-form h1 {
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 900;
	color: #51b989;

}

.blockUI.blockMsg {
	top: 300px !important;
	padding: 20px !important;
}

.blockUI.blockMsg h2 {
	font-weight: 900;
	margin-top: 20px;
	font-size: 20px;
}

.form-group.aanhef .help-block.form-error {
	display: none;
}

.---Funnel-form .left {
	float: right;
	width: 560px;
	margin-right: 80px;
    margin-top: -130px;
}

.---Funnel-form .left.second {
	margin-top: 30px;
}

.left.second .previous_orders {
	position: relative;
}

.left.second .previous_orders .arrow {
    max-width: 220px;
    position: absolute;
    right: -70px;
    top: 80px;
}

.---Funnel-form .right {
	float: right;
	width: 286px;
}

.intro {
	font-size: 18px;
	line-height: 1.78;
	color: #6e706f;
	margin-bottom: 30px;
}

.---Funnel-form .agree_row label span {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.agree_row label > span.custom-label {
	left: 8px;
	bottom: 4px;
	font-weight: 900;
}

.---Funnel-form input[type=checkbox] {
	vertical-align: middle;
}

.---Funnel-form label span {
	color: #51b989;
	margin-left: 8px;
	margin-bottom: 8px;
	display: inline-block;
}
.---Funnel-form .description {
	font-size: 12px;
  	color: #7f8c86;
  	margin-left: 24px;
}
.---Funnel-form .description.last {
	margin-left: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.---Funnel-form .description a{
	font-size: 12px;
	color: #51b989;
	display: block;
	text-decoration: underline;
}

.---Funnel-form .reviews .rating {
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 10px;

}
.---Funnel-form .reviews .left-rating {
	max-width: 200px;
	float: left;
}
.---Funnel-form .reviews .left-rating p {
	font-size: 14px;
	font-style: italic;
	color: #7f8c86;
}

.---Funnel-form .result-box {
	  /*height: 415px;*/
	  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
	  background-color: #ffffff;
	  padding: 40px 40px;
}

.---Funnel-form .result-box h3 {
	font-size: 22px;
	margin-bottom: 24px;
	color: #51b989;
}

.---Funnel-form .result-box .form-group {
	font-size: 13px;
	color: #7f8c86;
}

.---Funnel-form .result-box .form-group.last {
	margin-top: 20px;
}

.---Funnel-form .result-box .form-group ul li {
	padding-left: 0;
	position: relative;
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 4px;
	padding-left: 20px;
}

.---Funnel-form .result-box .form-group ul li span {
    position: absolute;
    left: 0;
    font-size: 14px;
    font-weight: 900;
    color: #51b989;
}

@media screen and (max-width: 1200px) {
	.---Funnel-form .right {
		margin-right: 20px;
	}

}

@media screen and (max-width: 1024px) {
	.---Funnel-form:nth-child(1) {
		margin-top: 220px;
	}

	.blockUI.blockMsg {
		top: 100px !important;

	}
}


@media screen and (max-width: 989px) {
	.---Funnel-form .right,
	.---Funnel-form .left {
		width: 100%;
		float: none;
        margin-top: 0px;
	}

	.---Funnel-form:nth-child(1) .right {
		display: none;
	}

	.container {
		margin: 0 45px;
	}

	footer .container {
		margin: 0;
	}

	nav.funnel .container {
		margin: 0;
	}

	.---Funnel-form .result-box {
		margin-bottom: 80px;
        margin-top:-164px
	}
}

@media only screen and (max-width : 768px) {
	.---Funnel-form h2,
	.---Funnel-form h1 {
		text-align: center;
	}

	.column-2 {
		width: 100%;
		float: none;
	}

	.---Funnel-form label span {
		vertical-align: top;
		max-width: 240px;
		font-size: 13px;
	}


	.---Funnel-form .form-group label span {
		max-width: none;
	}


	.---Funnel-form .description.last {
		text-align: center;
	}

	.---Funnel-buttons {
		max-width: none;
	}

	.---Funnel-buttons .container {
		margin: 0;
		padding: 0;
	}

	.blockUI.blockMsg {
		width: 50% !important;
		left: 25% !important;
	}

	.left.second .previous_orders .arrow {
		display: none;
	}

	.customerReviews {
		display: block;
	}

	.customerReviews .swiper-container {
		width: 320px;
		max-width: 320px;
	}

	.left.second .previous_orders p {
		text-align: center;
	}
}


@media only screen and (max-width : 550px) {

	.---Funnel-form label span {
		max-width: 200px;
	}

    .usp-bar.active {
        height: auto;
    margin-top: 137px;
}
    
	.usp-bar {
		height: auto;
	}

	.usp-bar .container {
		padding: 0;
	}

	.usp-bar ul li {
		width: 100%;
		float: none;
		display: block;
	}


	.---Funnel-form .form-group label span {
		vertical-align: top;
		max-width: 240px;
	}


	.blockUI.blockMsg {
		top: 50px !important;
		width: auto !important;
		left: 40px !important;
		right: 40px !important;
	}
}

@media screen and (max-width: 320px)
{
	.usp-bar ul li {
		font-size: 13px;
	}


	.---Funnel-form .form-group label span {
		vertical-align: top;
		max-width: 200px;
	}

	.customerReviews .swiper-container {
	    width: 230px;
	    max-width: 230px;
	}

}