body {
	background-color: #f9f9f9;
}
.container {
	padding: 0;
	max-width: 1200px;
}

nav .header_menu {
	display: none !important;
}

.form-group {
	margin-bottom: 8px;
}

.intro {
  	font-size: 24px;
  	font-weight: normal;
  	color: #040a07;
	margin: 80px auto 100px;
	max-width: 560px;
	text-align: center;
}

.intro span {
  	font-weight: 900;
}

.filter-products .products-boxes li .button .compare {
	text-align: left !important;
	float: right;
	margin-right: 30px;
	margin-top: 0;
}

.filter-products .products-boxes li div {
	vertical-align: middle !important;
}

.filter-products .num {
	display: none;
}

section.usps {
	margin-bottom: 120px;
}

section.usps h3 {
	font-size: 24px;
	text-align: center;
	color: #040a07;
	margin-bottom: 24px;
}

section.usps ul {
	max-width: 740px;
	margin: 0 auto;
}
section.usps ul li {
	max-width: 370px;
	width: 50%;
	margin-bottom: 8px;
	float: left;
	display: inline-block;
	padding-left: 32px;
	position: relative;
}
section.usps ul li.black {
	padding-right: 50px;
	color: #040a07;
}
section.usps ul li img{
	position: absolute;
	left: 0;
}

.product-cards .products > li .compare {
	right: 34px !important;
	top: 0px !important;
}

.product-cards .products > li .compare label {
	font-size: 12px !important;
}

.spec-titles {
	top: 355px !important;
}

.single-zonnepanelen-quote .spec-titles {
	top: 312px !important;
}

.quote-action-form {
	background-color: #fff;
	max-width: 740px;
	margin: 20px auto 150px;
	padding: 30px 0;
	box-shadow: 0 13px 54px 7px rgba(0, 0, 0, 0.16);
}

.quote-action-form .quote-action-form-title{
	font-size: 24px;
	color: #51b989;
	font-weight: 900;
	text-align: center;
	margin-bottom: 10px;
}

.quote-action-form .form-group {
	max-width: 500px;
	margin: 0 auto;
}

.quote-action-form .slogan {
	font-size: 18px;
	line-height: 24px;
	color: #040a07;
	max-width: 500px;
	margin: 0 auto 20px;
	text-align: center;
}

.quote-action-form .car_type {
	display: none;
}

.quote-action-form .car_type.car_type_active {
	display: block;
}

.quote-action-form .btn {
	padding: 0 30px;
	width: auto;
    position: relative;
    bottom: -56px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-action-form.active .car_type{
	display: block;
}

.quote-action-form select {
	border-color: #51b989;	
	color: #51b989 !important;
}

.quote-action-form label {
	display: block;
    font-weight: 900;
    font-size: 14px;
    color: #050c08;
    margin-bottom: 8px;
}

body.sun_relative {
	position: relative;
}

.sun_overlay {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;
}

.action-form .column-5 {
	float: left;
}

.action-form .row {
	margin: 0 -4px;
}
.action-form .column-5,
.action-form .column-7 {
	padding: 0 4px;
}

header .hero .action-form.active {
	height: 270px;
}


#sun_overlay_form .form-control.wpcf7-not-valid,
.action-form .form-control.error {
	border-color: rgb(185, 74, 72);
}

#sun_overlay_form {
	display: none;
	position: fixed;
	top: 160px;
	left: 50%;
	transform: translateX(-50%);
	right: 50%;
	width: 700px;
	height: auto;
	padding: 50px 60px 10px;
	background-color: #fff;
	z-index: 10000;
}

#sun_overlay_form .form_title {
    font-weight: 900;
    color: #040a07;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

#sun_overlay_form form {
	margin: 0 80px;
}

#sun_overlay_form .slogan {
	font-size: 18px;
	line-height: 22px;
	margin: 10px 0 30px;
	text-align: center;
}

#sun_overlay_form .row.next {
	margin-top: 20px;
}

#sun_overlay_form .column-12 {
	width: 100%;
	display: inline-block;
	padding: 0 15px;
}

#sun_overlay_form .pull-right {
	float: right;
}

#sun_overlay_form .address_label {
	margin-top: 20px;
	position: relative;
}

#sun_overlay_form .address_label img {
	vertical-align: middle;
	position: absolute;
	left: 0;
}

#sun_overlay_form .address_label span {
	color: #51b989;
	font-weight: bold;
	font-size: 12px;
	padding-left: 23px;
	vertical-align: middle;
	display: block;
    padding-top: 3px;
}

#sun_overlay_form .close {
	color: #040a07;
	position: absolute;
	right: 40px;
	top: 20px;
}

#sun_overlay_form .wpcf7 form.invalid .wpcf7-response-output {
	margin: 0em 0em 1em;
	text-align: center;
	font-size: 13px;
	border: 1px solid rgb(185, 74, 72);
	color: rgb(185, 74, 72);
	padding: 4px 0;
}

#sun_overlay_form .wpcf7 form.sent .wpcf7-response-output {
	margin: 0em 0em 1em;
	text-align: center;
	font-size: 13px;
	border: 1px solid #45a378;
	color: #45a378;
	padding: 4px 0;
}

#sun_overlay_form .hidden {
	display: none;
}



@media screen and (max-width: 1024px) {
	body > .container {
		margin-top: 220px;
	}

	.footer-content .container,
	section.company-usps .container {
		margin: 0 20px;
	}

}

@media screen and (max-width: 768px) {
	section.usps h3 {
		margin: 0 38px 24px;
		text-align: left;
	}
	section.usps ul {
		margin: 0 38px;
	}
	section.usps ul li {
		width: 100%;
		display: block;
		float: none;
	}
	#sun_overlay_form {
		left: 20px;
		right: 20px;
		transform: none;
		width: auto;
	}

	#sun_overlay_form {
		padding: 50px 20px 10px;
	}

	#sun_overlay_form form {
		margin: 0;
	}
}


@media screen and (max-width: 550px) {
	section.company-usps {
		padding-top: 80px;
	}
	section.company-usps .container > .row {
		margin: 0 25px;
	}
	section.company-usps .item {
		margin-bottom: 32px;
	}


	.action-form .column-7 {
		width: 60%;
		float: left;
	}
	.action-form .column-5 {
		width: 40%;
		float: left;
	}


	#sun_overlay_form .form_title {
		font-size: 24px;
		margin: 0 20px 30px;
	}

	#sun_overlay_form .slogan {
		font-size: 16px;
		line-height: 18px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#sun_overlay_form .pull-right {
		margin-top: 20px;
	}

	.quote-action-form {
		margin: 20px 20px 150px;
		padding: 30px 20px;
	}
}

@media screen and (max-width: 375px) {
	section.company-usps .container > .row {
		margin: 0;
	}
}