.container.back {
	padding: 32px 0;
	max-width: 1200px;
}

.container.back a {
	color: #51b989;
	font-size: 14px;
	font-weight: 900;
	text-decoration: underline;
}

.container.back a img {
	max-width: 8px;
	vertical-align: middle;
}

.container.big {
	max-width: 1020px;
	padding-top: 0;
	padding-bottom: 80px;
	position: relative;
}

.container {
	max-width: 680px;
	padding-top: 0;
	padding-bottom: 180px;
}

.container.content p a {
	color: #51b989;
}

.title_block {
	text-align: center;
}

.article_image {
	text-align: center;
}

.article_image img {
	height: auto;
}

.title_block h1 {
	font-size: 33px;
}

.title_block h2 {
	color: #9faba5;
	font-size: 26px;
	max-width: 620px;
	margin: 0 auto 32px;
}

.title_block .category a {
	height: 32px;
	border-radius: 16px;
	background-color: #e4e4e4;
	line-height: 32px;
	display: inline-block;
	font-size: 14px;
	padding: 0 24px;
	font-weight: bold;
	color: #005933;
}

.container p {
	font-size: 18px;
	line-height: 28px;
	color: #3c4340;
	margin-bottom: 30px;
}

.social_bar {
	position: absolute;
	top: 16px;
	left: 30px;
}

.social_bar a {
	margin-bottom: 16px;
	display: block;
}

.content h2 {
	color: #51b989;
	font-size: 24px;
	font-weight: 900;
	margin-top: 80px;
	margin-bottom: 16px;
}

.content ul:not(.tags) {
	margin-left: 80px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.content ul li {
	line-height: 28px;
	font-size: 18px;
	color: #5c6e66;
}

.content .image {
	margin-top: 80px;
}

.content .image .caption {
	color: #9faba5;
	font-size: 14px;
	line-height: 28px;
}

.content h3 {
	color: #060f0b;
	font-size: 16px;
	margin-bottom: 16px;
	line-height: 26px;
	margin-top: 80px;
}

.tag_bar {
	margin: 120px 0;
}

.tag_bar strong {
	color: #040c08;
	font-size: 16px;
	line-height: 26px;
	font-weight: 900;
}

.tag_bar .tags li {
	display: inline-block;
	margin-right: 22px;
}

.tag_bar .tags a {
	color: #51b989;
	display: block;
	font-weight: 900;
	font-size: 16px;
	line-height: 26px;
}

.tag_bar .social {
	text-align: right;
}

.tag_bar .social a{
	margin-right: 16px;
	display: inline-block;
}

.tag_bar .social img {
	width: 48px;
	height: 48px;
}

.related .title_bar {
	color: #020805;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 32px;
}

.related a {
	display: block;
	margin-bottom: 40px;
}

.related a .image {
	margin-bottom: 22px;
	display: block;
	margin-top: 0;
	text-align: center;
}

.related a .image img {
	height: auto;
}

.related a .title {
	display: block;
	color: #060f0b;
	font-size: 16px;
	line-height: 24px;
	font-weight: 900;
	margin-bottom: 8px;
}

.related a .txt {
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #6e706f;
	margin-bottom: 20px;
}

.related a .more {
	color: #51b989;
	display: block;
	font-size: 14px;
}

.related a .more img {
	width: 8px;
	transform: rotate(180deg);
	margin-right: 4px;
}

.related a .more span {
	font-weight: 900;
	text-decoration: underline;
}


.contact_block {
	background-color: #f9f9f9;
	margin-top: 120px;
	text-align: center;
	padding: 80px 60px;
}

.postid-12983 .contact_block {
    display: none !important;
}

.postid-12976 .contact_block {
    display: none !important;
}

.contact_block .title {
	color: #040a07;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 8px;
}

.contact_block p {
	color: #6e706f;
	font-size: 16px;
	line-height: normal;
	margin-bottom: 40px;
}

.contact_block .btn {
	display: inline-block;
	padding: 16px 32px;
	width: auto;
	box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
}

.contact_block ul li {
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
}

.contact_block ul li a {
	display: block;
	color: #6e706f;
	font-size: 16px;
}

.contact_block ul::after {
	display: block;
	content: "";
	clear: both;
}

.contact_block ul li a {
	color: #6e706f;
}

.contact_block ul li a img {
	margin-right: 8px;
	vertical-align: middle;
}

@media screen and (max-width: 1024px)
{
	.container {
		padding-left: 24px;
		padding-right: 24px;
	}
	.container.back {
		margin-top: 60px;
		padding: 32px 24px;
	}
	.article_image {
		text-align: center;
	}
	.social_bar {
		left: 50%;
		transform: translateX(-50%);
		top: -70px;
	}
	.social_bar a {
		display: inline-block;
	}
}

@media screen and (max-width: 550px)
{
	.article_image img {
		height: auto;
	}
	.title_block h1 {
		font-size: 34px;
		line-height: 40px;
		max-width: 260px;
		margin: 0 auto 16px;
	}

	.title_block h2 {
		font-size: 20px;
		max-width: 260px;
		margin: 0 auto 32px;
		margin-top: 0 !important;
	}

	.content ul li,
	.container p {
		font-size: 16px;
		line-height: 24px;
	}

	.content .image {
		margin-top: 56px;
	}

	.container h2 {
		font-size: 24px;
		line-height: normal;
		margin-top: 64px;
		margin-left: 60px;
		margin-right: 60px;
	}

	.container h3 {
		font-size: 16px;
		line-height: 26px;
		margin: 56px 60px 16px;
	}

	.container.content {
		padding-left: 0;
		padding-right: 0;
	}

	.container.content p {
		margin: 0 60px 20px;
	}

	.container ul:not(.tags,.top-menu) {
		margin-left: 80px;
		margin-right: 60px;
	}
	.content .image .caption {
		line-height: normal;
		margin: 0 28px;
	}
	.tag_bar {
		margin: 56px 60px;
	}
	.column-2 {
		width: 100%;
		display: block;
		float: none;
	}
	.tag_bar .social {
		margin-top: 56px;
		text-align: center;
	}
	.tag_bar .social a:last-child {
		margin-right: 0;
	}
	.related .items .category {
		margin: 0 27px 8px;
	}
	.related .items .title {
		margin: 0 27px 8px;
		font-size: 14px;
		line-height: normal;
	}
	.related .items .txt {
		margin: 0 27px 8px;
		font-size: 16px;
		line-height: normal;
	}
	.related .items .more {
		margin: 16px 27px 0;
	}
	.related a .image img {
		height: 186px;
	}
	.contact_block {
		margin-top: 80px;
		padding: 56px 32px;
	}
	.contact_block .btn {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.content ul:not(.tags) {
		margin-top: 0;
		margin-bottom: 0;
	}
	.contact_block ul li {
		width: 100%;
		display: block;
		text-align: left;
		margin-bottom: 8px;
	}
}

@media screen and (max-width: 320px)
{
	.article_image img {
		height: 200px;
	}
	.container h2 {
		margin-left: 28px;
		margin-right: 28px;
	}
	.container ul:not(.tags) {
		margin: 0 48px 20px;
	}
	.container.content p {
		margin: 0 28px 20px;
	}
	.container h3 {
		margin-left: 28px;
		margin-right: 28px;
	}
	.tag_bar {
		margin: 56px 28px;
	}
	.contact_block .btn {
		padding: 16px 24px;
	}
	.contact_block ul li a {
		font-size: 13px;
	}
}