.title_bar .categories a:hover,
.title_bar .categories a.active {
	background-color: #51b989;
	color: #fff;
}
.other_news {
	margin-top: 0;
}
.container.title {
	padding-bottom: 0;
}
.button_bar.pager {
	margin: 120px 0;
	text-align: center;
}
.container.interesting {
	padding-top: 0;
	padding-bottom: 180px;
}
.more-link {
	margin-top: 16px;
	display: block;
}

@media screen and (max-width: 550px)
{
	.other_news a .image img {
		height: auto;
	}
	.other_news a .text {
		height: 30px;
		overflow: hidden;
		display: block;
	}
	.technical a .category {
		font-size: 12px;
	}
	
	.technical a .title {
		font-size: 14px;
	}
}