.container {
	padding: 80px 0 120px;
}

.title_bar {
	text-align: center;
}

.title_bar h1 {
	font-size: 48px;
	margin-bottom: 40px;
}

.title_bar .categories {
	margin-bottom: 80px;
}

.title_bar .categories a {
	display: inline-block;
	border-radius: 16px;
	background-color: #e4e4e4;
	padding: 7px 24px;
	font-weight: bold;
	color: #005933;
	font-size: 14px;
	margin: 0 12px;
}
.column-9 {
    width: 66.6666666667%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}
h2 {
	font-size: 32px;
	font-weight: 900;
	margin-bottom: 16px;
}

.title_bar .categories a:hover,
.title_bar .categories a.active {
	background-color: #51b989;
	color: #fff;
}

.row {
	margin: 0 -28px;
}

.row::after {
	clear: both;
	content: "";
	display: block;
	height: 0px;
}

.column-3,
.column-9 {
	
}


a .more-link {
	color: #51b989;
	display: block;
	font-size: 14px;
}

a .more-link img {
	width: 8px;
	transform: rotate(180deg);
	margin-right: 4px;
}

a .more-link span {
	font-weight: 900;
	text-decoration: underline;
}

.items a {
	display: block;
}

.items .bigBlock {
	position: relative;
	margin-bottom: 50px;
}

.items .bigBlock .image {
	position: relative;
	width: 728px;
	height: 405px;
	display: block;
	background-size: cover;
	background-position: center center;
}

.items .bigBlock .image img {
	height: auto;
}

.items .bigBlock .caption {
	position: absolute;
	left: 40px;
	bottom: 40px;
}

.items .bigBlock .btn {
	position: absolute;
	left: 50%;
	bottom: -26px;
	transform: translateX(-50%);
	text-align: center;
	padding: 15px 0;
	width: 148px;
	max-width: 148px;
}

.items .bigBlock .caption .category {
	display: block;  
	text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	font-size: 26px;
	color: #fff;
	margin-bottom: 8px;
}

.items .bigBlock .caption .title {
	text-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
	font-size: 48px;
	font-weight: 900;
	color: #fff;
	max-width: 400px;
	display: block;
}

.populair_items a {
	display: block;
	margin-bottom: 16px;
}

.populair_items a::after {
	clear: both;
	display: block;
	content: "";
}

.populair_items a .image {
	width: 154px;
	height: 104px;
	background-size: cover;
	background-position: center center;
	max-width: 154px;
	max-height: 104px;
	margin-right: 16px;
	float: left;
	display: block;
}

.populair_items a .image img {
	height: auto;
}

.populair_items a .caption .category {
	color: #51b989;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
}
.populair_items a .caption .title {
	color: #060f0b;
	font-weight: 900;
	font-size: 15px;
	line-height: 22px;
	display: block;
}

.news .empty {
	display: block;
	height: 56px;
}

.other_news a,
.technical a,
.toptips a,
.news a {
	display: block;
	margin-bottom: 20px;
}

.other_news a .image,
.technical a .image,
.toptips a .image,
.news a .image {
	margin-bottom: 11px;
	display: block;
}

.other_news a .image {
	height: 195px;
	width: 336px;
	background-position: center center;
	background-size: cover;
}

.other_news .title {
	height: 43px;
}


.technical a {
	margin-bottom: 20px;
}

.technical a .image {
	height: 214px;
	width: 558px;
	background-position: center center;
	background-size: cover;
}

.toptips a .image {
	height: 200px;
	width: 336px;
	background-position: center center;
	background-size: cover;
}

.news a .image {
	height: 195px;
	width: 336px;
	background-position: center center;
	background-size: cover;
}

.other_news a .category,
.technical a .category,
.toptips a .category,
.news a .category {
	color: #51b989;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}

.other_news a .title,
.technical a .title,
.toptips a .title,
.news a .title {
	color: #060f0b;
	font-weight: 900;
	margin-bottom: 8px;
	font-size: 15px;
	line-height: 22px;
	display: block;
}

.other_news a .text,
.technical a .text,
.toptips a .text,
.news a .text {
	font-size: 16px;
	color: #6e706f;
}

.social li {
	display: block;
	margin-bottom: 16px;
}

.social li a {
	display: block;
}

.social li a .icon {
	vertical-align: middle;
	display: inline-block;
}

.social li a .title {
	vertical-align: middle;
	margin-left: 20px;
	color: #060f0b;
	font-weight: 900;
	display: inline-block;
}

.button_bar {
	margin-top: 40px;
	margin-bottom: 120px;
	text-align: center;
}

.button_bar .btn {
	display: inline-block;
	width: auto;
	padding: 16px 36px;
}

.other_news .button_bar,
.technical .button_bar,
.toptips .button_bar {
	text-align: right;
}

.other_news .button_bar {
	margin-bottom: 100px;
}

.technical .button_bar {
	margin-bottom: 0;
}

.usp-bar {
    background-color: #f1faf6;
    text-align: center;
    margin-bottom: 120px;
}

.usp-bar .container {
    padding: 32px 0;
}

.usp-bar .usps {
    margin-top: 0;
    text-align: center;
}

.usp-bar .usps li {
    padding: 0 0 0 20px;
    margin: 0 20px;
    color: #51b989;
    font-weight: 900;
    font-size: 15px;
    display: inline-block;
}

.usp-bar .usps li img {
    width: 17px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.usp-bar .btn {
	margin: 25px auto 0;
	display: inline-block;
	width: auto;
	padding: 16px 35px;
	color: #fff;
	background-color: #2c9162;
}

.other_news h2 {
	margin-bottom: 24px;
}

.other_news .container {
	padding-top: 0;
}

.other_news .row .column-3 a {
	margin-bottom: 40px;
	display: block;
}
.other_news .text {
	min-height: 126px;
    display: block;
}

.other_news .image img {
	height: auto;
}

.other_news a .image {
	min-height: 200px;
}

@media screen and (max-width: 1024px)
{
	.populair_items a .image {
		max-width: 100px;
	}

	.title_bar {
		margin-top: 50px;
	}
	.items .bigBlock .image {
		width: auto;
	}
	.other_news a .image,
	.technical a .image,
	.toptips a .image,
	.news a .image {
		width: auto;
	}
	.other_news a .title, .technical a .title, .toptips a .title, .news a .title {
		min-height: 44px;
	}

	.social a .title {
		min-height: 0;
	}
}

@media screen and (max-width: 768px)
{
	.container {
		overflow-x: hidden;
		padding-bottom: 0;
	}
	.populair_items a .image {
		max-width: 154px;
	}

	.column-3, .column-9, .column-2 {
		float: none;
		width: 100%;
		display: block;
	}

	.column-3 {
		padding: 0 58px;
	}

	.news .column-3 {
		padding: 0 28px;
	}

	h2.populair {
		margin-top: 80px;
	}

	a span.category {
		font-size: 14px;
	}
	a span.title {
		font-size: 14px;
	}
	a span.text {
		font-size: 14px;
	}

	.other_news .title {
		height: auto;
	}

	.row.news {
		margin-top: 44px;
	}

	.row.news .image img {
		width: 100%;
	}

	.news a .category {
		margin: 0 27px 4px;
	}

	.news a .title {
		margin: 0 27px 8px;
	}

	.news a .text {
		margin: 0 27px;
		display: block;
	}

	.news .button_bar {
		margin-bottom: 56px;
	}

	.social {
		max-width: 180px;
		margin: 0 auto 56px;
	}
	h2.social_title {
		display: block;
		text-align: center;
		margin-left: -40px;
	}

	.other_news .container {
		padding-bottom: 120px;
	}

	.other_news .container > h2,
	.news .column-3 > h2,
	.toptips > h2 {
		margin: 0 28px 16px;
	}

	.other_news a .image,
	.toptips a .image {
		max-width: 120px;
		max-height: 84px;
		width: 120px;
		height: 84px;
		margin-right: 16px;
		display: inline-block;
		float: left;
	}
	.other_news a .image {
		min-height: 0;
	}

	.other_news a .details,
	.toptips a .details {
		display: inline-block;
		max-width: 80%;
		float: left;
		margin-bottom: 24px;
	}

	.other_news a::after,
	.toptips a::after {
		display: block;
		content: "";
		clear: both;
	}

	.other_news a .category,
	.toptips a .category {
		margin-bottom: 4px;
		font-size: 12px;
	}

	.other_news a .title,
	.toptips a .title {
		margin-bottom: 4px;
		font-size: 14px;
		line-height: normal;
	}

	.other_news a .text,
	.toptips a .text {
		font-size: 14px;
	}

	.other_news .button_bar, .technical .button_bar, .toptips .button_bar {
		text-align: center;
		margin-bottom: 56px;
	}

	.technical > h2 {
		margin: 0 28px 16px;
	}

	.technical a {
		margin-bottom: 36px;
	}

	.technical a .title,
	.technical a .text,
	.technical a .category {
		margin: 0 40px 8px;
		display: block;
	}

	.other_news .row .column-3 a {
		margin-bottom: 0;
	}
	
	a .more-link {
		margin-left: 40px;
		margin-right: 40px;
	}


	.other_news a .title, .technical a .title, .toptips a .title, .news a .title {
		min-height: 0;
	} 
}

@media screen and (max-width: 550px)
{
	.title_bar h1 {
		font-size: 34px;
		line-height: 40px;
	}

	.title_bar .categories a {
		margin-bottom: 16px;
	}

	.title_bar .categories {
		margin-bottom: 64px;
	}

	.items .bigBlock .caption .category {
		font-size: 20px;
	}

	.items .bigBlock .caption .title {
		font-size: 34px;
		line-height: 40px;
	}

	.news a .category {
		font-size: 12px;
	}

	.news a .title {
		font-size: 14px;
	}

	.other_news a .details, .toptips a .details {
		max-width: 50%;
	}

	.usp-bar .usps li {
		display: block;
		margin-bottom: 8px;
		margin-left: -17px;
	}

	.usp-bar .usps li img {
		position: static;
		left: 0;
		top: 0;
		transform: none;
	}

	.other_news a .text {
		font-size: 12px;
	}
}

@media screen and (max-width: 320px)
{
	.other_news a .image, .toptips a .image,
	.populair_items a .image {
		max-width: 100px;
	}
}

