.page-container {
	padding-top: 80px;
	padding-bottom: 80px;
}

.title {
	text-align: center;
	max-width: 400px;
	margin: 0 auto 68px;
}

.title h1 {
	font-size: 48px;
	margin-bottom: 16px;
	display: block;
}

.title p {
	font-size: 20px;
}

.boxes {
	margin-bottom: 90px;
}

.boxes .box {
	background-color: #f9f9f9;
	padding: 40px;
	margin-bottom: 30px;
	min-height: 318px;
}

.boxes .box h2 {
	color: #51b989;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 8px;
}

.boxes .box .icon {
	display: block;
	margin-bottom: 24px;
	text-align: center;
}

.boxes .box ul li {
	display: block;
	margin-bottom: 8px;
}

.boxes .box ul li:last-child {
	margin-bottom: 0;
}

.boxes .box ul li a{
	font-size: 15px;
	line-height: 25px;
	display: block;
	color: #060f0b;
	font-weight: 900;
	word-break: break-word;
}

.questions {
	text-align: center;
	margin-bottom: 180px;
}

.questions h3 {
	color: #040a07;
	margin-bottom: 8px;
}

.questions p {
	margin-bottom: 40px;
}

.questions .row {
	max-width: 500px;
	margin: 0 auto;
}

.questions .row a {
	color: #6e706f;
}

.questions .row a img {
	vertical-align: middle;
	margin-right: 8px;
}

@media screen and (max-width: 768px)
{
	.page-container {
		margin-top: 60px;
		padding: 80px 24px;
	}
	.column-7, .column-5, .column-4, .column-3 {
	    width: 100%;
	    float: none;
	}
	.boxes .box .icon {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-right: 16px;
		max-width: 40px;
		max-height: 40px;
	}

	.boxes .box {
		min-height: 0;
		padding: 24px;
	}

	.boxes .box h2 {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
	}

	.boxes .box ul {
		margin-left: 60px;
	}
}

@media screen and (max-width: 550px)
{
	.title {
		margin-bottom: 40px;
	}

	.title h1 {
		font-size: 34px;
		line-height: 40px;
	}

	.title p {
		font-size: 16px;
		color: #040a07;
	}


	.questions p {
		max-width: 240px;
		margin: 0 auto 40px;
		line-height: 24px;
	}

	.questions .column-2 {
		display: block;
		width: 100%;
		text-align: left;
		margin-bottom: 8px;
	}
	.questions .row {
		max-width: 240px;
	}
}

@media screen and (max-width: 320px)
{
	.boxes .box h2 {
		font-size: 16px;
	}

	.boxes .box .icon {
		max-width: 30px;
		max-height: 30px;
		margin-right: 16px;
	}

	.boxes .box ul {
		margin-left: 52px;
	}
}