p {
	line-height: 23px;
}

.info-block .content ul {
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.info-block .content ul li {
	list-style-type: disc;
	margin-bottom: 8px;
	line-height: 23px;
}

.info-block .content ul.links li {
	list-style-type: none;
}

#relatedSlider .title {
	font-size: 14px;
}

.customerReviews {
	background-color: #f9f9f9;
}

.info-block {
	margin-bottom: 0;
}

.info-block.right.first {
	margin-top: 120px;
}

.info-block.top .images .image {
	max-width: 657px;
	max-height: 660px; 
    margin-left: -240px;
}

.info-block.first .images .image {
	z-index: -2;
	max-width: 464px;
	max-height: 365px;
	margin-right: -80px;
}

.info-block.right.first .images .image:nth-child(2) {
	margin-left: 212px;
}

.info-block .btn {
	width: auto;
	padding: 0 30px;
	line-height: 52px;
	height: 52px;
	display: inline-block;
	margin-top: 40px;
}

section.company-usps {
	margin-bottom: 0;
}


.usp-bar {
	background-color: #f1faf6;
}

.usp-bar .container {
	padding: 22px 0;
}

.usp-bar .usps {
	margin-top: 0;
	text-align: center;
}

.usp-bar .usps li {
	padding: 0 0 0 20px;
	margin: 0 20px;
	color: #51b989;
	font-weight: 900;
	font-size: 15px;
	display: inline-block;
}

.customerReviews .container {
	padding: 80px 0 110px;
}

.customerReviews .header-wrapper .kiyohImage {
	width: 80px;
}

.customerReviews .header-wrapper h2 {
	margin-bottom: 0;
    font-family: Muli;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #060f0b;
}

.customerReviews .header-wrapper h2 br {
	display: none;
}

.customerReviews .header-wrapper p {
	text-align: center;
	margin-top: 8px;
	font-size: 18px;
}

.moreCustomerReviews a {
	font-size: 17px;
	font-weight: 900;
	color: #51b989;
}

.moreCustomerReviews a span {
	margin-left: 8px;
	text-decoration: underline;
}

.moreCustomerReviews a img {
	vertical-align: middle;
}

.customerReviews .header-wrapper .customerReviewsHeader-left, 
.customerReviews .header-wrapper .customerReviewsHeader-right {
	float: none;
	margin-bottom: 0;
}

.customerReviews .header-wrapper {
	position: relative;
}

.customerReviews .header-wrapper .customerReviewsHeader-right {
	position: absolute;
	top: 0;
	right: -80px;
}

.moreCustomerReviews .stars {
	margin-bottom: 40px;
}

.moreCustomerReviews .stars img {
	height: 26px;
	width: 26px;
}

.customerReviews .moreCustomerReviews {
	margin-top: 4px;
}

.usp-blocks .block_item span {
	display: block;
}

.usp-blocks .row {
	margin: 0 -24px;
}

.usp-blocks .column-3 {
	padding: 0 24px;
}

.info-block.right.second {
	margin-top: 120px;
}

.info-block .content a:not(.btn){
	color: #51b989;
}

.info-block.middle {
	margin-top: 120px;
}

.usp-blocks h2 {
	text-align: center;
	display: block;
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 44px;
}

.usp-blocks .icon {
	text-align: center;
}

.usp-blocks .title {
	font-size: 24px;
	font-weight: 900;
	color: #040a07;
	margin-bottom: 20px;
	max-width: 300px;
}

.button-bar {
	margin-top: 50px;
	text-align: center;
}

.button-bar .btn {
	display: inline-block;
	height: 52px;
	width: auto;
	padding: 0 30px; 
	line-height: 52px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
-moz-box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
}

header .hero {
	background-image: none;
}

header .hero .action-form {
	bottom: -50px;
}

.photo-block {
	margin-top: 40px;
	position: relative;
}

.photo-block .photo {
	margin-right: 80px;
}

header .hero .container {
	padding-top: 80px;
}

header .hero h1 {
	color: #040a07;
	text-shadow: none;
	text-align: center;
}

header .hero .under {
	color: #040a07;
	text-shadow: none;
	font-size: 20px;
	max-width: 620px;
	margin: 0 auto;
	text-align: center;
}


.stickyTop {
	position: fixed;
	display: none;
	left: 0;
	right: 0;
	top: 128px;
	z-index: 999;
	background-color: #fff;
	height: 80px;
	line-height: 80px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.stickyTop.fixed {
	display: block;
}

.stickyTop .container {
	padding: 0 40px;
	max-width: 1300px;
}

.stickyTop ul {
	float: left;
}

.stickyTop ul li {
	display: inline-block;
	margin-right: 30px;
	color: #51b989;
	font-weight: 900;
	font-size: 14px;
}

.stickyTop ul li img {
	margin-right: 4px;
	vertical-align: middle;
        margin-bottom: 5px;
}

.stickyTop .btn {
	padding: 0 32px;
	width: auto;
	float: right;
	margin-top: 14px;
	margin-right: 20px;
}

header.fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

header.stickyTopMargin {
	margin-top: 130px;
}


#relatedSlider .price {
    color: #040a07 !important;
    margin-top: 8px;
    font-weight: 900;
    display: block;
    font-size: 16px !important;

}


/* Products */
.product-item .product div:not(.picture,.right) .title {
    font-size: 20px;
    font-weight: 900;
    color: #51b989;
    display: block;
    margin-bottom: 16px;
}
.product-item .product .price {
	margin-bottom: 0;
}

.product-item .product .price span {
    font-size: 12px;
    color: #6e706f;
    font-weight: 600;
}

.product-item .product .left p {
    font-size: 12px;
    color: #6e706f;
    font-weight: 600;
}

.product-item > .product ul {
	min-height: 0;
}

@media screen and (max-width: 1400px)
{
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 1024px)
{
	.product-item > .product ul {
		min-height: 0 !important;
	}

	.info-block.top .images .image {
		margin-left: -310px;
	}

	.info-block.last_item {
		margin-bottom: 120px;
	}


	.stickyTop {
		top: 70px;
	}
}

@media screen and (max-width: 768px)
{
	.related .product-slider {
		width: auto;
		max-width: none;
	}

	.info-block.right.second {
		margin-top: 80px;
	}

	.info-block.right.second .images .image:nth-child(1) {
		margin-left: auto;
		margin-right: auto;
	}

	.info-block.top.middle .images {
		margin-left: auto;
		margin-right: auto;
	}

	.info-block.top.middle .images .image {
		margin-left: auto;
		margin-right: auto;
	}

	.photo-block .photo {
		margin-right: 0;
	}

	header .hero .action-form {
		bottom: -150px;
	}

	section.company-usps.second .item img {
		max-height: 40px;
	}

	section.company-usps .row {
		margin: 0;
	}

	section.company-usps.second .item {
		padding-left: 20px;
		height: auto;
	}

	section.company-usps.second .item h4 {
		font-size: 13px;
		max-width: 80px;
	}

	.usp-blocks .block_item span img {
		max-width: 120px;
	}

	.usp-blocks .title {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.usp-blocks .text {
		font-size: 14px;
	}

	.stickyTop ul li:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 550px)
{
	header .hero h1 {
		margin: 40px auto 20px;
		max-width: 300px;
	}

	header .hero .under {
		font-size: 16px;
		margin-bottom: 40px;
	}

	header .hero .container {
		padding-left: 25px;
		padding-right: 25px;
	}

	header .hero .action-form {
		bottom: -285px;
	}

	.info-block.top {
		margin-top: 180px;
	}

	.info-block.top .images .image {
		max-height: 320px;
		margin-left: -200px;
	}

	.info-block.right.first .images {
		max-width: none;
	}

	.info-block.first .images .image:nth-child(1) {
		max-width: 235px;
		max-height: 185px;
		margin-left: -20px;
		position: relative;
	}

	.info-block.first .images .image:nth-child(2) {
		max-width: 233px;
		max-height: 233px;
		margin-left: 100px;
		margin-top: -90px;
		position: relative;
        margin-left: 100px !important;
	}

	.info-block.middle .images {
		max-width: 80%;
	}
	
	.info-block.middle .images .image {
		margin-left: 0;
	}
	
	.info-block.middle .images .image:nth-child(1) {
		padding-right: 8px;
	}

	.container.---Style {
		padding-left: 25px;
		padding-right: 25px;
	}

	section.company-usps.second .item {
		text-align: center;
		margin-bottom: 8px;
	}

	section.company-usps.second .item img {
		max-height: 60px;
	}

	section.company-usps.second .item h4 {
		font-size: 16px;
		max-width: 110px;
	}

	.usp-blocks .block_item .icon {
		float: left;
	}

	.usp-blocks .details {
		float: left;
		max-width: 200px;
	}

	.usp-blocks .block_item {
		margin-bottom: 24px;
	}

	.usp-blocks .block_item::after {
		clear: both;
		display: block;
		height: 0px;
		content: "";
	}

	.button-bar {
		margin-top: 20px;
	}

	.customerReviews {
		display: block;
	}

	.customerReviews .container {
		padding: 80px 56px 120px;
	}

	.customerReviews .header-wrapper h2 {
		max-width: 200px;
	}

	.customerReviews .header-wrapper .customerReviewsHeader-left {
		margin-right: 0;
	}

	.customerReviews .header-wrapper .customerReviewsHeader-right {
		right: 0;
	}

	.customerReviews .header-wrapper h2 br {
		display: block;
	}

	.stickyTop ul li:nth-child(2) {
		display: none;
	}
	.stickyTop ul li {
		margin-right: 0;
		font-size: 12px;
		margin-right: 10px;
	}

	.stickyTop .container {
		padding: 0 20px;
	}

	.stickyTop .btn {
		margin-right: 0;
	}

	.container.--Products {
		margin-top: 160px;
		margin-bottom: -230px;
	}
	.product-item .product .price {
		line-height: normal !important;	
	}
	.product-item .product .details {
		width: 100%;
		margin-top: 20px;
	}
	.product-item .product .price span {
		display: block;
	}
}

@media screen and (max-width: 425px)
{
	.stickyTop ul li {
		display: none;
	}

	.stickyTop .container {
		text-align: center;
	}

	.stickyTop .btn {
		float: none;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px)
{
	.usp-blocks .details {
		max-width: 150px;
	}

	.usp-blocks .block_item .icon {
		max-width: 120px;
	}

	.customerReviews .moreCustomerReviews a {
		padding: 0;
	}
}

@media (orientation: landscape) and (max-width: 770px) {
	.stickyTop ul li:nth-child(2) {
		display: none;
	}
}