.container.---Style.---LandingFaq {
	padding: 50px 30px 100px;
}


.---LandingFaq .title {
	text-align: center;
	margin: 0 auto 80px;
	max-width: 640px;
}

.---LandingFaq .title h1 {
	font-size: 48px;
	margin-bottom: 14px;
}

.---LandingFaq .title h2 {
	color: #6e706f;
	font-size: 20px;
	line-height: 24px;
	margin: 0 auto;
}


.---LandingFaq .collapse {
	margin-bottom: 40px;
}

.---LandingFaq .collapse:last-child {
	margin-bottom: 0;
}

.---LandingFaq .collapse .title {
	font-size: 20px;
	color: #51b989;
	font-weight: 900;
	display: block;
	margin-bottom: 16px;
	text-align: left;
	position: relative;
}

.---LandingFaq .collapse .title img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);	
	transform: rotate(180deg);
}

.---LandingFaq .collapse.active .title img {
	transform: rotate(0deg);
}


.faq_title {
	font-size: 24px;
	font-weight: 900;
	color: #51b989;
	margin-bottom: 40px;
	display: block;
	text-align: center;
	width: 100%;
}

.content-items .collapse {
	border-bottom: solid 1px rgba(211, 211, 211, 0.5);
	padding-bottom: 24px;
	margin-bottom: 24px;
}


.content-items .collapse ul li a,
.content-items .collapse p a {
	color: #51b989;
}

.content-items .txt_title {
	font-weight: 900;
	color: #060f0b;
	font-size: 16px;
	line-height: 26px;
	position: relative;
	display: block;
}

.content-items .txt_title img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(180deg);
}

.content-items .collapse.active img {
	transform: rotate(0deg);
}

.content-items .collapse p {
	margin-top: 8px;
	color: #797c7a;
	display: none;
}

.content-items .collapse.active p {
	display: block;
	margin-bottom: 0;
}

.---LandingFaq .title h2.first {
    font-size: 48px;
    margin-bottom: 14px;
    font-family: Muli;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #060f0b;
    margin-bottom: 24px;
}