body.sun_relative {
	position: relative;
}

.sun_overlay {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;
}

.action-form .column-5 {
	float: left;
}

.action-form .row {
	margin: 0 -4px;
}
.action-form .column-5,
.action-form .column-7 {
	padding: 0 4px;
}

header .hero .action-form.active {
	height: 270px;
}

header .hero .action-form .form-control {
	appearance: auto;
    -moz-appearance: auto;
	-webkit-appearance: auto;
}

#sun_overlay_form .form-control.wpcf7-not-valid,
.action-form .form-control.error {
	border-color: rgb(185, 74, 72);
}

#sun_overlay_form {
	display: none;
	position: fixed;
	top: 208px;
	left: 50%;
	transform: translateX(-50%);
	right: 50%;
	width: 700px;
	height: auto;
	padding: 50px 60px 10px;
	background-color: #fff;
	z-index: 10000;
}

#sun_overlay_form .form_title {
    font-weight: 900;
    color: #040a07;
    text-align: center;
    font-size: 36px;
}

#sun_overlay_form form {
	margin: 0 80px;
}

#sun_overlay_form .slogan {
	font-size: 18px;
	line-height: 22px;
	margin: 10px 0 30px;
	text-align: center;
}

#sun_overlay_form .row.next {
	margin-top: 20px;
}

#sun_overlay_form .column-12 {
	width: 100%;
	display: inline-block;
	padding: 0 15px;
}

#sun_overlay_form .pull-right {
	float: right;
}

#sun_overlay_form .address_label {
	margin-top: 20px;
	position: relative;
}

#sun_overlay_form .address_label img {
	vertical-align: middle;
	position: absolute;
	left: 0;
}

#sun_overlay_form .address_label span {
	color: #51b989;
	font-weight: bold;
	font-size: 12px;
	padding-left: 23px;
	vertical-align: middle;
	display: block;
    padding-top: 3px;
}

#sun_overlay_form .close {
	color: #040a07;
	position: absolute;
	right: 40px;
	top: 20px;
}

#sun_overlay_form .wpcf7 form.invalid .wpcf7-response-output {
	margin: 0em 0em 1em;
	text-align: center;
	font-size: 13px;
	border: 1px solid rgb(185, 74, 72);
	color: rgb(185, 74, 72);
	padding: 4px 0;
}

#sun_overlay_form .wpcf7 form.sent .wpcf7-response-output {
	margin: 0em 0em 1em;
	text-align: center;
	font-size: 13px;
	border: 1px solid #45a378;
	color: #45a378;
	padding: 4px 0;
}

#sun_overlay_form .hidden {
	display: none;
}

@media screen and (max-width: 768px)
{
	header .hero .action-form.active {
		top: 140px;
	}
	.customerReviews {
		margin-top: 200px;
	}
	#sun_overlay_form {
		left: 20px;
		right: 20px;
		transform: none;
		width: auto;
	}

	#sun_overlay_form {
		padding: 50px 20px 10px;
	}

	#sun_overlay_form form {
		margin: 0;
	}
} 

@media screen and (max-width: 550px)
{
	.action-form .column-7 {
		width: 60%;
		float: left;
	}
	.action-form .column-5 {
		width: 40%;
		float: left;
	}


	#sun_overlay_form .form_title {
		font-size: 28px;
		margin: 0 20px;
	}

	#sun_overlay_form .slogan {
		font-size: 16px;
		line-height: 18px;
		margin-left: 20px;
		margin-right: 20px;
	}
}