form h1 {
	margin-bottom: 16px;
}

.payment_method label,
.payment_options li label{
	display: block;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 0 40px 0 18px;
    line-height: 73px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}

.payment_options li label.active .payment_box::before {
	border: 1em solid #efefef !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
}

.payment_options li label.active .payment_box {
	display: block !important;
	background-color: #efefef !important;
}

.payment_options li label.active .payment_box p {
	font-size: 13px !important;
}

ul li {
	display: block;
}

.payment_options {
	padding: 1em 1em 1em 0;
}

.payment_options .payment_box {
	display: none !important;

}


.payment_options li label input {
	display: inline-block;
	vertical-align: middle;
}

.payment_options li label span {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	color: #040a07;
	font-weight: bold;
}

.page-template-page-checkout .woocommerce form .form-row .custom-label-wrap span {
	bottom: 26px;
    display: inline-block;
    margin-right: 20px;
}

.page-template-page-checkout .woocommerce form .form-row .custom-label-wrap span a {
	color: #51b989;
	font-weight: 900;
}

.woocommerce form .form-row label {
	line-height: 1.5;
}



.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: right;
}

.summary-link {
	padding-left: 0 !important;
	float: left;
	display: inline-block;
	height: 52px;
	line-height: 52px;
	margin-top: 30px;
    color: #51b989;
    text-decoration: underline;
    font-weight: 900;
    font-size: 14px;
    padding-left: 16px;
    position: relative;
}

.payment_options li label .logo {
	width: 122px;
}

.payment_options li label select {
	max-width: 190px;
	color: #060f0b !important;
	font-weight: normal;
	font-size: 14px;
	border: solid 1px #d3d3d3;
	display: none;
	vertical-align: middle;
}

.payment_options li label span:not(.logo) {
	width: auto;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background-color: transparent !important;
}

.payment_options input[type=radio]:checked + label,
.payment_options li label:hover,
.payment_options li label.active {
	border: 1px solid #51b989;
}

.payment_options li label.active select {
	display: inline-block;
}


.payment_options li label select option{
	color: #060f0b !important;
}

.payment_options li label .logo {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
    position: absolute;
    top: -22px;
    right: 20px;
}

.payment_options li label .logo img {
	max-height: 40px;
	display: inline-block;
	vertical-align: middle;
}

.payment_options li label .logo a {
	display: none;
}

.payment_options li label .logo img:nth-child(2) {
	max-height: 32px;
}

.conditions {
	margin-right: 30px;
	margin-top: 40px;
	max-width: none;
}

.woocommerce-terms-and-conditions a {
	color: #51b989;
	font-size: 14px;
	font-weight: 900;	
}

@media screen and (max-width: 1024px)
{
	.payment_options li:nth-child(1) label span {
		width: auto;
	}
	.payment_options li:nth-child(1) label select {
		max-width: 150px;
		margin-left: 20px;
	}
}

@media screen and (max-width: 768px)
{
	.container.checkout {
		padding-bottom: 120px;
	}

	.payment_options li:nth-child(1) label select {
		max-width: 150px;
		margin-left: 0;
	}
	.summary-link {
		display: block;
		float: none;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}

	.page-template-page-checkout .woocommerce form .form-row .custom-label-wrap span {
		bottom: 4px;
		left: -20px;
	}

	.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
		display: block;
		margin: 0 auto 1em;
		width: auto;
	}
}

@media screen and (max-width: 550px)
{
	#block_payment .custom-check {
		margin-left: -2px;
	}
	
	.page-template-page-checkout .woocommerce form .form-row .custom-label-wrap span {
		bottom: 26px;
		left: 20px;
	}

	.button-wrapper.more_top {
		top: 1120px;
	}

	/*.payment_options li:nth-child(1) label.active {
		position: relative;
		padding-bottom: 50px;
	}*/

	.payment_options li:nth-child(1) label select {
		position: absolute;
		left: 5px;
		top: 36px;
		width: 100%;
	}
}

@media screen and (max-width: 320px)
{
	.payment_options li label .logo {
		width: auto;
		max-width: 60px;	
	}
}