
h2 {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 16px;
	line-height: 23px;
}

.container.product-detail {
	max-width: 1120px;
	padding: 40px 40px 120px;
}

.postid-15216 div#anchor_ts {
    display: none;
}
.postid-15165 div#anchor_ts {
    display: none;
}
.postid-12590 div#anchor_ts {
    display: none;
}
.postid-15468 .row.row-page_links {
    display: none;
}
.postid-15530 .page_links {
    display: none;
}

.postid-15513 .page_links {
    display: none;
}

.container.product-detail.bottom {
	padding-bottom: 0;
}

.container.breadcrumb {
	padding: 32px 40px 0;
}

.container.breadcrumb #breadcrumb {
	display: inline-block;
}

.postid-16124 .product_details td label a {
    display: none;
    position: absolute;
    right: 20px;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-40%);
}

.switch-box {
	display: inline-block;
	float: right;
	bottom: 0;
	max-width: none;
}

#lightSlider {
	height: auto !important;
}

.product-detail .picture {
	text-align: center;
	position: relative;
	margin-bottom: 32px;
}

.product_details .woocommerce-info {
	margin-bottom: 30px;
}

.product-detail .picture img{
	max-height: 400px;
}

.product-detail .picture .num {
	top: 320px;
	left: 0;
	position: absolute;
	z-index: 98;
}
.product-detail .picture .num img {
	max-height: 50px;
}

.product-detail .picture .ribbon span {
    background-color: #ffcc39;
    color: black;
    font-size: 11px;    
}
.product-detail .picture .ribbon::before, .ribbon::after {
    border: 5px solid #ffcc39;
}

.product_details .cart .quantity {
	display: none;
}

.product_details .quantity {
	margin: 20px 0;
}

.product_details .quantity input {
	border: solid 1px #b5d4c6;
    border-radius: 0;
    resize: none;
    font-family: Muli;
    font-size: 14px;
    line-height: 20px;
    color: #060f0b;
    width: 100%;
    padding: 8px 12px;
    font-weight: bold;
    outline: none;
    background-color: #fff;
}


.product-slider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.product-slider li {
    display: inline-block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.product-slider img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.variations_button .quantity {
	display: none !important;
}

.lSSlideOuter .lSPager.lSGallery {
	margin-top: 33px !important;
	height: 80px;
}

.lSSlideOuter .lSPager.lSGallery li {
	width: 100px !important;
	height: 80px;
	border: 1px solid rgba(159, 171, 165, 0.5);
	text-align: center;
	border-radius: 0 !important;
}

.lSSlideOuter .lSPager.lSGallery li a {
	display: block;
}

.lSSlideOuter .lSPager.lSGallery li.active {
	border-color: #51b989;
	border-radius: 0 !important;
}
.lSSlideOuter .lSPager.lSGallery img {
	max-height: 70px !important;
	padding: 8px 0 0;
	display: inline-block;
}

.thumb_arrows {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
}

.thumb_arrows .prev {
	left: -20px;
	position: absolute;
}
.thumb_arrows .next {
	right: -20px;
	position: absolute;
}

.thumb_arrows .mirror {
	transform: rotate(180deg);
}

.product_details h1 {
	font-size: 24px;
	margin-bottom: 6px;
}
.product_details .brand {
	color: #51b989;
	display: block;
	margin-bottom: 40px;
	font-size: 14px;
	text-decoration: underline;
}

.product_details li {
	position: relative;
	padding-left: 150px;
	height: 40px;
	display: block;
	margin-bottom: 8px;
}

.product_details li .label {
	position: absolute;
	left: 0;
	top: 50%;
	display: block;
	font-size: 14px;
	font-weight: 900;
	color: #040a07;
	transform: translateY(-50%);
	width: 134px;
}
.product_details td label {
	position: relative;
	width: 180px;
	text-align: left;
	height: 40px;
	line-height: 40px;
	margin-bottom: 0;
}

.product_details td label a {
	display: inline-block;
	position: absolute;
	right: 20px;
	vertical-align: middle;
	top: 50%;
	transform: translateY(-40%);
}

.product_details .mobile {
	display: none;
}

.product_details select {
	max-width: 250px;
	display: inline-block;
	height: 40px;
	-webkit-appearance: auto;
	-moz-appearance: auto;
}


.product_details select {
	color: #9faba5 !important;
	font-weight: normal;
	border: 1px solid #d6dcd9;
}

.color {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	margin-left: 0;
	cursor: pointer;
}

.color input {
	visibility: hidden;
}

.product_details select:focus,
.color:hover,
.color.active {
	border: 1px solid #51b989;
}

.color .color-inner {
	width: 32px;
	height: 32px;
	left: 3px;
}

.color .color1 {
	background-color: #f1f0ea;
}

.color .color2 {
	background-color: #8e9291;
}

.color .color3 {
	background-color: #383e42;
}

.color .color4 {
	background-color: #4b5144;
}

.color .color5 {  
	background: #ff0000; 
	background: -moz-linear-gradient(-45deg,  #ff0000 0%, #ff9d1c 25%, #ffec7e 50%, #92ffb4 75%, #746eff 100%);
	background: -webkit-linear-gradient(-45deg,  #ff0000 0%,#ff9d1c 25%,#ffec7e 50%,#92ffb4 75%,#746eff 100%); 
	background: linear-gradient(135deg,  #ff0000 0%,#ff9d1c 25%,#ffec7e 50%,#92ffb4 75%,#746eff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#746eff',GradientType=1 );

}

.simple_slider .lSPager.lSGallery {
	width: 100% !important;
}

.product_details p.price {
	margin-top: 40px;
	display: none;
}

.product_details p.price.simple_prod {
	display: block !important;
}

.product_details form.cart {
	text-align: center;
}

.product_details .price span {
	color: #9faba5;
	font-size: 14px;
}

.product_details .price {
	display: block;
	text-align: center;
}

.product_details .price ins {
	text-decoration: none;
}

.product_details .price ins,
.product_details .price del {
	display: inline-block;
}

.product_details .price del span {
	color: #9faba5 !important;
}

.product_details .price span.amount {
	text-align: center;
}

.product_details .price span {
	font-size: 24px !important;
	color: #51b989 !important;
	font-weight: 900;
}

.product_details .woocommerce-variation.single_variation {
	margin-bottom: 20px;
}

.variations {
	margin-bottom: 40px;
	width: 100%;
}

.variations td {
	padding-bottom: 8px;
}

.woocommerce-Price-amount {
	color: #51b989 !important;
	font-size: 24px !important;
	font-weight: 900;
	margin-right: 8px;
	margin-bottom: 24px;
}

.woocommerce-variation-price .woocommerce-Price-amount {
	display: block;
}

.reset_variations {
	display: none !important;
}

.info-balloon {
	margin-top: 8px;
	margin-bottom: 24px;
	display: block;
	max-width: 130px;
	color: #134d30 !important;
}

.product_details .btn {
	width: 250px;
	margin-top: 0;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
    background-color: #ffd866 !important;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 900;
    font-family: Muli;
    color: #14192e !important;
	width: 250px;
	height: 52px;
	line-height: 52px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0;
}

.usps {
	margin-top: 0;
}

.row-reversed {
	margin-top: 60px;
}

.row-reversed .column-2 {
	float: left;
}
.row-reversed .column-5 {
	float: right;
}

.row-page_links {
	margin-top: 80px;
}

.page_links > span {
	font-size: 14px;
	font-weight: bold;
	color: #6e706f;
	margin-bottom: 8px;
	display: block;
}

.page_links > a {
	display: inline-block;
	color: #51b989;
	text-decoration: underline;
	font-size: 14px;
	margin-right: 6px;
	margin-bottom: 8px;
	font-weight: bold;
}

.plusmin li {
	width: 50%;
	display: inline-block;
	float: left;
	font-size: 14px;
	padding-left: 29px;
	position: relative;
	margin-bottom: 16px;
}

.plusmin li .icon {
	position: absolute;
	left: 0;
}

#banner {
	background-color: #f1faf6;
	margin-bottom: 120px;
}

#banner .container {
	padding: 24px 0;
	position: relative;
}

#banner .logo_content {
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
}

#banner .banner_content {
	display: inline-block;
	vertical-align: middle;
}

#banner .banner_content .title {
	font-size: 20px;
	font-weight: 900;
	color: #040a07;
	display: block;
	margin-bottom: 4px;
}
#banner .banner_content p {
	color: #040a07;
	max-width: 420px;
	margin-bottom: 0;
}

#banner .buttons {
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

#banner .buttons .btn {
	display: inline-block;
	width: 200px;
	text-align: center;
	padding: 16px 0;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
	box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
}

#banner .buttons .btn-phone {
	font-weight: 900;
	color: #040a07;
	display: inline-block;
	margin-right: 20px;
}

#banner .buttons .btn-phone img {
	vertical-align: middle;
	margin-right: 8px;
}

.info-block.first {
	min-height: 0;
}

.info-block.first .images {
	margin-left: 80px;
}

.info-block.first .images .image {
	position: static;
    max-width: 294px;
    max-height: 520px;
}

.info-block.second {
	margin-bottom: 120px;
	min-height: 0;
}

.info-block.second .images .image {
	max-width: 677px;
	max-height: 464px;
	margin-left: -200px;
}
.postid-15519 .info-block.second .images .image {
    max-width: 677px;
    max-height: 587px;
    margin-left: -200px;
    padding-top: 75px;
}
.info-block.right.third {
	margin-bottom: 0;
}

.info-block.right.third .images .image {
    max-width: 657px;
    max-height: 546px;
    margin-right: -100px;
}

.info-block .content .quote p {
	color: #51b989;
	font-style: italic;
}

.info-block .quote span {
	display: block;
	margin-top: 8px;
}

.info-block.fourth .content {
	margin-top: 0;
}

.info-block .content ul {
	margin-left: 20px;
	margin-top: 0;
	margin-bottom: 24px;
}

.info-block .content ul li {
	line-height: 1.71;
	list-style-type: disc;
}

.info-block.fourth .content .btn {
	display: inline-block;
	width: 320px;
	padding: 16px 0;
	text-align: center;
}

.info-block.fourth .images .image {
	max-height: 740px !important;
	max-width: 370px !important;
	margin-left: 100px;
}

.info-block.fifth {
	min-height: 0;
}

.info-block.fifth .content {
	margin-top: 0;
}

.info-block.fifth .images .image {
	max-width: 683px;
	max-height: 464px;
	margin-top: 70px;
	margin-right: -100px;
}

.info-block.fifth .btn {
	width: 320px;
	margin-top: 40px;
	display: block;
	text-align: center;
	padding: 15px 0;
}

.info-block .detail_price {
	color: #51b989;
	font-size: 24px;
	font-weight: 900;
	margin: 40px 0;
}

.info-block .detail_price span {
	font-size: 14px;
	color: #9faba5;
	margin-left: 8px;
	font-weight: normal;
}

.specs {
	padding-bottom: 120px;
}

.specs h2 {
	margin-bottom: 57px;
}

.specs .btn {
	display: inline-block;
	width: auto;
	text-align: center;
	padding: 16px 28px;
	margin: 60px 0 0 50px;
}

.specs .column-2:nth-child(1) ul{
	margin-right: 50px;
}


.specs .column-2:nth-child(2) ul{
	margin-left: 50px;
}

.specs .column-2:nth-child(2) .subtitle {
	margin-left: 50px;
}

.specs .subtitle {
	font-size: 17px;
	color: #51b989;
	font-weight: 900;
	margin-bottom: 24px;
}
.specs ul li {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}
.specs ul li span:not(.text) {
  box-sizing: border-box;
  flex-grow: 1;
  width: 50%;  
  overflow: hidden;
  list-style: none;
}

.specs ul li .attribute {
	position: relative;
}

.specs ul li .text {
	max-width: 130px;
	display: inline-block;
	vertical-align: middle;
}


.specs ul li:nth-child(odd) {
	background-color: #f3f5f4;
}
.specs ul li img {
	vertical-align: middle;
}

.specs ul li a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
}

#reviews {
	background-color: #f9f9f9;
	text-align: center;
}
#reviews .container {
	padding-top: 80px;
	padding-bottom: 80px;
}

#reviews .title {
	position: relative;
	max-width: 610px;
	margin: 0 auto;
}

#reviews .title h3 {
	color: #060f0b;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}

#reviews .title h4 {
	font-size: 18px;
	color: #6e706f;
	margin-top: 9px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 50px;
}

#reviews .title img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	max-width: 80px;
	max-height: 80px;
}

#reviews .btn {
	display: inline-block;
	margin: 60px auto 0;
	width: auto;
	padding: 16px 28px;
}


#reviewSlider li {
	text-align: left;
}

.lSSlideWrapper  {
	margin-left: 40px;
	overflow: visible;
}

#reviewSlider .title {
	color: #060f0b;
	font-weight: 900;
	display: block;
	margin: 16px 0 28px;
}

#reviewSlider .description {
	font-size: 14px;
	color: #060f0b;
	display: block;
	/*max-width: 290px;*/
	margin-right: 20px;
}

#reviewSlider .description .expand {
	display: none;
}

#reviewSlider .bottom {
	margin-top: 16px;
	display: block;
	font-size: 12px;
	color: #999c9b;
	margin-right: 40px;
}

#reviewSlider .bottom .date {
	float: right;
}

#reviewSlider .description a {
	color: #51b989;
	font-weight: 900;
	font-size: 14px;
	text-decoration: underline;
}
.review-slider .lSAction > a:nth-child(1) {
	left: -48px;
}

.review-slider .lSAction > a:nth-child(2) {
	right: -9px;
}

.scrollContainer {
	display: none;
} 

.scrollContainer.open {
	display: block;
	position: fixed;
    background-color: #fff;
    width: 335px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow-y: scroll;
    -webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
}

.scrollContainer .top {
	background-color: #51b989;
	padding: 20px 24px 20px 40px;
}

.scrollContainer .top .label {
	display: inline-block;
}

.scrollContainer .top .label span {
	vertical-align: middle;
}

.scrollContainer .top .label a {
	vertical-align: middle;
	margin-left: 16px;
}

.scrollContainer .top .closeFilters {
	float: right;
	display: inline-block;
	color: #fff;
}

.scrollContainer .top .label span {
	font-size: 24px;
	color: #fff;
	font-weight: 900;
}

@media screen and (min-width: 768px)
{

	.woocommerce-variation-add-to-cart {
		text-align: center;
	}

	#reviewSlider {
		/*padding: 0 40px;*/
		/*max-width: 1080px;*/
		height: auto !important;
		/*height: 250px !important;*/
	}
}

@media screen and (max-width: 1024px)
{
	.container.breadcrumb {
		margin-top: 60px;
	}
	.container.product-detail {
		overflow: hidden;
	}
}

@media screen and (max-width: 768px)
{
	nav .header_menu .container {
		overflow: visible;
	}

	#reviewSlider .description {
		margin-right: 0;
	}
	.lSSlideWrapper {
		margin-left: 0;
	}
	
	#overlay {
		display: none;
	}
	#overlay.active {
		display: block;
		position: fixed;
		z-index: 998;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(4, 10, 7, 0.5);
	}
	.column-5,
	.column-2,
	.column-2-product {
		width: 100%;
		float: none;
		display: block;
	}

	.container {
		max-width: 768px;
		overflow: hidden;
	}

	.column-offset-half-product {
		margin-left: 0;	
	}

	.product-detail .picture img {
		max-height: 300px;
	}

	.container.breadcrumb {
		padding-bottom: 102px;
	}

	.product-title {
		position: absolute;
		top: 120px;
	}

	.product-detail .picture .num {
		top: 220px;
	}

	.usps {
		padding-bottom: 20px;
	}

	#anchor_pi {
		margin-top: 20px;
	}

	.page_links {
		/*top: 1300px;*/
		left: 0;
		padding: 24px 50px;
		background-color: #f1faf6;
	}

	#banner {
		padding: 0 24px;
	}

	#banner .banner_content p {
		display: none;
	}

	#banner .container {
		padding-bottom: 40px;
		padding-left: 104px;
		position: relative;
	}
	#banner .logo_content {
		position: absolute;
		left: 0;
	}

	#banner .buttons {
		position: static;
		display: block;
		transform: none;
		margin-top: 10px;
	}

	#banner .buttons .btn-phone {
		display: block;
		max-width: 189px;
		margin-bottom: 24px;
		font-weight: normal;
		position: relative;
	}

	#banner .buttons .btn-phone img {
		position: absolute;
		top: -10px;
		right: 0;
	}

	#banner .buttons .btn {
		display: block;
	}

	.info-block .content {
		max-width: 50%;
		margin-top: 0;
	}

	.info-block .images {
		margin-right: 40px;
	}

	.info-block:first-child .images,
	.info-block.first .images {
	    margin-left: 40px;
	} 
	.info-block.second .images {
		max-width: 44%;
	}
	.info-block.right.third .images .image,
	.info-block.second .images .image {
		margin-left: 0;
	}
	.info-block.right .images {
		margin-right: 0;
	}
	.info-block.right .images {
		max-width: 40%;
	}
	.info-block.second .images .image:nth-child(1) {
		max-height: none;
	}
	section.company-usps h4 {
		font-size: 16px;
	}
	section.company-usps .item {
		padding-left: 0;
	}

	.product_details .woocommerce-variation.single_variation {
		text-align: center;
	}

	.specs .column-2:nth-child(1) ul {
		margin-right: 0;
	}

	.specs .column-2:nth-child(2) .subtitle {
		margin-top: 40px;
	}
	.specs .btn,
	.specs .column-2:nth-child(2) ul,
	.specs .column-2:nth-child(2) .subtitle {
		margin-left: 0;
	}
	#reviews .container {
		padding-left: 24px;
		padding-right: 24px;
	}
	.related .product-slider {
		width: auto;
	}
	section.company-usps.second .item {
		height: auto;
		padding-left: 0;
		text-align: center;
	}
	section.company-usps.second .item img {
		display: inline-block;
		text-align: center;
		margin-right: 0;
	}
	section.company-usps.second .item h4 {
		display: block;
		margin-top: 8px;
		max-width: none;
	}

	section.company-usps.second .item h4 br {
		height: 1px;
		display: inline-block;
		content: " ";
	}

	.product_details li {
		padding-left: 0;
	}

	.variations,
	.product_details li select,
	.product_details li .colors,
	.product_details li .label {
		display: none;
	}

	.product_details .mobile {
		display: block;
		margin-bottom: 40px;
	}

	.product_details .mobile.noBottom {
		margin-bottom: 0;
	}

	.product_details .mobile strong {
		  font-size: 14px;
		  color: #040a07;
		  margin-bottom: 4px;
		  font-weight: 900;
		  display: block;
	}

	.product_details .mobile > a {
		display: block;
		border: solid 1px #d3d3d3;
		padding: 11px 8px;
		color: #040a07;
		font-size: 14px;
		position: relative;
		cursor: pointer;
	}

	.product_details .mobile > a img {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}

	.product_details .mobile > a span:not(.color,.name) {
		position: absolute;
		right: 38px;
	}

	.product_details .mobile > a .color {
		  width: 24px;
		  height: 24px;
		  background-color: #fff;
		  display: inline-block;
		  margin-top: -3px;
	}

	.product_details .mobile > a .price {
		margin-top: -16px;
		position: absolute;
		right: 38px;
	}

	.product_details .mobile > a .color-inner {
		width: 17.5px;
		left: 2px;
		top: 2px;
		height: 17.5px;
	}

	.product_details .mobile .option {
		margin-bottom: 8px;
	}

	.product_details .mobile .options {
		display: none;
	}

	.product_details .price {
		margin-top: 16px;
	}

	.row-reversed {
		margin-top: 24px;
	}

	#product_options {
		display: block;
		padding: 24px 38px;
	}

	#product_options label {
		display: block;
		border: solid 1px #d3d3d3;
		background-color: #ffffff;
		padding: 0 8px;
		height: 58px;
		line-height: 58px;
		margin-bottom: 8px;
		position: relative;
	}

	#product_options label.active {
		border: 1px solid #51b989;
		background-color: #f1faf6;
	}

	#product_options label .label {
		font-size: 14px;
		color: #040a07;
	}

	#product_options label .price {
		font-size: 14px;
		color: #040a07;
		position: absolute;
		right: 16px;
	}

	#product_options label .color {
		float: none;
	}
	#product_options label input[type=radio] {
		display: none;
	}

	.closeFilters {
	    display: block;
	    color: #333;
	    top: 10px;
	    right: 15px;
	    text-align: right;
	    font-size: 20px;
	    margin-bottom: 20px;
	}
}

@media screen and (max-width: 550px)
{
	.container.product-detail,
	.container.breadcrumb,
	.container {
		padding-left: 24px;
		padding-right: 24px;
	}

	.ribbon {
		width: 150px;
		height: 150px;

	}
	
	.simple_slider .lSSlideOuter .lSPager.lSGallery {
		height: 80px;
	}

	.ribbon span {
		padding-left: 0;
		font-size: 12px;
	}

	#banner .buttons .btn-phone img {
		top: -20px;
	}

	.info-block .content {
		max-width: 100%;
		padding: 0 32px;
	}

	.info-block .content h1 {
		margin-top: 0;
	}
	.info-block.second .images {
		max-width: 100%;
		max-height: 219px;
		margin-bottom: 64px;
	}

	.info-block.second .images .image:nth-child(1){
		max-height: 219px;
		max-width: 100%;
		margin-left: -24px;
	}

	.info-block.right.third .images .image {
		max-width: 100%;
	}

	.info-block.right .images {
		max-width: 100%;
		margin-bottom: 64px;
		margin-right: -24px;
		margin-left: 24px;
	}

	.info-block.fourth .images .image:nth-child(1) {
		max-height: 387px;
		max-width: 194px;
		margin: 0 auto;
	}

	.info-block.fourth .images {
		max-height: 387px;
	}

	section.company-usps.second .item {
		text-align: left;
		max-width: 190px;
		margin: 0 auto 8px;
	}

	section.company-usps.second .item h4 {
		display: inline-block;
		text-align: left;
		max-width: 103px;
		margin-left: 8px;
	}

	section.company-usps.second .item img {
		width: 64px;
	}

	section.company-usps.second .item h4 br {
		display: block;
		height: auto;
	}

	.info-block.fifth .images .image {
		margin-top: 0;
		max-height: 230px;
	}

	section.company-usps h4 {
		font-size: 18px;
	}

	.variations_button {
		text-align: center;
	}

	.specs h2 {
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 16px;
	}

	.specs ul li {
		font-size: 12px;
	}

	.specs ul li a {
		right: 20px;
	}

	.specs .btn {
		height: auto;
	}

	.lSSlideOuter .lSPager.lSGallery {
		height: 48px;
	}

	#reviews .title {
		padding-top: 80px;
	}

	#reviews .title h3 {
		font-size: 34px;
		line-height: 40px;
		max-width: 240px;
		margin: 0 auto;
	}

	#reviews .title img {
		top: 20px;
		transform: translate(-50%,-50%);
		left: 50%;
	}

	#reviews .title h4 {
		font-size: 14px;
	}

	#reviewSlider .title {
		padding-top: 0;
	}

	#relatedSlider li {
		max-width: 130px;
		width: 130px;
	}

	.product-detail.related h3 {
		font-size: 32px;
		line-height: 40px;
	}
	.related .product-slider {
		margin-top: 30px;
	}
	#relatedSlider .picture {
		height: 112px;
	}
	#relatedSlider li .price {
		text-align: center;
	}
	#relatedSlider .title {	
		font-size: 14px;
		text-align: center;
	}
	#relatedSlider .picture img {
		max-width: 62px;
	}
	#relatedSlider li:first-child {
		margin-right: 0 !important;
	}

	.product_details h1 {
		margin-top: 30px;
	}

	.switch-box {
	    bottom: -10px;
	    z-index: 99;
	}
}

@media screen and (max-width: 426px)
{
	.product-detail .picture img {
		max-height: 200px;
	}

	.lSSlideOuter .lSPager.lSGallery li {
		width: 60px !important;
		height: 48px !important;
	}

	.lSSlideOuter .lSPager.lSGallery img {
		height: 40px !important;
	}

	.thumb_arrows {
		bottom: 32px;
	}

	.product-detail .picture .num {
		top: 120px;
	}

	.product_details .price {
		text-align: center;
	}

	.product_details .price span:not(.woocommerce-Price-currencySymbol,.price_digit) {
		display: block;
	}

	.product_details .info-balloon.grey {
		margin: 8px auto 24px;
	}

	.product_details .btn {
		margin: 0 auto;
		display: block;
	}

	.usps {
		max-width: 230px;
		margin: 0 auto;
	}

	.row-page_links {
		margin-top: 44px;
		padding: 0 24px;
	}

	.page_links {
		top: 1060px;
	}

	.row-reversed .column-2 {
		padding: 0 32px;
	}

	.usps li {
		font-size: 12px;
	}

	.plusmin li {
		width: 100%;
		display: block;
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 375px)
{
	.product_details h1 {
		margin-right: 30px;
	}

	#reviewSlider .title,
	#reviewSlider .description {
		max-width: 260px;
	}

	#reviewSlider .bottom .date {
		margin-right: 20px;
	}
}

@media screen and (max-width: 320px)
{
	.scrollContainer.open {
		width: 320px;
	}

	#banner .logo_content {
		width: 60px;
		height: 60px;
	}

	#banner .container {
		padding-left: 84px;
	}

	#banner .logo_content img {
		width: 37px;
	}

	#banner .buttons .btn-phone img {
		top: -10px;
	}

	#banner {
		margin-bottom: 80px;
	}

	.info-block .content h1 {
		font-size: 30px;
		line-height: 34px;
	}

	.info-block .content {
		padding: 0;
	}

	.specs .btn,
	#reviews .btn,
	.info-block.fifth .btn,
	.info-block.fourth .content .btn {
		width: 270px;
		font-size: 14px;
	}
	.specs ul li a {
		right: 4px;
	}
	.specs ul li .text {
		max-width: 100px;
		font-size: 11px;
	}
	#reviewSlider {
		padding: 0 24px;
	}
	.specs ul li .attribute {
		width: 54%;
	}
	.specs ul li .value {
		width: 46%;
	}
	#reviews .container {
		padding: 0 10px;
	}

	#reviewSlider .description a {
		font-size: 12px;
	}
	.review-slider .lSAction > a:nth-child(1) {
		left: -8px;
	}

	.container.breadcrumb {
		padding-left: 10px;
		padding-right: 10px;
	}
	.container.product-detail {
		padding: 120px 10px 180px;
	}

	#relatedSlider li {
		max-width: 127px;
		width: 127px;
	}

	.product_details h1 {
		/*margin-top: 30px;*/
	}
	.product-title {
		top: 180px;
	}
	.switch-box {
		display: block;
		margin-top: 10px;
	}
	.switch-box p {
		float: left;
		margin-right: 0;
		margin-left: 8px;
	}
	.switch-box .switch {
		float: left;
	}
	.product_details h1 {
		margin-top: 0;
	}
}