
.sort-fields,
.btn-filter { 
	display: none;
}


.category-page .column-filters {
    width: 20%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}
.category-page .column-content {
    width: 80%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}

.column-content h1 {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 24px;
}

.column-content > p {
	font-size: 16px;
	color: #6e706f;
	margin-bottom: 50px;
}
#filters .filter-show-more {
	display: none;
}

#filters .collapse {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;
	padding-top: 16px;
}
#filters .collapse.first {
	padding-top: 0;
}

#filters .collapse.closed {
	padding-bottom: 16px;
}

#filters .collapse.closed ul {
	display: none;
}

#filters li > h2 {
	color: #060f0b;
	font-size: 14px;
	font-weight: 900;
	margin-bottom: 4px;
	position: relative;
	padding-right: 20px;
	cursor: pointer;
}

#filters > ul > li {
	display: block;
	border-bottom: 1px solid #dddddd;
    padding-bottom: 16px;
    padding-top: 16px;
}

#filters > ul > li ul {
	display: none;	
}

#filters > ul > li ul.active {
	display: block;
}

#filters > ul > li.active ul {
	display: block;
}

#filters ul li a {
	color: #51b989;
	font-size: 14px;
	position: relative;
}


#filters .count {
	font-size: 12px;
}

#filters h2 > .filter-arrow {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #060f0b transparent transparent transparent;
}

#filters h2 > .filter-arrow.active {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #060f0b transparent;
}
#filters .price_slider_wrapper {
	display: none;
}
#filters .price_slider_wrapper.active {
	display: block;
}
#filters .price_slider_amount {
	margin-top: 10px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #51b989 !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #efefef;
}

#filters .woocommerce button.button {
	background-color: #51b989;
	color: #fff;
	font-size: 14px;
	float: right;
}

#filters .remove_link {
	text-decoration: none;
	font-weight: normal;
	vertical-align: middle;
}

#filters .remove_link::before {
	color: #51b989;
}

.woocommerce-pagination {
	background-color: #fff;
	margin-top: 40px;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
	color: #060f0b;
	width: 30px;
}

.woocommerce nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul {
	/*border-color: #51b989;*/
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: #51b989;
	color: #fff;
}

.product-cat-details {
	margin-top: 150px;
}

/*


#filters .collapse.closed > label > .filter-arrow {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border-width: 5px 4px 0 4px;
	border-color: #060f0b transparent transparent transparent;
}

#filters .collapse > label > .filter-arrow {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
border-width: 0 4px 5px 4px;
	border-color: transparent transparent #060f0b transparent;
}

#filters ul li {
	display: block;
	margin-bottom: 4px;
	list-style-type: none;
}

#filters ul li label {
	color: #060f0b;
	font-size: 14px;
}

#filters ul li.more {
	margin-top: 6px;
}

#filters ul li.more a {
	color: #51b989;
	text-decoration: underline;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	padding-left: 20px;
}

#filters ul li.more a .filter-arrow {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

#filters ul li.more a .filter-arrow.up {
	border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent #51b989 transparent;
}

#filters #price-slider {
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

#filters .noUi-connect {
    background: #51b989;
}

#filters #price-range {
	margin-top: 14px;
	color: #060f0b;
	font-size: 14px;
}

#filters #price-range .form-control {
	width: 100%;
	padding: 0 4px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #d3d3d3;
	text-align: center;
	color: #9faba5;
	outline: none;
	cursor: default;
}

#filters #price-range .text-center {
	position: relative;
}

#filters #price-range .text-center span {
	margin-top: 10px;
	display: inline-block;
}
*/

.price_label {
	text-align: left;
	margin-bottom: 17px;
}
#filters .price_label .to,
#filters .price_label .from {
	display: inline-block;
	min-width: 56px;
	width: auto;
	padding: 0 4px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #d3d3d3;
	text-align: center;
	color: #9faba5;
	outline: none;
	cursor: default;
}
#filters #price-range .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9faba5;
}
#filters #price-range .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #9faba5;
}
#filters #price-range .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #9faba5;
}
#filters #price-range .form-control:-moz-placeholder { /* Firefox 18- */
  color: #9faba5;
}

*/


.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
	float: none;
	margin-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sort-container {
	margin-bottom: 24px;
}

.sort-container .switch-box {
	max-width: 165px;
	margin: 0;
	float: right;
}

.sort-container .sort-box {
	float: left;
}

.sort-container select[name=orderby] {
	display: inline-block;
	max-width: 235px;
	vertical-align: middle;
	border: none;
	color: #040a07 !important;
	font-size: 14px;
}
.sort-container select[name=sorting] option {
	color: #040a07 !important;
}

section.company-usps {
	margin-top: 180px;
	background-color: #f9f9f9;
	padding: 0;
}

.bottom-bar {
	margin-top: 0;
}


.product-item {
	margin-right: -40px;
}

.product-item .product a {
	font-size: 18px;
}

.product-item .product h3 a {
	min-height: 48px;
	color: #51b989;
	margin-bottom: 8px;
	display: block;
}

.product-item .product a img {
	max-height: 200px;
}

.product-item .product .banner {
	position: relative;
}

.product-item .product .banner a {
	display: block;
}

.product-item .product .banner img {
	height: auto;
	max-height: none;
}

.product-item .product .caption {
	position: absolute;
	top: 20px;
	left: -8px;
	font-size: 20px;
	color: #fff;
	font-weight: 900;
	background-color: #51b989;
	padding: 16px 34px 16px 26px;
	max-width: 250px;
}
.product-item .product .ribbon-top-right {
	right: 40px;
}

.usp-bar {
	border-top: 1px solid #d3d3d3;
	margin: 94px 0 70px;
	position: relative;
}

.usp-bar .usps {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate(0,-50%);
	text-align: center;
}

.usp-bar .usps li {
	background-color: #fff;
	padding: 0 20px;
	color: #040a07;
	font-size: 14px;
	display: inline-block;
	margin: 0px -2px;
}

.usp-bar .usps li.first {
	padding-left: 40px;
}

.usp-bar .usps li.first img {
	left: 20px;
}

.closeFilters {
	display: none;
}

.category-page .column-filters {
	display: inline-block;
}

.woocommerce-pagination {
	position: static;
	height: auto;
	z-index: 1;
	box-shadow: none;
}

@media screen and (max-width: 1024px)
{
	.price {
		margin-top: 12px;
	}
	.bottom-bar .left,
	.bottom-bar .right {
		float: none;
	}

	#breadcrumb {
		margin-top: 50px;
	}
}

@media screen and (max-width: 768px)
{	
	.sort-container .sort-box,
	#filters {
		display: none;
	}

	.usp-bar {
		border-top: none;
	}

	.usp-bar .usps li.first {
		padding-left: 23px;
	}

	.usp-bar .usps li.first img {
		left: 0;
	}

	.category-page .column-content {
		width: 100%;
	}

	.btn-filter{
		display: inline-block;
		position: absolute;
		left: -50px;
		right: 50%;
		width: 57%;
	}
	.filter-buttons .btn-filter:nth-child(2) {
		left: auto;
		right: -40px;
		border-left: 2px solid #fff;
	}

	.filter-buttons {
		position: relative;
		height: 52px;
		display: block;
	}

	.product-item .product .picture img {
		max-height: 100px;
	}

	.product-item .product {
		padding: 0;
		position: relative;
	}

	.product-item .product .ribbon {
		display: none;
	}
	.product-item > .product ul {
		min-height: 0;
		margin-bottom: 0;
	}
	.product-item .product .picture .num {
		bottom: 0;
		top: 50%;
	}
	.product-item .product .price {
		display: block;
		line-height: normal;
		margin-top: 8px;
	}
	.bottom-bar .left,
	.bottom-bar .right{
		float: none;
	}
	.product .custom-label-wrap{
		display: block !important;
		position: absolute;
		top: 20px;
		right: 50px;
		font-size: 14px;
	}
	.product-item .product .picture {
		margin-right: 10px;
	}
	.product-item .product a {
		color: #040a07;
		font-size: 16px;
		font-weight: 800;
		max-width: 130px;
	}
	.bottom-bar .right .btn {
		margin-bottom: 40px;
	}


	.product-item .product6 {
		border-bottom: none;
	}

	.product-item .product .banner-container {
		position: relative;
		height: 240px;
	}

	.product-item .product .banner {
		position: absolute;
		left: -25px;
		right: 0;
		height: 240px;
		max-width: 262px;
		margin: 0 auto;
	}

	.product-item .product .banner img{
		height: 240px;
		width: 100%;
		max-width: 262px;
		margin: 0 auto;
	}
	.product-item .product .caption {
		top: 30px;
	}

	.usp-bar {
		margin-top: 0;
		margin-bottom: 80px;
	}
	section.company-usps .container {
		padding: 0 20px;
	}
	.sort-fields {
		left: -40px;
		right: -40px;
		top: 52px;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: none;
		margin-bottom: 0;
	}
	.sort-fields select {
		width: 100%;
	}
	.scrollContainer.open #filters {
		position: static;
		width: 100%;
		padding-top: 10px;
		overflow-y: scroll;
	}
	.scrollContainer.open {
		position: fixed;
		background-color: #fff;
		width: 220px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 999;
		overflow-y: scroll;
		-webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
		box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
	}
	#filters .column-3 {
		float: left;
	    width: 33.333333367%;
	    padding: 0 5px;
	}
	#filters #price-range .text-center {
		width: 64px;
	}
	.scrollContainer.open .closeFilters {
		display: block;
		color: #333;
		top: 10px;
		right: 15px;
		text-align: right;
		font-size: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 550px)
{
	.filter-buttons .btn-filter {
		width: 64.2%;
	}

	.usp-bar {
		margin-top: 20px;
		margin-bottom: -20px;
	}

	.usp-bar .usps {
		position: static;
		transform: translate(0,-40%);
	}
	.usp-bar .usps li {
		font-size: 12px;
		display: inline-block;
		margin-bottom: 12px;
		text-align: left;
		width: 234px;
	}
	section.company-usps {
		padding: 80px 60px;
	}
	section.company-usps .container {
		padding: 0;
	}

	.product-cat-details {
		margin-top: 80px;
	}

}

@media screen and (max-width: 375px)
{
	.filter-buttons .btn-filter {
		width: 66%;
	}
	.product .custom-label-wrap {
		top: 0;
	}
}

@media screen and (max-width: 320px)
{
	.filter-buttons .btn-filter {
		width: 70%;
	}
	.product .custom-label-wrap {
		display: none !important;
	}
	.product-item .product .details {
		max-width: 100%;
		float: none;
	}
}