.product-item {
	margin-top: 40px;
}

.product-item .product {
	padding: 0 40px;
	position: relative;
}

.product-item .product .ribbon {
	z-index: 99;
}
.product-item .product .ribbon span {
	background-color: #ffcc39;
}

.ribbon::before, .ribbon::after {
	border: 5px solid #ffcc39;
}

.product-item .product p {
	font-size: 14px;
	color: #060f0b;
	line-height: 20px;
}

.product-item .product div:not(.picture,.right) a {
	font-size: 20px;
	font-weight: 900;
	color: #51b989;
	display: block;
	margin-bottom: 16px;
}

.home .product-item .product .details a:not(.btn) {
	min-height: 50px;
    color: #51b989;
    margin-bottom: 8px;
    display: block;
    font-weight: 900;
    font-size: 18px;
}

.product-item > .product ul {
	min-height: 72px;
}
.product-item > .product ul li {
	color: #6e706f;
	font-size: 14px;
	margin-right: 0;
	padding-left: 19px;
	list-style-type: none;
	position: relative;
	display: block;
	font-weight: normal;
}

.product-item > .product ul li span {
	position: absolute;
	left: 0;
	font-size: 14px;
	font-weight: 900;
	color: #51b989;
}

.product-item > .product ul li span.minpunt {
	color: #721c24;
}

.product-item .product .picture {
	height: 200px;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}

.product-item .product .picture img:not(.num_img) {
	height: 200px;
	width: auto;
}
.product-item .product .picture .num {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70px;
	height: 50px;
}

.bottom-bar {
	margin-top: 34px;
}

.bottom-bar .left {
	float: left;
}

.term-laadpaal-accessoires .bottom-bar .left label {
    display: none;
    font-weight: normal;
}

.bottom-bar .left label {
	display: inline-block;
	font-weight: normal;
}

.bottom-bar .right {
	float: right;
}


.bottom-bar .right .btn:hover,
.bottom-bar .right .btn {
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	line-height: 52px;
	text-align: center;
	cursor: pointer;
    width: 112px;
    display: inline-block;
    height: 52px;
    background-color: #ffd866;
    border: none;
    font-size: 16px;
    font-family: Muli;
    font-weight: 900;
    color: #14192e !important;
}

.price {
  font-size: 20px !important;
  font-weight: 900;
  color: #51b989 !important;
  margin-bottom: 10px;
  display: block;
}

.price .woocommerce-Price-currencySymbol {
	display: inline;
}


@media screen and (max-width: 1024px) {
	.product-item .product {
		padding: 0 32px;
	}
	.product-item .product a {
		min-height: 50px;
	}

	.product-item > .product ul {
		min-height: 124px;
	}
}

@media (min-width: 768px) and (max-width: 989px) {
	.product-item .product .right {
		float: none;
		margin-top: 30px;
	}
	.product-item .product .left {
		float: none;
	}
}

@media screen and (max-width: 768px) {
	h1.text-center {
		text-align: left;
	}
.product-item .product .picture img:not(.num_img) {
    width: auto;
    height: auto;
}

	.product-item .product a {
		min-height: 0;
	}

	.product-item > .product ul {
		min-height: 0;
	}

	.product-item .product {
		width: 100%;
		float: none;
		display: block;
		padding-bottom: 24px !important;
		margin-bottom: 24px !important;
		border-bottom: 1px solid #e7eeeb;
	}

	.product-item .product3 {
		border-bottom: none;
		margin-bottom: 0;
	}

	.product-item .product .picture {
		min-width: 110px;
		max-width: 140px;
		float: left;
		margin-right: 34px;
		height: 158px;
		width: auto;
	}

	.product-item .product .picture img {
		height: 100%;
	}

	.product-item .product .details {
		float: left;
		max-width: 55%;
	}

	.product-item > .product ul {
		min-height: none;
	}

	.container.--Products {
		padding: 90px 24px 0px 24px
	}
	.home .bottom-bar form .left label {
		display: block;
	}
	.bottom-bar form .left label {
		display: none;
	}
}

@media screen and (max-width: 550px) {


	.product-item .product .details {
		max-width: 44%;
	}

	.product-item .product a {
		font-size: 18px;
	}
	.product-item .product ul li,
	.product-item .product p {
		font-size: 13px;
	}
	.product-item .product .price {
		font-size: 18px;
		line-height: 52px;
	}

	.home .product .price {
		line-height: normal;
	}

	.bottom-bar .right .btn {
		max-width: 93px;
	}

	.product-item .product {
		padding: 0 20px 24px;
	}
	.product-item .product .picture {
		margin-right: 20px;
	}
}

@media screen and (max-width: 402px) {
	.product-item .product .picture .num {
		bottom: 0px;
	}
}


@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 

    .product-item .product .picture img:not(.num_img) {
    	height: 160px;
    }
}