.product-cards {
	margin-bottom: 125px;
	position: relative;
}

.product-cards.top { /* Vergelijking */
	margin-top: 40px;
}

.product-cards .products {
	max-width: 768px;
	margin: 0 auto;
}

.product-cards .products > li {
	max-width: 256px;
	position: relative;
	width: 256px;
	background-color: #fff;
	display: inline-block;
	float: left;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 16px;
	min-height: 555px;
}

.product-cards .products > li.active {
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	top: -15px;
	z-index: 1;
	min-height: 570px;
}

.product-cards .products > li .compare {
	position: absolute;
	right: 16px;
	top: 16px;
}

.product-cards .products > li .compare label {
	font-size: 14px;
	font-weight: normal;
	color: #4a4a4a;
}

.product-cards .products > li .compare label input {
	margin-right: 2px;
}

.product-cards .products > li.active .picture {
	margin-top: 55px; /* -10px white border img */
}

.product-cards .products > li .picture {
	height: 160px;
	margin: 0 auto;
	max-width: 110px;
	margin-top: 40px;
	margin-bottom: 24px;
	text-align: center;
}


.product-cards .products li h2 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin: 0 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.product-cards .products li .specs {
	display: block;
	margin-top: 20px;
}

.product-cards .products li .info-link i {
	margin-left: 4px;
}

.product-cards .products li .specs li {
	display: block;
	font-size: 14px;
	color: #6e706f;
	height: 18px;
	margin-bottom: 8px;
	text-align: center;
	position: relative;
}

.product-cards .products li .specs li.price {
	margin: 16px 0 8px;
	height: auto;
	font-size: 20px;
	font-weight: 900;
	color: #51b989;
}

.product-cards .products li .specs li span:not(.price_digit,.install_costs_tax) {
	color: #9faba5;
	font-size: 12px;
	position: absolute; 
	margin-left: 8px;
	top: 2px;
}

.product-cards .products li .specs li.price span:not(.price_digit,.install_costs_tax) {
	text-decoration: line-through;
	font-weight: normal;
	position: absolute;
	top: 4px;
	font-size: 14px;
}

.product-cards .products li .btn {
	position: absolute;
	bottom: -30px;
	padding: 16px 32px;
	width: 190px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}


.spec-titles {
	position: absolute;
	width: 190px;
	top: 312px;
}

.spec-titles.funnel {
	top: 374px;
}

.spec-titles ul li {
	display: block;
	font-size: 14px;
	text-align: right;
	margin-bottom: 8px;
}

.spec-titles ul li.price {
	margin-top: 23px;
}

@media screen and (max-width: 1024px) {
	.spec-titles {
		width: 100px;
	}
}


@media screen and (max-width: 768px) {
	.spec-titles {
		display: none;
	}
	
	.switch-box {
		margin-right: 30px;
	}

	.product-cards .products > li {
		width: 33.3333367%;
	}
	.product-cards .products > li .picture img {
		max-height: 130px;
	}
}

@media screen and (max-width: 550px) {
	.product-cards.top {
		margin-top: 0;
	}

	.container {
		overflow: hidden;
	}
	.intro {
		max-width: none;
		margin: 0 56px 80px;
	}
	.product-cards .products > li .compare {
		display: none;
	}
	.product-cards .products li h2 {
		font-size: 12px;
		height: 40px;
	}
	.product-cards .products li .specs li {
		font-size: 11px;
	}
	.product-cards .products li .specs li.price {
		font-size: 18px;
		/*margin-top: 42px;*/
	}
	.product-cards .products li .specs li span:not(.price_digit,.install_costs_tax) {
		position: static;
		display: block;
	}
	.product-cards .products li .specs li.price span:not(.price_digit,.install_costs_tax) {
		top: -20px;
		transform: translateX(-50%);
		left: 50%;
		margin-left: 0;
		width: 100%;
		font-size: 12px;
	}

	.product-cards .products li .btn {
		font-size: 14px;
		width: 96px;
		height: 86px; 
		padding: 16px 24px;
		white-space: normal;
		bottom: -40px;
	}

	.single-zonnepanelen-quote .product-cards .products li .btn {
		width: auto;
		height: auto;
	}
}

@media screen and (max-width: 375px){
	.product-cards .products li .specs li.price {
		font-size: 16px;
	}
	.product-cards .products li h2 {
		font-size: 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.product-cards .products li .info-link {
		font-size: 9px;
	}
	.product-cards .products > li .picture {
		height: 120px;
	}
	.product-cards .products > li .picture {
		margin-top: 10px;
	}
	.product-cards .products > li.active .picture {
		margin-top: 25px;
	}
}