.container.checkout {
	padding-bottom: 120px;
	position: relative;
}

form ul li{
	display: block;
	font-size: 14px;
}

#block_review .newsletter {
	font-weight: bold;
	margin-top: 20px;
}

#order_review .wc_payment_method label {
	display: block;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 0 40px 0 24px;
    line-height: 73px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}

#order_review .wc_payment_method label span:not(.logo) {
    width: auto;
}

#order_review .wc_payment_method label span {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    color: #040a07;
    font-weight: bold;
}


#order_review .wc_payment_method label .logo {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 24px;
}
#order_review .wc_payment_method label .logo {
    width: 122px;
}

#order_review .wc_payment_method input[type=radio]:checked + label, 
#order_review .wc_payment_method label:hover, 
#order_review .wc_payment_method label.active {
    border: 1px solid #51b989;
}


form h1 {
	margin-bottom: 8px;
}

form h2{
	margin-top: 40px;
	margin-bottom: 8px;  
	font-size: 40px;
	font-weight: 900;
}
@media screen and (max-width: 768px)
{
	.container.checkout {
		padding-left: 36px;
		padding-right: 36px;
	}
	.custom-column-4 {
		display: block;
		float: none;
		margin-left: 0;
		width: 100%;
	}

	.result-box {
		float: none;
		margin-top: 40px;
	}

	.button-wrapper {
		position: absolute;
		bottom: 40px;
		left: 60px;
	}


	form h1, form h2 {
		font-size: 20px;
	}

	form h2 {
		margin-top: 24px;
	}
}

@media screen and (max-width: 320px)
{
	.container.checkout {
		padding-left: 12px;
		padding-right: 12px;
	}
	.button-wrapper {
		left: 24px;
	}
}