.container.shop-home {
	padding: 0 30px 0;
}

.container.shop-home.first {
	padding-top: 80px;
}

.container.shop-home.last {
	padding-bottom: 120px;
	padding-right: 30px;
}

.container.shop-home > .row:not(.other_categories) {
	margin: 0 -20px;
}

.container.shop-home > .row.other_categories {
	margin: 100px -12px 80px;
}

.container.shop-home > .row .column-3 {
	padding: 0 20px;
}

.container.shop-home > .row.other_categories .column-4 {
	padding: 0 12px;
}

.hero.shop {
	background-image: url(../images/shopheader-img-mobile@2x.jpg);
}

.banner {
	display: block;
	position: relative;
	height: 432px;
}

.banner .caption {
    position: absolute;
    top: 38px;
    left: -24px;
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    background-color: #51b989;
    padding: 16px 32px 18px 32px;
    max-width: 204px;
}

.banner .btn {
	display: inline-block;
	line-height: 52px;
	position: absolute;
	bottom: -26px;
	left: 50%;
	transform: translateX(-50%);
	width: 132px;
	text-align: center;
}


.other_categories .small_banner {
	position: relative;
}

.other_categories .more {
	display: block;
	margin-top: 16px;
}

.other_categories .more span {
	color: #51b989;
	text-decoration: underline;
	font-weight: 900;
	display: inline-block;
	font-size: 16px;
	max-width: 220px;

}

.other_categories .more img {
	transform: rotate(180deg);
	width: 10px;
	height: 14px;
	vertical-align: top;
	margin-top: 4px;
	display: inline-block;
	margin-right: 8px;
}

.other_categories .caption {
	max-width: 120px;
	display: block;
	position: absolute;
	left: 40px;
	bottom: 40px;
	font-size: 24px;
	color: #fff;
	font-weight: 900;
}

section.company-usps {
	background-color: #f9f9f9;
}

section.company-usps .container {
	padding: 0 30px;
}

.product-category-banner {
	margin-bottom: 120px;
}

.product-category-banner p {
	max-width: 470px;
}

.product-category-banner .btn {
	width: 200px;
	max-width: 200px;
}

.populair h3 {
	font-size: 40px;
	color: #060f0b;
	margin-bottom: 24px;
}

.populair .product span {
	display: block;
	text-align: center;
}

.populair .product .picture {
	max-width: 109px;
	margin: 0 auto 24px;
	max-height: 160px;
	height: 160px;
	position: relative;
	text-align: center;
}

.populair .product .picture img { 
	max-height: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.populair .product .title {
	font-size: 20px;
	color: #040a07;
	font-weight: 900;
	margin-bottom: 8px;
}

.populair .product .price {
	font-size: 20px;
	color: #040a07;
}

.small_banner .picture {
	height: 200px;
	display: block;
	position: relative;
}

#responsive-products::after,
#responsive-others::after,
#responsive::after {
	clear: both;
	content: "";
	height: 1px;
	display: block;
}


@media screen and (max-width: 1024px)
{
	.banner {
		height: 330px;
	}

	.small_banner .picture {
		height: 154px;
	}

	.other_categories .more span {
		max-width: 150px;
	}

	.other_categories .caption {
		left: 30px;
	}
}

@media screen and (max-width: 768px)
{

	.other_categories .more span {
		max-width: 130px;
	}

	.banner {
		height: 282px;
	}
}
@media (min-width: 551px) and (max-width: 700px) {
	.banner .caption {
		font-size: 18px;
	}
}


@media screen and (max-width: 550px)
{
	.lSSlideWrapper {
		padding-bottom: 60px;
	}
	.lightSlider {
		overflow: visible;
	}

	header .hero.shop {
		height: 336px;
		background-position: -300px;
	}
	header .hero.shop .container {
		padding-top: 80px;
	}

	header .hero.shop h1 {
		font-size: 40px;
	}

	header .hero.shop h2 {
		font-size: 24px;
	}

	a.banner {
		height: 256px;
	}

	a.banner img {
		height: 100%;
	}

	.banner .caption {
		font-size: 16px;
		height: 72px;
		vertical-align: middle;
	}

	.container.shop-home.first {
		padding-top: 20px;
		padding-right: 0;
	}

	.container.shop-home.second {
		padding-right: 0;
	}

	.other_categories .caption {
		position: static;
		color: #040a07;
		font-size: 14px;
		min-height: 35px;
	}
	.other_categories .more {
		margin-top: 10px;
	}

	.other_categories .more img {
		width: 8px;
		height: 11px;
	}
	.other_categories .more span {
		font-size: 14px;
	}

	.other_categories .column-4 {
		/*padding: 0;*/
	}

	.small_banner .picture {
		height: auto;
		width: 144px;
	}

	.other_categories .more span {
		max-width: 115px;
	}

	.populair .product .picture {
		margin-bottom: 16px;
		max-height: 96px;
	}

	.populair h3 {
		font-size: 20px;
		text-align: center;
		display: block;
	}

	.populair .product .picture img {
		max-height: 96px;
	}
	.populair .product .price,
	.populair .product .title {
		font-size: 14px;
	}

	.lSAction > a{
		top: 25%;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 375px)
{

	.other_categories .more span {
		max-width: 100px;
		font-size: 13px;
	}
}

@media screen and (max-width: 320px)
{
	.other_categories .more span {
	    max-width: 94px;
	    font-size: 12px;
	}
}