*, html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{ 
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6e706f;
}

body > .container.first {
	margin-top: 30px;
	position: relative;
	overflow: unset;
}

.container.single_page {
	padding-top: 50px;
}

.container.single_page h1,
.container.single_page h2,
.container.single_page h3 {
	font-weight: 900;
	margin-bottom: 16px;
	color: #060f0b;
}

.container.single_page h2 {
	margin-bottom: 30px;
}

.container.single_page p {
	margin-bottom: 40px;
}

.page-template-page-zon-homepage .action-form .form-control.error {
    border-color: rgb(185, 74, 72);
}

body.page-template-page-kennisbank .header_menu,
body.single-post .header_menu,
body.page-template-page-faq .header_menu,
body.page-template-page-klantenservice .header_menu,
body.page-template-page-zonnepanelen .header_menu,
body.page-template-page-landingspage .header_menu,
body.woocommerce-cart .header_menu,
body.archive .header_menu {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.noJS {
	display: none !important;
}

.container.product-detail,
.container.category-page {
	max-width: 1300px;
	padding: 32px 40px 0;
}

.container.noTop {
	padding-top: 0;
}

#breadcrumb li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	line-height: 14px;
	margin-right: 8px;
}

#breadcrumb li a {
	font-size: 14px;
	font-weight: 900;
	color: #51b989;
	vertical-align: top;
	display: inline-block;
	text-decoration: underline;
}

#breadcrumb li a img {
	vertical-align: bottom;
}

#cookie {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10001;
}

#cookie .top {
	background-color: #51b989;
}

#cookie .left {
	max-width: 788px;
	margin-right: 40px;
	float: left;
}

#cookie .left p {
	font-size: 14px;
	color: #fff;
}

#cookie .left a {
	font-size: 14px;
	padding-left: 19px;
	position: relative;
	font-weight: 900;
	text-decoration: underline;
	color: #fff;
}

#cookie .left a img {
	position: absolute;
	left: 0;
	width: 8px;
	height: 11px;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 11px;
	vertical-align: middle;
}
#cookie .left p span {
	font-weight: bold;
	text-decoration: underline;
}

#cookie .right a {
	display: block;
	height: 36px;
	line-height: 36px;
	width: 100%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  	background-color: #fff;
  	color: #14192e;
  	font-size: 16px;
  	font-weight: 800;
  	text-align: center;
}

#cookie .right a:nth-child(2) {
	background-color: #2c9162;
	box-shadow: none;
	margin-top: 8px;
	color: #fff;
	font-weight: normal;
}

#cookie .right {
	max-width: 180px;
	width: 180px;
	float: left;
}

#cookie .container {
	max-width: 1008px;
	padding: 40px 0 24px;
}

#cookie .bottom {
	height: 0;
	box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.22);
	background-color: #ffffff;
	transition: height .5s ease;
}

#cookie .bottom.active {
	height: 390px;
}

#cookie .bottom .container {
	max-width: 620px;
	margin: 0 auto;
}

#cookie .bottom label {
	display: block;
	position: relative;
}

#cookie input[type="checkbox"]:checked + label > span.custom-check {
	/*border: 10px solid #F1C40F;*/
	/*animation: bounce 250ms;*/
	/*border-color: #51b989;*/
	background-color: #fff;
	background-image: url(../images/icon-checkmark-green.svg);
	background-size: 13px 12px;
	background-repeat: no-repeat;
	background-position: center center;
}

#cookie input[type="checkbox"]:checked + label > span.custom-check::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checked-box 125ms 250ms forwards;
}


#cookie .bottom label input {
	position: absolute;
	left: 0;
	top: 0;
}

#cookie .bottom label .text span {
	display: block;
	color: #040a07;
	font-size: 12px;
}

#cookie .bottom label span:nth-child(1) {
	font-weight: 900;
	font-size: 14px;
	margin-bottom: 2px;
}

#cookie .bottom label span:nth-child(2) {
	display: block;
}

#cookie .bottom .disabled .text span {
	color: #9faba5;
}

#cookie .bottom p {
	color: #040a07;
	font-size: 16px;
	margin-bottom: 40px;
}

#cookie .bottom .options {
	margin-bottom: 40px;
}

#cookie .button_wrapper {
	text-align: center;
}

#cookie .button_wrapper .btn {
	padding: 8px 24px;
}

span.wpcf7-not-valid-tip {
	font-size: 11px;
}

.ajax-loader {
	width: 0px !important;
}
.ajax-loader.is-active {
	width: 16px !important;
}

div.wpcf7-mail-sent-ok {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
        color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-size: 13px;
    text-align: center;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    font-size: 13px;
    text-align: center;
}

input[name=terms],
input[name=ship_to_different_address],
input[name=newsletter],
input[name=product],
#cookie input[type="checkbox"] {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}

.back-link-404 {
	display: block;
	color: #51b989;
	font-weight: 900;
}

.back-link-404 span {
	text-decoration: underline;
}

.back-link-404 img {
	vertical-align: middle;
	max-width: 8px;
}

.container.single_page .error-page {
	text-align: center;
}

.container.single_page .error-page h2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #6e706f;
}

.container.single_page .error-page h2 a {
	color: #51b989;
	font-weight: bold;
	text-decoration: underline;
}


.page-template-page-checkout .woocommerce form .form-row .custom-label-wrap {
	vertical-align: top;
}

.page-template-page-checkout .woocommerce form .form-row .custom-label-wrap span {
	vertical-align: top;
}

label > span.custom-check {
	width: 16px;
	height: 16px;
	display: flex;
	justify-content: center;  
	border-radius: 2px;
	border: solid 1px #ccd3cf;
	background-color: #ffffff;
	margin-right: 15px;
	cursor: pointer;
	transition: all .3s;
}

label > span.custom-label {
	position: relative;
    bottom: 18px;
    left: 24px;
    font-weight: normal;
	cursor: pointer;
}

input[type="checkbox"]:checked + label > span.custom-check {
	/*border: 10px solid #F1C40F;*/
	/*animation: bounce 250ms;*/
	border-color: #51b989;
	background-color: #51b989;
	background-image: url(../images/icon-checkmark-white.svg);
	background-size: 13px 12px;
	background-repeat: no-repeat;
	background-position: center center;
}

input[type="checkbox"]:checked + label > span.custom-check::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checked-box 125ms 250ms forwards;
}

input[type="checkbox"]:checked + label > span.custom-check.newsletter {
	background-image: url(../images/icon-checkmark.svg);
	background-color: transparent !important;
	transition: none;
}


input[type="checkbox"]:checked + label > span.custom-check.newsletter::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checked-box 125ms 250ms forwards;
}



.related .product-slider {
	max-width: 850px;
	width: 850px;
	margin: 40px auto 0;
}

.product-detail.related {
	padding-top: 120px;
	padding-bottom: 180px;
}

.product-detail.related h3 {
	color: #060f0b;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}

#relatedSlider {
	padding: 0 40px;
}

#relatedSlider .picture {
	display: block;
}

#relatedSlider .picture img {
	max-height: 112px;
}

#relatedSlider .price {
	color: #040a07;
	margin-top: 8px;
	font-weight: 900;
	display: block;
}

#relatedSlider li {
	max-width: 160px;
	width: 160px;
}

#relatedSlider .title {
	display: block;
	color: #51b989;
	font-size: 16px;
	font-weight: 900;
	max-width: 146px;
	max-height: 40px;
	height: 40px;
}

.related .lSAction > a:nth-child(1) {
	left: -8px;
}

.related .lSAction > a:nth-child(2) {
	right: -8px;
}



.woocommerce-notices-wrapper.vergelijking {
	position: fixed;
	top: 0;
	z-index: 9999;
	left: 50%;
	display: none;
	/*right: 40px;*/
	transform: translateX(-50%);
}
.vergelijking .woocommerce-message {
	border-top: none;
	background-color: #51b989;
	border: 1px solid #51b989;
	color: #fff;
	border-top: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-transform: none;
    margin-bottom: 0;
    max-width: 400px;
    padding: 16px 70px;
    text-align: center;
}
.vergelijking .woocommerce-message::before {
    color: #51b989;
    display: none;
}
.vergelijking .woocommerce-message.error::before {
    content: "\e013";
	color: #D0380D;
}

.vergelijking .woocommerce-message strong {
	display: block;
    font-weight: 900;
}

.vergelijking .vergelijk-link {
	display: none;
}

.vergelijking .vergelijk-link.active {
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	margin-top: 10px;
	padding: 8px 0;
	font-weight: 900;
	color: #15194c;
	width: 197px;
	height: 36px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.vergelijking .vergelijk-link img {
	vertical-align: middle;
	transform: rotate(180deg);
}

.color {
	width: 16px;
	height: 16px;
	border: solid 1px #d3d3d3;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 16px;
	position: relative;
}

.color .color-inner {
	display: block;
	position: absolute;
	background-color: #f1f0ea;
	width: 9px;
	height: 9px;
	left: 2.75px;
	top: 3px;
}

input[type="checkbox"] {
	vertical-align: middle;
}

.filter-arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5.5px 0 5.5px;
	border-color: #51b989 transparent transparent transparent;
}


.info-balloon {
	background-color: #ffcc39;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	max-width: 160px;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.info-balloon.grey {
	background-color: #e4e4e4;
	color: #134d30;
	font-weight: bold;
}

.info-block.last,
.info-block.right.second,
.info-block.right.first {
	margin-bottom: 0;
}

.tooltip {
	display: none; 
	position: absolute; 
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #d3d3d3;
	background-color: #ffffff;
	padding: 24px;
	border-radius: 3px;
	z-index: 99;
	}



/*.question-popup {
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #d3d3d3;
	background-color: #ffffff;
	padding: 24px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
*/
.tooltip .title {
	color: #060f0b;
	font-weight: 900;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 8px;
	display: block;
	width: 200px;
}

.tooltip .text {
	font-size: 15px;
	color: #040a07;
	line-height: normal;
	display: block;
	width: 200px;
	display: block;
}

.info-block p {
	line-height: 23px;
}


.switch-box {
	max-width: 768px;
	margin: 0 auto;
	text-align: right;
	position: relative;
	bottom: -6px;
}

.switch-box p {
	float: right;
	font-size: 10px;
	color: #9faba5;
	margin-right: 8px;
	margin-top: 2px;
}

.switch-box .switch {
	float: right;
}
.bold {
	font-weight: 900;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 99;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #51b989;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #51b989;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-size: 11.4px;
  font-weight: bold;
  text-align: center;
    padding-left: 12px;
}
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 3px;
}
.ribbon-top-left::after {
  bottom: 3px;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 3px;
}
.ribbon-top-right::after {
  bottom: 3px;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}


.usps {
	margin-top: 24px;
}

.usps li {
	font-size: 14px;
	color: #040a07;
	display: block;
	margin-bottom: 8px;
	position: relative;
	padding-left: 23px;
}

.usps li strong {
	font-weight: 900;
}

.usps li img {
	width: 17px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.woocommerce-info,
.woocommerce-notices-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix { 
  content: "";
  clear: both;
  display: table;
}



form input[type=submit] {
	margin-top: 10px;
}

.form-group	{
	margin-bottom: 10px;
}

.row {
	margin: 0 -15px;
}

.call-link {
	font-weight: 900;
	color: #060f0b;  
	font-family: Muli;
  font-size: 20px;
  display: block;
  margin-top: 30px;
}

.call-link img {
	vertical-align: middle;
	margin-right: 8px;
}

.column-2 {
	width: 50%;
	display: inline-block;
	padding: 0 15px;
	float: left;
}

.column-2-product {
	width: 53%;
	display: inline-block;
	padding: 0 15px;
	float: left;
}

.column-3 {
	width: 33.333333367%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}

.column-4 {
    width: 25%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}

.column-7 {
    width: 60%;
    display: inline-block;
    padding: 0 15px;
    float: left;
}
.column-5 {
    width: 40%;
    display: inline-block;
    padding: 0 15px;
    float: right;
}

.column-6 {
	width: 20%;
	display: inline-block;
	padding: 0 15px;
	float: left;
}

.column-offset-half {
	margin-left: 8.333333%;
}

.column-offset-half-product {
	margin-left: 6.333333%;
}

.column-offset-1 {
	margin-left: 12.5%;
}
.column-offset-2 {
	margin-left: 25%;
}

.info-block {
	margin-bottom: 120px;
	min-height: 650px;
}
.info-block .images {
	float: left;
	margin-right: 80px;
	position: relative;
}
.info-block .images .image {
	max-width: 384px; 
	max-height: 320px;
	display: block;
	overflow: hidden;
}
.info-block .images .image:nth-child(2) {
	max-width: 512px; 
	max-height: 400px;
	margin-left: -240px;

    position: absolute;
    margin-top: -80px;
    z-index: -1;
}

.info-block .content {
	max-width: 432px;
	float: left;
	margin-top: 107px;
}

.info-block .content h2 {
	font-family: Muli;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #060f0b;
    margin-bottom: 24px;
}

.info-block .content ul {
	margin-left: 0;
	margin-top: 40px;
}

.info-block .content ul.content-links {
	margin-left: 0;
}

.info-block .content ul.content-links li {
	list-style-type: none;
}

.info-block .content ul {
	margin-left: 20px;
}

.info-block .content ul li {
	padding-left: 0;
	list-style-type: disc;
	margin-left: 0;
	line-height: 23px;
}

.info-block .content ul li a {
	display: inline-block;
	text-decoration: underline;
	color: #51b989;
	font-size: 17px;
	font-weight: 900;
	padding-left: 14px;
	position: relative;
	left: 0;
	margin-bottom: 16px;
}

.info-block .content ul li a img {
	display: inline-block;
	position: absolute;
	margin-left: -20px;
}

.info-block.right .content {
}
.info-block.right .images {
	float: right;
	margin-right: -80px;
	position: relative;
}
.info-block.right .images .image {
	max-width: 560px; 
	max-height: 336px;
}
.info-block.right .images .image:nth-child(2) {
	max-width: 592px; 
	max-height: 500px;
	margin-left: 80px;
}

.info-block.second .images .image {
	max-width: 535px; 
	max-height: 464px;
	margin-left: 80px;
	/*margin-top: -120px;*/
}
.info-block.second .images .image:nth-child(2) {
	max-width: 430px; 
	max-height: 455px;
	position: absolute;
	top: 385px;
	left: -80px;
	z-index: 1;
}

.info-block.first .images .image {
	position: absolute;
}

.info-block.first .images .image:nth-child(2) {
	position: static;
	margin-top: 240px;
}

.info-block.last .images .image {
	max-width: 592px;
	max-height: 464px;
	margin-left: -200px;
}

.info-block.last .images .image:nth-child(2) {
	max-width: 400px;
	max-height: 370px;
	z-index: 1;
	margin-left: 0;
	margin-top: -115px;
	right: 0;
}
.info-block.last .images .image:nth-child(1) {
	margin-right: 50px;
}

.logo_content {
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	border-radius: 50%;
	padding: 13px 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #51b989;
}

input:focus + .slider {
  box-shadow: 0 0 1px #51b989;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body > .container {

	/*overflow: hidden;*/
}

label.checkbox {
	font-weight: normal;
	color: #6e706f;
	padding-left: 28px;
	position: relative;
}

label.woocommerce-form__label-for-checkbox.checkbox {
	margin: 30px 0;
	padding-left: 8px;
}

label.checkbox > span {
	color: #040a07;
	margin-left: 0;
}

label.checkbox.black {
	color: #040a07;
}

label.checkbox input {
	position: absolute;
	left: 0;
	top: 25%;
}

.btn {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  cursor: pointer;
  width: 132px;
  height: 52px;
  background-color: #ffd866;
  border: none;
  font-size: 16px;
  font-family: Muli;
  font-weight: 900;
  color: #14192e;
}

.container {
	width: auto;
	max-width: 1120px;
	margin: 0 auto;	
	padding: 120px 30px;
}

.container.---Style {
	/*background-color: white;*/
	/*border: 1px solid #ddd;*/	
}

.page-id-12663 .container.---Style.usp-blocks {
    display: none;
}

.container.--Products {
	padding-bottom: 0;
}

.container.top {
	margin-top: 100px;
}

/* Colors */
.almost-black {
	color: #060f0b;
}
.medium-grey { 
	color: #6e706f;
}
.cool-grey { 
	color: #999c9b;
}
.ocean-green { 
	color: #45a378;
}
.laadkompas-mint { 
	color: #51b989;
}
.ice-green { 
	color:  #f1faf6;
}
.laadkompas-yellow { 
	color: #ffd866;
}
.dark {
	color: #14192e;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c5c5c5;
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c5c5c5;
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c5c5c5;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c5c5c5;
  font-weight: normal;
}

.float-right {
	float: right;
}

a {
	text-decoration: none;
        color: #51b989;
}

img {
	max-width: 100%;
	width: auto;
}

select {
	color: #45a378;
	font-weight: normal;
	-webkit-appearance:none;
}

.hero .form-group {
	position: relative;
}

header .hero.shop {
	min-height: 480px;
}

header .hero.shop .container {
	max-width: 1000px;
	padding-top: 140px;
}

header .hero.shop h1,
header .hero.shop h2{
	float: right;
}

header .hero.shop h2 {
	font-size: 32px;
	font-weight: 900;
	max-width: 470px;
}

.select-triangle {
	position: absolute;
	right: 10px;
    bottom: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 6px 0 6px;
	border-color: #4a4a4a transparent transparent transparent;
}

.---Funnel-buttons {
	padding-bottom: 120px;
}

.---Funnel-buttons .button-left {
	float: left;
}
.---Funnel-buttons .button-left a {
	line-height: 52px;
	display: inline-block;
	font-size: 14px;
	font-weight: 900;
	text-decoration: underline;
	color: #51b989;
}
.---Funnel-buttons .button-left a img {
	vertical-align: middle;
	margin-right: 6px;
}
.---Funnel-buttons .button-right {
	float: right;
}

.---Funnel-buttons .button-right .btn {
	width: auto;
	padding: 0 32px;
}



.product-category-banner {
	margin: 80px 0;
	background-color: #f1faf6;
	padding: 24px 35px;
	vertical-align: middle;
}

.product-category-banner .logo_content {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.product-category-banner h3 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 32px;
	color: #040a07;
}
.product-category-banner p {
	display: inline-block;
	vertical-align: middle;
	color: #040a07;
	margin-right: 40px;
	max-width: 400px;
	margin-top: 20px;
	 font-size: 16px;
}
.product-category-banner .btn {
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	text-align: center;
	padding: 16px;
	max-width: 200px;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
	box-shadow: 4px 4px 0px 0px rgba(255,204,57,1);
}  



select,
input[type=tel],
textarea, input[type=text], input[type=email], input[type=phone] {
	border: solid 1px #b5d4c6;
	border-radius: 0;
	resize: none;
	font-family: Muli;
	font-size: 14px;
	line-height: 20px;
	color: #45a378 !important;
	width: 100%;
	padding: 8px 7px;
	font-weight: bold;
	outline: none;
	border-radius: 0;
	background-color: #fff;
}

.select2-container--default .select2-selection--single {
	border: solid 1px #b5d4c6;
	border-radius: 0 !important;
	line-height: normal !important;
	resize: none;
	font-family: Muli;
	font-size: 14px;
	line-height: 20px;
	color: #060f0b;
	width: 100%;
	padding: 8px 12px !important;
	margin: 0 !important;
	font-weight: bold;
	outline: none;
	border-radius: 0;
	background-color: #fff;
	height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.select2-results__option{
	font-size: 14px;
	font-family: Muli;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], 
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: #51b989;
}


select option {
	color: #45a378;
}

select:active, textarea:active, input[type=text]:active, input[type=email]:active, input[type=tel]:active,
select:active, textarea:focus, input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
	border-color: #51b989;
}

input[type=text]:disabled, input[type=email]:disabled, input[type=tel]:disabled,
textarea:disabled {
	color: #bbbbbb !important;
	border: solid 1px #d8d8d8;
	background-color: #fff !important;
}
select:disabled::placeholder,
textarea:disabled::placeholder,
input[type=text]:disabled::placeholder, 
input[type=email]:disabled::placeholder, 
input[type=tel]:disabled::placeholder {
	color: #bbb !important;
}

header .hero {
	background-image: url(../images/header-img@2x.jpg);
	background-size: cover;
	min-height: 384px;
}

header .hero.zonnepaneel {
	background-image: url(../images/header-zonnepaneel.jpg);
}

header .hero .container {
	position: relative;
}

header .hero .action-form {
	max-width: 352px;
	position: relative;
	width: 352px;
	background-color: #fff;
	padding: 40px 40px 50px;
	height: 264px;
	position: absolute;
	left: auto;
	right: 0;
	bottom: -90px;
	box-shadow: 0 13px 54px 7px rgba(0, 0, 0, 0.16);
}
header .hero .action-form.active {
	height: 325px;
}

header .hero .action-form #car_type,
header .hero .action-form #car_brand {
	background-image: url(../images/drop-arrow-down.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 240px 10px;
}

header .hero .action-form #car_brand.error {
	border-color: #a00;
}


header .hero .action-form .form-group.car_type {
	display: none;
}
header .hero .action-form.active .form-group.car_type {
	display: block;
}

header .hero .action-form optgroup[label] {
	display: none;
}

header .hero .action-form .title,
header .hero .action-form h3 {
	font-weight: 900;
	text-shadow: none;
	color: #51b989;
	font-size: 22px;
	margin-bottom: 24px;
	max-width: 300px;
}
.page-id-12663 header .hero .action-form .title,
header .hero .action-form h3 {
	font-weight: 900;
	text-shadow: none;
	color: #51b989;
	font-size: 21px;
	margin-bottom: 24px;
	max-width: 300px;
}

header .hero .action-form .btn {
    width: auto;
    padding: 0 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

header .hero h1 {
	text-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
}

header .hero h2 {
	text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

header .usp-bar {
	background-color: #f1faf6;
	height: 64px;
	line-height: 64px;  
	font-size: 15px;
  	font-weight: 900;
  	color: #51b989;
}


header .usp-bar .container {
	padding: 0 30px;
}

header .usp-bar ul li {
	display: inline-block;
	margin-right: 40px;
}

header .usp-bar ul li img {
	margin-right: 6px;
}

header h1 {
  font-family: Muli;
  font-size: 48px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
h1 {
  font-family: Muli;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #060f0b;
  margin-bottom: 24px;
}
h2 {
  font-family: Muli;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #060f0b;
}
header h2 {
  font-family: Muli;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  max-width: 450px;
}
h2.---White {
  font-family: Muli;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
h3 {
  font-family: Muli;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--laadkompas-mint);
}
h3.---White {
  color: #ffffff;
}
h3.---Small {
  font-family: Muli;
  font-size: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  color: var(--almost-black);
}

form label {
	display: block;
	font-weight: 900;
	font-size: 14px;
	color: #050c08;
	margin-bottom: 8px;
}

form .Button-Label {
  font-family: Muli;
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}
p {
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 23px;
  letter-spacing: normal;
  color: #6e706f;
  margin-bottom: 20px;
}
p.---White {
  color: #ffffff;
}
p.---Black {
  color: var(--almost-black);
}
a.---White {
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ffffff;
}
.text-center {
	text-align: center;
}
nav {
	background-color: #51b989;
	width: 100%;
	/*height: 108px;*/
}

nav .container {
  	padding: 10px 40px;
	max-width: 1300px;
}

nav .logo {
	display: inline-block;
	color: #fff;
	max-height: 60px;
	font-size: 28px;
	text-decoration: none;
	font-family: 'Muli';
	font-weight: 800;
	line-height: 57px;
	float: left;
}

nav .logo span {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
}

nav .logo span:nth-child(1) {
	margin: 0 8px 4px;
}

nav .logo span:nth-child(2) {
	margin: 0 0 2px;
}

nav .progress-bar {
	height: 4px;
	background-color: #103423;
	position: relative; 
}

nav .progress-bar .progress {
	background-color: #ffcc39;
	height: 4px;
	position: absolute;
	left: 0;
	width: 33%;
}

nav .progress-bar .progress.progress1a {
	width: 43.04%;
}

nav .progress-bar .progress.progress1b {
	width: 53.08%;
}
nav .progress-bar .progress.progress1c {
	width: 63.12%;
}
nav .progress-bar .progress.progress1d {
	width: 73.16%;
}

nav .progress-bar .progress.progress2 {
	width: 85%;
}

nav .progress-bar .progress.progress3 {
	width: 100%;
}

nav .top-menu li {
	list-style-type: none;
	display: inline-block;
	padding: 0 8px;
}

nav .top-menu li a {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 60px;
}

nav .top-menu li.cart a {
	margin-left: 40px;
	position: relative;
	top: -3px;
}

nav .top-menu li a img {
	vertical-align: middle;
}

nav .top-menu li.last a {
	font-weight: 900;
}

nav .top-menu li.last a img{
	vertical-align: middle;
	margin-right: 8px;
}

nav .top-menu li.last {
	padding: 0 0 0 40px;
}

nav .top-menu li.slogan {
	font-size: 20px;
	color: #fff;
	position: absolute;
	right: 50%;
	transform: translateX(40%);
	top: 27px;
  	font-weight: 900;
  	display: block;
}

nav .top-menu li a.btn {
  display: none;
  width: auto;
  height: auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 8px 24px;  
  font-size: 16px;
  font-weight: 800;
  color: #14192e;
  line-height: normal;
}

nav .top-menu .cart {
	/*display: none;*/
	position: relative;
}

nav .top-menu .cart .count {
	width: 16px;
	height: 15px;
	line-height: 14px;
	padding: 0;
	text-align: center;
	background-color: #ffd965;
	color: #040a07;
	display: block;
	position: absolute;
	top: 14px;
	right: -8px;
	border-radius: 50%;
	font-weight: 900;
	font-size: 11px;
}


nav .menu_btn {
	float: left;
	display: block;
	width: 22px;
	margin-top: 3px;
	height: 17px;
	line-height: 70px;
	margin-left: 5px;
	display: none;
}

nav .header_menu {
	background-color: #fff;
	height: 48px;
	line-height: 45px;
}

.product-template-default nav .header_menu {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .header_menu .container {
	padding: 0 40px;
}

nav .header_menu .hidden {
	display: none;
}

nav .header_menu li {
	display: inline-block;
}

nav .header_menu li a {
  display: inline-block;
  font-size: 16px;
  color: #060f0b;
  margin: 0 20px;
}


nav .header_menu li:first-child a {
	margin-left: 0;
}

nav .header_menu li.right {
	float: right;
}

nav .header_menu li.hidden {
	display: none;
}

footer {
	background-color: #51b989;
	max-height: 626px;
	color: #fff;
}

footer .container {
    max-width: 1120px;
	padding: 64px 30px;
}

footer .container.last {
	padding-top: 40px;
}


footer .footer-bar {
	background-color: #45a378;
	height: 80px;
	line-height: 80px;
}

footer .line {
	height: 1px;
	display: block;
	width: 100%;
	background-color: rgba(163, 228, 198, 0.5);
}

footer .company-info {
	vertical-align: middle;
}
footer .company-info a.footer-logo {
	display: inline-block;
	position: relative;
	text-align: center;
}

footer .company-info a.footer-logo img {
	display: inline-block;
	width: 50px;
	max-width: 50px;
}

footer .company-info a.footer-logo span {
	font-size: 32px;
	color: #fff;
	display: block;
	font-weight: 900;
}

footer .company-info p {
	display: inline-block;
	color: #fff;	
	line-height: 26px;
	max-width: 610px;
	margin-left: 76px;
	font-size: 17px;
	margin-bottom: 0;
}

footer .column-4 .title {
	margin-bottom: 9px;
	text-align: left;  
	font-size: 20px;
  font-weight: 900;
}
footer .column-4 .title i {
	display: none;
}
footer .column-4 p {
	color: #fff;
	font-size: 15px;
}

footer .column-4 a {
	color: #fff;
	line-height: 28px;
	font-size: 15px;
	display: block;
}
footer .column-4 ul li ul li {
	margin-left: 24px;
}
footer .column-4 ul li {
	list-style-type: none;
}
footer .footer-bar .container{
	padding: 0 30px;
	height: 80px;
}
footer .footer-bar .copyright {
	font-size: 15px;
	float: left;
}

footer .footer-bar .copyright a{
	float: none;
	color: #fff;
	font-size: 14px;
}

footer .footer-bar a {
	float: left;
	display: inline;
}
footer .footer-bar .social {
	float: right;
	margin-right: 90px;
	padding: 10px 0;
}
footer .footer-bar .links a {
	color: #fff;
	font-size: 14px;
}
footer .links { 
	float: left;
	margin-right: 190px;
}
footer a.bold {
	font-size: 16px;
}
footer .footer-bar .social a {
	max-width: 32px;
	max-height: 32px;
	margin-left: 8px;
}


footer .footer-bar .links a:nth-child(1) {
	margin-right: 120px;
}

.footer-column-1 {
	width: 380px;
	padding: 0 15px;
	display: inline-block;
	float: left;
	margin-right: 64px;
}
.footer-column-2 {
	width: 306px;
	padding: 0 15px;
	display: inline-block;
	float: left;
	margin-right: 40px;
}

.footer-column-3 h4 a,
.footer-column-2 h4 a {
	font-size: 16px;
}
.footer-column-3 {
	width: 300px;
	padding: 0 15px;
	display: inline-block;
	float: left;
	margin-right: 0;
}

.footer-content .container {
	padding: 64px 30px;
}

.footer-content .column-content {
	padding-left: 40px;
	position: relative;
}

.footer-content .column-content img {
	position: absolute;
	left: 0;
}

.footer-content .column-content p {
	color: #fff;
	margin-bottom: 0;
	font-size: 14px;
}

.footer-content .row h4 {
	font-size: 20px;
	font-weight: 900;
}

.footer-content .row h4 a {
	color: #fff;
}

.woocommerce-message {
	border-top-color: #51b989;
}

.woocommerce-message::before {
	color: #51b989;
}

.woocommerce-message a {
	color: #51b989;
	text-decoration: underline;
	display: block;
    font-weight: bold;
    margin-top: 10px;
}


@media screen and (max-width: 1200px) {
	.container {
		/*overflow-x: hidden;*/
	}
	.info-block.right .images {
		margin-right: -140px;
	}
}

@media screen and (min-width: 1025px) {
	nav .header_menu{ 
		display: block !important; 
	}
	nav .header_menu li.current-page-ancestor a,
	nav .header_menu li.current-menu-item a {
		font-weight: 900;
		border-bottom: 4px solid #51b989;
	}

	nav .header_menu li a:hover {
		border-bottom: 4px solid #51b989;
	}


}

/* Medium Devices, Desktops */
@media screen and (max-width: 1024px) {
  .container {
	max-width: 874px;
	width: auto;
  }
  #cookie .container {
  	padding: 40px 20px 24px;
  }

  #cookie .right {
  	margin-top: 20px;
  }

  nav .top-menu .cart .count {
  	top: 16px;
  }

  nav .top-menu li.cart a {
  	top: 0;
  	position: relative;
  }

  .home .container.---Style.last {
  	padding-bottom: 0;
  }

  .info-block.right .images {
  	margin-right: -140px;
  }

  nav.funnel {
  	height: 130px;
  }
  nav.funnel .container {
  	height: 130px;
  }

	.product-category-banner p {
		max-width: 200px;
	}
  #menu_overlay.active {
  	position: fixed;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	top: 0;
  	  background-color: rgba(4, 10, 7, 0.5);
  	  z-index: 1000;
  }

  	nav .top-menu li {
		display: none;
	}


	nav .top-menu .cart {
		display: block;
	}
	nav {
		position: fixed;
		top: 0;
		z-index: 999;
  		height: 70px;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
	}
	nav .logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		line-height: 70px;
		font-size: 22px;
	}
	nav .logo span {
		display: none;
	}


  .container.---Style{ max-width: 874px; overflow: hidden; }

  nav .container {
	padding: 0 20px;
	/*height: 70px;*/
  }

  nav .menu_btn {
  	display: inline-block;
  	line-height: 70px;
  }

  nav .header_menu {
  	display: none;
  	position: absolute;
  	left: 0;
  	right: 0;
  	top: 60px;
  }

  nav .header_menu.active {
  	display: block;
  	height: 100%;
	position: fixed;
    background-color: #fff;
    width: 335px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    overflow-y: scroll;
    -webkit-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.4);
  }

	nav .header_menu .container {
		padding: 0 40px;
	}
	nav .header_menu li {
		display: block;
	}

	nav .header_menu li a {
		display: block;
		padding: 0;
	}
	nav .header_menu li a:not(.btn) {
		line-height: 40px;
		margin-left: 0;
	}
	nav .header_menu ul{
		height: auto;
		background-color: #fff;
		margin: 24px 0 0;
	}

	nav .header_menu li.right {
		float: none;
	}

	nav .header_menu li.right.hidden {
		border-top: solid 1px #e7eeeb;
		padding-top: 40px;
		margin-top: 40px;
	}
		
	nav .header_menu li.button {
		margin-top: 80px;
	}

	nav .header_menu li.button a {
		display: inline-block;
		width: auto;
		padding: 0 32px;
	    cursor: pointer;
	    height: 52px;
	    line-height: 52px;
	    background-color: #ffd866;
	    border: none;
	    font-size: 16px;
	    font-family: Muli;
	    font-weight: 900;
	    color: #14192e;
	}

	nav .header_menu li.hidden {
		display: block;
	}

	nav .header_menu .mobile-title {
		background-color: #51b989;
		height: 70px;
		line-height: 70px;
		position: relative;
		font-size: 24px;
		font-weight: 700;
		color: #fff;
		padding: 0 40px;
		display: block;
	}

	nav .header_menu .mobile-title a {
		display: inline-block;
		float: right;
	}

	header .usp-bar {
		height: auto;
		line-height: 30px;
		padding: 24px 0;
	}
	header .usp-bar ul li {
		display: block;
	}
	header h2 {
		max-width: 340px
	}

	nav .top-menu li.slogan {
		width: 300px;
		text-align: center;
		top: 80px;
		transform: translateX(50%);
		font-size: 18px;
	}



	.woocommerce-notices-wrapper.vergelijking {
		top: 70px;
	}
	
	.info-block .content {
		max-width: 320px;
		margin-top: 30px;
	}
	.info-block {
		min-height: 0;
	}
	.info-block .images .image:nth-child(1) {
	    max-width: 307px;
	    max-height: 256px;
	}
	.info-block .images .image:nth-child(2) {
	    max-width: 409px;
	    max-height: 320px;
	    margin-left: -160px;
	}
	.info-block.right.first .images {
		max-width: 540px;
	}
	.info-block.first .images .image:nth-child(1) {
		max-width: 422px;
		max-height: 254px;
	}
	.info-block.first .images .image:nth-child(1) {
		max-width: 446px;
		max-height: 440px;
	}
	.info-block.second .images .image:nth-child(1) {
		max-width: 435px;
		max-height: 341px;
	}
	.info-block.second .images .image:nth-child(2) {
		
	}
	.info-block.last .images .image:nth-child(1) {
		max-width: 473px;
		max-height: 371px;
	}
	.info-block.last .images .image {
		margin-left: -130px;
	}
	/*.info-block:first-child .images {
		margin-left: 100px;
	}*/

	footer .company-info p {
		margin-left: 113px;
		font-size: 16px;
		max-width: 57%;
	}
	footer .links {
		margin-right: 50px;
	}

	.footer-content .container .row > div {
		/*width: 33.33333367%;*/
		margin-right: 0;
	}

	.footer-content .column-content {
		padding-left: 50px;
	}

	.footer-content .column-content img {
		left: 10px;
	}
}

@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 820px) {

}
@media only screen and (max-width : 768px) {
	.container {
		padding: 120px 50px;
	}

	.container.single_page {
		padding: 120px 50px;
	}

	nav .top-menu .cart a {
		margin-right: 20px;
		margin-top: 0;
		line-height: 66px;
	}

	header .hero {
		min-height: 600px;

		background-image: url(../images/header-img-tablet.jpg);
		background-size: cover;
	}

	header .hero .action-form {
		left: 50%;
		transform: translateX(-50%);
		right: auto;
		bottom: -180px;
	}

	header h1 {
		font-size: 40px;
		margin-top: 80px;
		line-height: 46px;
	}

	header h2 {
		font-size: 18px;
		margin-bottom: 50px;
	}

	header .usp-bar ul {
		margin-top: 80px;
	}

	header .usp-bar.active {
		padding-top: 100px;
	}

	header .hero .action-form .title,
	header .hero .action-form h3 {
		font-size: 20px;
	}


	header .hero.shop h1, header .hero.shop h2 {
		float: none;
	}

	#cookie .container {
		padding: 40px 20px 24px;
	}

	#cookie .left {
		float: none;
		margin-bottom: 20px;
	}

	#cookie .right {
		float: none;
	}

	.product-category-banner-container {
		height: 168px;
		margin: 0 0 40px 0;
	}

	.info-block.right .images {
		margin-right: -80px;
	}

	.product-category-banner {
		position: absolute;
		left: 0;
		margin: 0;
		right: 0;
	}
	.product-category-banner .btn {
		margin-top: 8px;
	}


	.info-block.right.first .images {
		max-width: 60%;
	}
	.info-block.right.second .images {
		max-width: 60%;
	}
	.info-block .images {
		max-width: 30%;
	}
	.info-block .content {
		max-width: 40%;
	}
	.info-block.last .images {
		max-width: 40%;
	}

	footer {
		max-height: 100%;
	}
	footer .container.last {
		padding-top: 0;
	}
	.container.---Style{ max-width: 768px; overflow: hidden; }

	footer .column-4 {
		border-bottom: solid 1px rgba(163, 228, 198, 0.5);
	}

	footer .column-4 .title {
		font-size: 18px;
		max-width: 300px;
		margin: 15px auto;
	}
	footer .column-4 .title i {
		display: inline-block;
		float: right;
		margin-top: 4px;
	}
	footer .column-4 .title i::after {
		content: " ";
		display: block;
		height: 0px;
		clear: both;
	}

	footer .column-4 .collapse {
		display: none;
	}
	footer .column-4 .collapse.active {
		display: block;
		max-width: 300px;
		margin: 0 auto 15px;
	}

	footer .footer-content {
		overflow: hidden;
	}

	footer .column-4 .title i.active::before {
		content: "\f077";
	}

	footer .column-4 a,
	footer .column-4 p {
		font-size: 14px;
	}

	footer .footer-bar .copyright {
		font-size: 14px;
	}

	footer .footer-bar .links a:nth-child(2),
	footer .footer-bar .links a:nth-child(1) {
		margin-right: 40px;
		font-size: 14px;
	}
	footer .links {
		margin-right: 0;
	}
	footer .company-info a.footer-logo {
		margin-left: 0;
		display: block;
		margin-bottom: 16px;
	}

	footer .company-info p {
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.footer-content .container {
		
		padding: 64px 0;
	}

	.footer-content .container .row > div:not(.clearfix) {
		width: 100%;
		display: block;
		float: none;
	}

	.footer-content .container .row > .footer-column-3 {
		margin-bottom: 0 !important;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 550px) {
	.container {
		padding: 90px 60px;
	}
	header .usp-bar { 
		text-align: center;
	}
	header .usp-bar ul li {
		margin-right: 0;
	}

	.woocommerce-notices-wrapper.vergelijking {
		max-width: 320px;
		width: 320px;
	    left: 50%;
	    right: 0;
	    transform: translateX(-50%);
	}

	.woocommerce-notices-wrapper.vergelijking span {
		font-size: 14px;
	}

	#cookie .bottom p {
		font-size: 12px;
		margin-bottom: 20px;
	}

	#cookie .bottom label span:nth-child(1) {
		font-size: 12px;
	}

	#cookie .bottom.active {
		height: auto;
	}

	#cookie .bottom .text span {
		font-size: 11px;
		margin-right: 20px;
	}

	#cookie .bottom .options {
		margin-bottom: 20px;
	}

	#cookie .bottom .container {
		max-width: none;
	}

	.home .info-block.first .images .image:nth-child(1) {
		right: -100px;
		top: -50px;
	}

	.home .info-block.right.second .images .image:nth-child(1) {
		margin-left: -100px;
	}

	.home .info-block.right .images .image:nth-child(2) {
		margin-left: -200px;
	}

	.column-7,
	.column-5,
	.column-4,
	.column-3{ width: 100%; float: none; }

	.page-template-page-zon-homepage .action-form .column-7 {
		width: 60%;
		float: left;
	}

	header .hero.zonnepaneel {
		background-position: center top;
	}

	.page-template-page-zon-homepage .action-form .column-5 {
		width: 40%;
		float: left;
	}

	.---Funnel-buttons .button-right {
		float: none;
		text-align: center;
		margin-bottom: 40px;
	}
	.---Funnel-buttons .button-left {
		float: none;
		text-align: center;
	}
	.---Funnel-buttons .container {
		padding: 0 20px;
	}
	
	.product-category-banner p{
		display: none;
	}

	.product-category-banner {
		padding-left: 112px;
	}

	.product-category-banner .logo_content {
		position: absolute;
		left: 20px;
		top: 36px;
	}

	.info-block {
		margin-bottom: 80px;
	}
	.info-block .images {
		float: none;
	}
	.info-block .content {
		float: none;
		max-width: none;
	}
	.info-block .images .image{
		margin: 0 auto;
	}
	.info-block.second .images .image:nth-child(1) ,
	.info-block .images .image:nth-child(1) {
		max-width: 265px;
		max-height: 208px;
	}
	.info-block .images .image:nth-child(2) {
		position: relative;
		margin-top: -40px;
		/*margin-left: -200px;*/
		z-index: -1;
		max-width: 287px;
		max-height: 224px;
        left: 55px;
	}
	.info-block:first-child .images {
		margin: 0 auto;
		margin-left: 70px;
		max-width: 70%;
	}
	.info-block.right.second .images,
	.info-block.right .images {
		float: none;
		max-width: 100%;
	}
	.info-block.first .images .image:nth-child(1) {
		max-width: 304px;
		/*max-height: 239px;*/
	}
	.info-block.second .images .image:nth-child(2) {

		position: static;
	}	

	.info-block.right.second .images .image:nth-child(1) {
		margin-left: 30px;
		margin-right: 0;
	}
	.info-block.right.second .images .image:nth-child(2) {
		margin-left: 0;
	}
	.info-block.first .images .image:nth-child(2) {
		margin-top: 0;
	}
	.info-block.right.first .images {
		margin: 0 auto;
		max-width: 80%;
	}
	.info-block.last .images {
		max-width: 80%;
		margin: 0 auto;
	}
	.info-block .content h2 {
		font-size: 36px;
		line-height: 40px;
		margin: 64px 0 24px;
	}

	header .hero .action-form #car_type, 
	header .hero .action-form #car_brand {
		background-position: right;
	}

	.ribbon {
		width: 117px;
		height: 117px;
	}
	.ribbon span {
		font-size: 10px;
		padding-right: 35px;
	}
    .product-detail .picture .ribbon span {
    background-color: #ffcc39;
    padding-left: 42px;    
}
	.ribbon-top-left::before {
	    top: -1px;
	    right: 7px;
	}

	.page-template-page-zon-homepage .info-block.first .images .image:nth-child(1) {
		right: -100px;
		margin-right: 40px;
		top: -110px;
	}

	.page-template-page-zon-homepage .info-block.right .images .image:nth-child(2) {
		margin-left: -130px;
	}

	.page-template-page-zon-homepage .info-block.right.second .images .image:nth-child(1) {
		margin-right: -30px;
		position: relative;
		z-index: 1;
	}

	.page-template-page-zon-homepage .info-block:nth-child(1) {
		margin-bottom: 180px;
	}

	.page-template-page-zon-homepage .info-block:nth-child(1) .images .image:nth-child(1) {
		margin-right: -40px;
	}

	.page-template-page-zon-homepage .info-block:nth-child(1) .images .image:nth-child(2) {
		margin-left: -186px;
	}


	.page-template-page-zon-homepage .info-block.last .images .image:nth-child(1) {
		margin-right: 50px;
	}

	.page-template-page-zon-homepage .info-block.last .images .image:nth-child(2) {
		margin-left: 0;
	}

	.page-template-page-zon-homepage .info-block.second,
	.page-template-page-zon-homepage .info-block.last {
		margin-bottom: 0;
	}

	footer .company-info {
		padding: 0 0 40px 0;
	}
	footer .company-info p{ 
		max-width: 300px;
		margin: 22px auto 0;
		float: none;
	}
	footer .container.last {
		padding-top: 0;
	}

	footer .footer-bar {
		height: auto;
		line-height: normal;
		padding: 40px 0;
		 text-align: center;
	}
	footer .footer-bar .container {
		height: auto;
	}
	footer .footer-bar .copyright {
		float: none;
	}
	footer .footer-bar .social {
		margin: 0 auto;
		margin-bottom: 40px;
		float: none;
	}
	footer .footer-bar a {
		display: block;
		float: none;
	}
	footer .footer-bar .social a {
		display: inline-block;
		
	}
	footer .footer-bar .links a:nth-child(2), footer .footer-bar .links a:nth-child(1) {
		margin-left: : 0 !important;
		margin: 8px 0;
	}
	footer .links {
		float: none;
	}

	.column-5 .call-link {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 406px) {
	header .usp-bar {
	    padding: 40px 0 24px 0;
	}
	header .usp-bar.active {
		padding-top: 170px;
	}
}

@media screen and (max-width: 381px) {
	header .hero .action-form {
		width: 290px;
	}

	header .usp-bar {
	    padding: 85px 0 24px 0;
	}
}

@media screen and (max-width: 360px) {
	header .usp-bar {
	    padding: 40px 0 35px 0;
	}

}

@media screen and (max-width: 320px)
{
	header .hero .container {
		padding: 80px 30px;
	}
	header h1 {
		font-size: 32px;
		line-height: 40px;
		margin-top: 50px;
	}
	header h2 {
		font-size: 16px;
	}
	header .usp-bar ul {
		margin-top: 0;
	}
	.product-item .product .picture {
		float: none !important;
	}
	h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	nav .container {
		padding: 0 20px;
	}
	header .usp-bar.active {
		padding-top: 120px;
	}
}
/* call back qoute */
.q-1 {
    padding-right: 16px;
    padding-left: 16px;
}
.q-2 {
    padding-top: 5px;
}
/* label aanbieding shopcategorie */
.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 6px;
    padding-left: 6px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 0% !important;
    background-color: #52b989 !important;
    color: #fff;
    font-size: .80em;
    z-index: 9;
}

/* 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 

    	header .hero .action-form #car_type, header .hero .action-form #car_brand {
    		background-position: 240px 10px;
    	}
}
ul.children-1 {
    margin-left: 27px;
}

/* bedanktpagina */
a.bedanktbtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 132px;
    height: 52px;
    background-color: #ffd866;
    border: none;
    font-size: 16px;
    font-family: Muli;
    font-weight: 900;
    color: #14192e;
    width: auto;
    padding: 0 30px;
    line-height: 52px;
    height: 52px;
    display: inline-block;
}