
section.company-usps {
    margin-top: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 80px;
}
.postid-15216 section.company-usps {
    margin-top: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 80px;
    display: none;
}
.postid-15165 section.company-usps {
    margin-top: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 80px;
    display: none;
}
.postid-12590 section.company-usps {
    margin-top: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 80px;
    display: none;
}
.postid-15530 section.company-usps {
    margin-top: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 80px;
    display: none;
}

.postid-15530 div#anchor_ts {
    display: none;
}
.postid-15519 section.company-usps {
   margin-top: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 80px;
    display: none;
}
.postid-15519 div#anchor_ts {
    display: none;
}

.postid-15519 .row-page_links {
    margin-top: 80px;
    display: none;
}

section.company-usps .container {
    padding: 40px 0;
}

section.company-usps .item {
	text-align: center;
}

section.company-usps.second .item .title {
	display: inline-block;
	max-width: 110px;
}

section.company-usps .item h4 > img {
	position: static;
	margin-right: 8px;
}

section.company-usps.second .item {
	text-align: left;
	position: relative;
	padding-left: 72px;
	height: 64px;
}

section.company-usps.second .item img {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	max-height: 60px;
}

section.company-usps.second .title {
	font-size: 16px;
	vertical-align: middle;
	font-weight: bold;
}
