body {
	background-color: #f9f9f9;
}
.container {
	padding: 0;
	max-width: 1200px;
}

.arrow-right {
	background-color: #51b989;
	width: 40px;
	height: 40px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 12px 0;
	position: absolute;
	right: 0px;
	z-index: 110;
	bottom: -70px;
	display: none;
}


.form-group {
	margin-bottom: 8px;
}

.footer-content .container {
	overflow: hidden;
}

.route-labels {
	position: absolute;
	top: 900px;
	left: 50%;
	width: 920px;
	transform: translateX(-60%);
}

.route-labels span {
	display: inline-block;
	font-size: 16px;
	font-weight: 900;
	color: #040a07;
	margin-right: 16px;
	vertical-align: top;
	width: 190px;
	text-align: right;
}

.route-labels ul {
	display: inline-block;
	vertical-align: top;
	max-width: 700px;
}

.route-labels ul li{
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
	margin-bottom: 8px;
}

.route-labels ul li a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #14192e;
	border-radius: 17px;
	background-color: #e4e4e4;
	padding: 8px 24px;
}

.route-labels ul li a:hover {
	background-color: #fff;
}

.product-cards .products > li .compare {
	top: 0 !important;
	right: 38px !important;
}

.product-cards .products > li .compare label {
	font-size: 12px !important;
}

.product-cards .products > li.active .compare {
	top: 6px;
	right: 38px;
}

section.specifications {
	max-width: 980px;
	object-fit: contain;
	border-top: solid 1px rgba(81, 185, 137, 0.3);
	padding-bottom: 48px;
}

section.specifications.closed {
	height: 1px;
	min-height: 0;
	margin-bottom: 6px;
	overflow: hidden;
}

section.specifications .spec-title {
	font-size: 17px;
	font-weight: 900;
	color: #51b989;
	position: relative;
	margin: 16px 0 32px;
	padding-left: 24px;
	cursor: pointer;
}

section.specifications .spec-title .arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	left: 0;
	top: 8px;
	border-width: 6px 5.5px 0 5.5px;
	border-color: #51b989 transparent transparent transparent;	
}

section.specifications.closed .spec-title .arrow {
	border-width: 0 5.5px 6px 5.5px;
	border-color: transparent transparent #51b989 transparent;
}

section.specifications .spec-info {
	display: block;
	width: 210px;
	float: left;
}


section.specifications .spec-info ul li {
	display: block;
	color: #6e706f;
	font-size: 14px;
	height: 56px;
	position: relative;
}

section.specifications .spec-info ul li.sub span {
	margin-left: 20px;
}

section.specifications .spec-info ul li span {
	font-size: 14px;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-width: 140px;
}

section.specifications .spec-info ul li img {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);

}

section.specifications .product-cards {
	float: left;
	max-width: 768px;
	margin-bottom: 0;
}

.product-cards.top {
	margin-bottom: 250px;
}

section.specifications .product-cards .products {
	max-width: none;
}

section.specifications .product-cards .products > li.active {
	top: -6px;
	padding-top: 6px;
	padding-bottom: 7px;
}
section.specifications .product-cards .products > li {
	min-height: 0;
	padding: 0;
}

section.specifications .product-cards ul.results li a,
section.specifications .product-cards ul.results li span:not(.color):not(.sku) {
	display: none;
}
section.specifications .product-cards ul.results li.more a {
	display: block;
	position: static;
}
section.specifications .product-cards ul.results li {
	height: 56px;
	line-height: 56px;
	display: block;
	border-bottom: 1px solid #ebeaea;
	text-align: center;
	font-size: 14px;
	color: #6e706f;
}

section.specifications .product-cards .products > li {
	float: left;
}

section.specifications .product-cards .buttons {
	margin-bottom: 120px;
}

section.specifications .product-cards .buttons li {
	display: inline-block;
	max-width: 256px;
	width: 256px;
	float: left;
	margin-top: 20px;
	position: relative;
}

section.specifications .product-cards .buttons li .btn {
	max-width: none;
	padding: 0 32px;
	width: 185px;
	display: inline-block;
	line-height: 52px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

section.specifications .product-cards ul.results li i {
	color: #d03e3e;
	font-size: 20px;
}

section.specifications .product-cards ul.results li span.long {
	line-height: 20px;
	display: inline-block;
	height: 56px;
	padding: 7px 0;
}

section.specifications .product-cards ul.results li span.price {
	color: #040a07;
}

section.specifications .product-cards ul.results li:last-child {
	border-bottom: none;
}

section.specifications.technical .product-cards ul.results li {
	text-align: left;
	padding: 0 27px;
}

section.specifications .product-cards ul.results li a {
	font-weight: 900;
	color: #51b989;
	font-size: 14px;
	text-decoration: underline;
}

section.specifications .product-cards ul.results li.button {
	background-color: transparent;
}

section.specifications .spec-info ul li.small,
section.specifications .product-cards ul.results .small {
	height: 16px;
	border-bottom: none;
}

span.color {
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 50%;
	
	margin: 0 8px 0;
}
span.color-light {
	background-color: #f1f0ea;
}
span.color-light-grey {
	background-color: #f1ece1;
}
span.color-grey {
	background-color: #8e9291;
}
span.color-dark-grey {
	background-color: #383e42;
}

@media screen and (max-width: 1024px) {
	body > .container.first,
	body > .container {
		margin-top: 150px;
	}
	body > .container.scroll {
		margin-top: 0;
	}
	section.company-usps .container {
	    margin: 0 40px;
	}

	.route-labels {
		top: 890px;
	}
	section.specifications {
		margin: 0 10px;
		max-width: none;
	}
	.product-cards.top {

	}
}

@media screen and (max-width: 768px){
	.container.scroll > .product-cards {
		margin-bottom: 220px;
	}
	.switch-box {
		z-index: 99;
	}
	.switch-box .switch {
		margin-right: 0 !important;
	}
	.route-labels {
		width: 700px;
		max-width: 700px;
		margin: 0 auto;
		transform: translateX(-50%);
		top: 950px;
	}
	.route-labels span {
		display: block;
		text-align: left;
		margin-bottom: 8px;
		margin-left: 8px;
	}

	span.sku {
		display: block;
	    line-height: 13px;
	    position: relative;
	    top: 20px;
	}

	section.specifications.technical .product-cards ul.results li {
		text-align: center;
	}

	section.specifications .spec-info {
		display: none;
		float: none;
	}

	.switch-box {
		margin-right: 20px;
	}

	section.specifications .product-cards {
		float: none;
	}
	section.specifications .product-cards .buttons {
		margin-left: 0;
		display: none;
	}

	section.specifications.plus {
		padding-bottom: 180px;
	}

	section.specifications .product-cards .buttons li {
		width: 33.3333367%;
	}
	section.specifications .product-cards ul.results li {
		line-height: normal;
		position: relative;
	}
	section.specifications .product-cards ul.results li i,
	section.specifications .product-cards ul.results li img {
		padding-top: 32px;
	}
	
	section.specifications .product-cards ul.results li span:not(.color):not(.sku) {
		position: absolute;
		display: block;
		top: 4px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 10px;
		min-width: 130px;
		color: #14192e;
	}
	section.specifications .product-cards ul.results li span.add_price {
		top: 30px;
		color: #6e706f;
	}
	
	section.specifications .product-cards ul.results li a{
		position: absolute;
		display: inline-block;
		right: 4px	;
		top: 4px;
	}
	section.specifications .product-cards .products > li.active a {
		top: 2px;
	}
	section.specifications .product-cards ul.results li a img {
		padding-top: 0;
	}

	.product-cards.top.fixed-top {
		position: fixed;
		top: 30px;
		z-index: 999;
		left: 0;
		right: 0;
		overflow-x: auto;
	}

	.product-cards.top.fixed-top .products li .btn,
	.product-cards.top.fixed-top .specs,
	.product-cards.top.fixed-top .ribbon,
	.product-cards.top.fixed-top .compare,
	.product-cards.top.fixed-top .products li .info-link {
		display: none;
	}	


	.product-cards.top.fixed-top .products > li.active {
		top: 0;
	}

	.product-cards.top.fixed-top .products > li .picture {
		margin-top: 10px;
	}


	.product-cards.top.fixed-top .products > li {
		height: 194px;
		min-height: 0;
	}

	.product-cards.top.fixed-top .products li .picture  {
		margin-bottom: 0;
		height: 100px;
	}
	.product-cards.top.fixed-top .products li .picture img {
		height: 100px;

	}
	section.specifications:not(.plus):not(.min) .product-cards ul.results li {
		line-height: 56px;
	}
	section.specifications:not(.plus):not(.min) .product-cards ul.results li span:not(.price):not(.color):not(.long):not(.sku) {
		top: -18px;
	}
	section.specifications:not(.plus):not(.min) .product-cards ul.results li span.long {
		top: 14px;
	}
	section.specifications:not(.plus):not(.min) .product-cards .products .results li a {
		top: -12px;
	}
	section.specifications .product-cards ul.results li span.price {
		font-size: 12px;
	}
	section.specifications .product-cards ul.results li span.color {
		margin-top: 22px;
	}

	.ribbon-top-right span {
		left: -30px;
		padding-left: 0;
	}
}

@media screen and (min-width: 551px) and (max-width: 768px) {
	section.specifications.plus {
		margin-top: 330px;
	}
}

@media screen and (max-width: 550px) {
	body > .container.first{
		margin-top: 80px;
	}

	body .container.scroll {
		overflow-x: scroll;
		margin-top: 0;
	}
	.arrow-right { 
		display: block;
	}
	.product-cards {
		padding-top: 28px;
	}
	.product-cards.top {
	/*margin-top: 30px;*/
	padding-top: 28px;
	}
	.product-cards.top.fixed-top {
		top: 42px;
	}

	.product-cards .products > li {
	    width: 176px;
	}
	.product-cards .products {
		width: 528px;
	}

	.switch-box {
		bottom: -30px;
	}

	.switch-box .switch {
		margin-right: 30px;
	}

	.route-labels {
		width: 320px;
		max-width: none;
		top: 810px;
		left: 180px;
		display: none;
	}
	.route-labels ul li a {
		font-size: 11px;
	}	
	.product-cards {
		margin-bottom: 0;
	}
	.container.scroll > .product-cards {
		margin-bottom: 0;
	}
	section.specifications { 
		margin: 0;
	}

	section.specifications.plus { 
		margin-top: 356px;
		padding-bottom: 48px;
	}
	section.specifications .spec-title {
		margin-bottom: 0;
		margin-left: 10px;
	}
	section.specifications .product-cards ul.results li .long {

		line-height: 14px !important;
	}
	section.specifications .product-cards ul.results li {
		font-size: 12px;
	}
	section.specifications .spec-info ul li.small, section.specifications .product-cards ul.results .small {
		height: 40px;
		border-bottom: 1px solid #ebeaea;
		line-height: 30px;
	}
}

@media screen and (max-width: 320px)
{
	.switch-box {
		bottom: -15px;
	}
}