body.sun_relative {
	position: relative;
}

.sun_overlay {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1000;
}


header .hero .action-form {
	height: auto;
}

.action-form .column-5 {
	float: left;
}

.action-form .row {
	margin: 0 -4px;
}
.action-form .column-5,
.action-form .column-7 {
	padding: 0 4px;
}

.action-form .action-form-usps {
	margin-bottom: 20px;
}

.action-form .action-form-usps li {
	display: block;
	font-weight: 900;
	color:  #232323;
	font-size: 14px;
	margin-bottom: 5px;
}

.action-form .header_box_ondertekst {
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	color: #51b989;
	text-align: center;
}

.hero .kiyoh_txt {
	display: inline-block;
	padding:  10px 15px 10px 10px;
	font-size: 14px;
	color: #232323;
	font-weight: 900;
    position: absolute;
    bottom: -60px;
}

.hero .kiyoh_txt img {
	max-width: 40px;
	vertical-align: middle;
	margin-right: 10px;
}

.hero .kiyoh_txt span {
	font-size: 16px;
}

header .hero .action-form.active {
	height: 270px;
}


header .hero .action-form .form-control {
	appearance: auto;
    -moz-appearance: auto;
	-webkit-appearance: auto;
}

#sun_overlay_form .form-control.wpcf7-not-valid,
.action-form .form-control.error {
	border-color: rgb(185, 74, 72);
}

#sun_overlay_form {
	display: none;
	position: fixed;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	right: 50%;
	width: 700px;
	height: auto;
	padding: 50px 60px 10px;
	background-color: #fff;
	z-index: 10000;
}

#sun_overlay_form .form_title {
    font-weight: 900;
    color: #040a07;
    text-align: center;
    font-size: 36px;
}

#sun_overlay_form form {
	margin: 0 80px;
}

#sun_overlay_form .slogan {
	font-size: 18px;
	line-height: 22px;
	margin: 10px 0 30px;
	text-align: center;
}

#sun_overlay_form .row.next {
	margin-top: 20px;
}

#sun_overlay_form .column-12 {
	width: 100%;
	display: inline-block;
	padding: 0 15px;
}

#sun_overlay_form .pull-right {
	float: right;
}

#sun_overlay_form .address_label {
	margin-top: 20px;
	position: relative;
}

#sun_overlay_form .address_label img {
	vertical-align: middle;
	position: absolute;
	left: 0;
}

#sun_overlay_form .address_label span {
	color: #51b989;
	font-weight: bold;
	font-size: 12px;
	padding-left: 23px;
	vertical-align: middle;
	display: block;
    padding-top: 3px;
}

#sun_overlay_form .close {
	color: #040a07;
	position: absolute;
	right: 40px;
	top: 20px;
}

#sun_overlay_form .wpcf7 form.invalid .wpcf7-response-output {
	margin: 0em 0em 1em;
	text-align: center;
	font-size: 13px;
	border: 1px solid rgb(185, 74, 72);
	color: rgb(185, 74, 72);
	padding: 4px 0;
}

#sun_overlay_form .wpcf7 form.sent .wpcf7-response-output {
	margin: 0em 0em 1em;
	text-align: center;
	font-size: 13px;
	border: 1px solid #45a378;
	color: #45a378;
	padding: 4px 0;
}

#sun_overlay_form .hidden {
	display: none;
}

/* Products */
.product-item .product div:not(.picture,.right) .title {
    font-size: 20px;
    font-weight: 900;
    color: #51b989;
    display: block;
    margin-bottom: 16px;
}
.product-item .product .price {
	margin-bottom: 0;
}

.product-item .product .price span {
    font-size: 12px;
    color: #6e706f;
    font-weight: 600;
}

.product-item .product .left p {
    font-size: 12px;
    color: #6e706f;
    font-weight: 600;
}

@media screen and (max-width: 1024px)
{
	.product-item > .product ul {
		min-height: 0;
	}
}

@media screen and (max-width: 768px)
{
	header .hero .action-form.active {
		top: 150px;
	}
	.customerReviews {
		margin-top: 200px;
	}
	#sun_overlay_form {
		left: 20px;
		right: 20px;
		transform: none;
		width: auto;
	}

	#sun_overlay_form {
		padding: 50px 20px 10px;
	}

	#sun_overlay_form form {
		margin: 0;
	}


	.hero .kiyoh_txt {
		position: static;
	    margin-bottom: 10px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    max-width: 330px;
	}
} 

@media screen and (max-width: 550px)
{
	.action-form .column-7 {
		width: 60%;
		float: left;
	}
	.action-form .column-5 {
		width: 40%;
		float: left;
	}


	#sun_overlay_form .form_title {
		font-size: 28px;
		margin: 0 20px;
	}

	#sun_overlay_form .slogan {
		font-size: 16px;
		line-height: 18px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.container.--Products {
		margin-top: 160px;
		margin-bottom: -230px;
	}
	.product-item .product .price {
		line-height: normal;	
	}
	.product-item .product .details {
		width: 100%;
		margin-top: 20px;
	}
	.product-item .product .price span {
		display: block;
	}
}

@media screen and (max-width: 376px) {
	.action-form .action-form-usps li {
		font-size: 11px;
	}
	.hero .kiyoh_txt {
		text-align: center;
	}
}